workflows/full_workflow_payload_utf8.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "wassender-immobilier", "options": {"rawBody": false}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-6944, 232], "id": "1870e6a9-6b02-4de6-94e8-23210c9e7341", "name": "Webhook Wassender", "webhookId": "wassender-immobilier-webhook"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json; const event = body.event || ''; const data = body.data || body; if (event && !event.includes('message')) { return []; } let msg = null; if (Array.isArray(data.messages)) { msg = data.messages[0]; } else if (data.messages && typeof data.messages === 'object') { msg = data.messages; } else if (data.message) { msg = data.message; } else { msg = data; } if (!msg) return []; const key = msg.key || {}; const message = msg.message || {}; const remoteJid = key.remoteJid || msg.remoteJid || ''; const fromMe = key.fromMe === true || key.fromMe === 'true'; const pushName = msg.pushName || msg.senderName || ''; const messageTimestamp = msg.messageTimestamp || msg.timestamp || Math.floor(Date.now() / 1000); const messageId = key.id || msg.id || ''; const participant = key.participant || msg.participant || ''; if (remoteJid === 'status@broadcast') return []; if (message.reactionMessage) return []; if (message.protocolMessage) return []; if (message.senderKeyDistributionMessage && !message.conversation && !message.extendedTextMessage && !message.imageMessage && !message.audioMessage && !message.videoMessage && !message.documentMessage) return []; let messageBody = msg.messageBody || msg.body || ''; if (!messageBody && message.conversation) messageBody = message.conversation; if (!messageBody && message.extendedTextMessage?.text) messageBody = message.extendedTextMessage.text; if (!messageBody && message.imageMessage?.caption) messageBody = message.imageMessage.caption; if (!messageBody && message.videoMessage?.caption) messageBody = message.videoMessage.caption; if (!messageBody && message.documentMessage?.caption) messageBody = message.documentMessage.caption; const isGroup = remoteJid.includes('g.us'); let cleanedSenderPn = ''; if (isGroup) { if (key.cleanedParticipantPn) cleanedSenderPn = key.cleanedParticipantPn; else if (key.participantPn) cleanedSenderPn = key.participantPn.replace(/@s\\.whatsapp\\.net/g, ''); else if (participant && participant.includes('@s.whatsapp.net')) cleanedSenderPn = participant.replace(/@s\\.whatsapp\\.net/g, ''); else if (msg.cleanedParticipantPn) cleanedSenderPn = msg.cleanedParticipantPn; else if (participant) cleanedSenderPn = participant.replace(/@lid/g, '').replace(/@s\\.whatsapp\\.net/g, ''); } else if (remoteJid) { cleanedSenderPn = remoteJid.replace(/@s\\.whatsapp\\.net/g, ''); } if (!cleanedSenderPn && key.cleanedSenderPn) cleanedSenderPn = key.cleanedSenderPn; if (!cleanedSenderPn && msg.cleanedSenderPn) cleanedSenderPn = msg.cleanedSenderPn; return [{ json: { remoteJid, fromMe, pushName, messageTimestamp, messageBody, messageId, participant, cleanedSenderPn, isGroup, key, message, rawMsg: msg } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-6720, 232], "id": "7f18d7ba-eb72-4266-a5e4-f4f56f7426e8", "name": "Normaliser Webhook"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-group", "leftValue": "={{ $json.remoteJid }}", "rightValue": "g.us", "operator": {"type": "string", "operation": "contains"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6496, 232], "id": "7730ae8a-d24e-4784-bb61-01d7bea272ea", "name": "Est un Groupe?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/getGroupMetadata", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"groupId\": \"{{ $json.remoteJid }}\"\n}", "options": {"timeout": 10000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-6272, 40], "id": "7d4b40bd-c354-40b5-9827-63e6a9387748", "name": "Recuperer Nom Groupe"}, {"parameters": {"jsCode": "const groupResult = $input.first().json; const normalized = $('Normaliser Webhook').first().json; let nomGroupe = ''; try { const candidates = [ groupResult.subject, groupResult.name, groupResult.groupName, groupResult.group_name, groupResult.title, groupResult.data?.subject, groupResult.data?.name, groupResult.data?.groupName, groupResult.data?.group_name, groupResult.data?.title, groupResult.group?.subject, groupResult.group?.name, groupResult.metadata?.subject, groupResult.metadata?.name, groupResult.result?.subject, groupResult.result?.name, groupResult.response?.subject, groupResult.response?.name, groupResult.data?.group?.subject, groupResult.data?.group?.name, groupResult.data?.metadata?.subject, groupResult.result?.group?.subject, groupResult.result?.data?.subject, groupResult.response?.data?.subject, ]; for (const candidate of candidates) { if (candidate && typeof candidate === 'string' && candidate.trim() !== '') { nomGroupe = candidate.trim(); break; } } if (!nomGroupe) { function findGroupName(obj, depth) { if (!obj || typeof obj !== 'object' || depth > 4) return ''; const keys = ['subject', 'name', 'groupName', 'group_name', 'title']; for (const key of keys) { if (obj[key] && typeof obj[key] === 'string' && obj[key].trim() !== '') { return obj[key].trim(); } } for (const key of Object.keys(obj)) { if (typeof obj[key] === 'object' && obj[key] !== null) { const found = findGroupName(obj[key], depth + 1); if (found) return found; } } return ''; } nomGroupe = findGroupName(groupResult, 0); } } catch(e) { nomGroupe = ''; } if (!nomGroupe || nomGroupe.trim() === '') { const jid = normalized.remoteJid || ''; const cleanJid = jid.replace(/@g\\.us/g, '').replace(/@s\\.whatsapp\\.net/g, ''); nomGroupe = cleanJid ? 'Groupe ' + cleanJid : 'Groupe inconnu'; } return [{ json: { ...normalized, nomGroupe: nomGroupe } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-6048, 40], "id": "e35a8bb3-ab78-483f-9939-a98db0666afd", "name": "Extraire Nom Groupe"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-fromme", "leftValue": "={{ $json.fromMe }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5824, 40], "id": "2d69d84d-7d16-42bb-8ecb-afbed092f91d", "name": "Message Sortant?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-5600, -56], "id": "df79859e-b1fc-4f03-9401-5623ee2f508c", "name": "Ignorer sortant"}, {"parameters": {"jsCode": "const normalized = $('Extraire Nom Groupe').first().json; const message = normalized.message || {}; const key = normalized.key || {}; const hasImage = !!message.imageMessage; const hasAudio = !!message.audioMessage; const hasVideo = !!message.videoMessage; const hasDocument = !!message.documentMessage; const hasContact = !!message.contactMessage || !!message.contactsArrayMessage; const hasLocation = !!message.locationMessage || !!message.liveLocationMessage; const hasConversation = !!message.conversation; const hasExtendedText = !!(message.extendedTextMessage && message.extendedTextMessage.text); const hasCaption = !!(message.imageMessage?.caption || message.videoMessage?.caption || message.documentMessage?.caption); const messageBody = normalized.messageBody || ''; const hasMessageBody = messageBody.trim().length > 0; const hasSticker = !!message.stickerMessage; if (hasSticker && !hasMessageBody && !hasImage && !hasAudio && !hasVideo && !hasDocument) { return [{ json: { _skip: true, _reason: 'Sticker seul', Message: '', has_image: false, has_text: false } }]; } const hasAnyContent = hasImage || hasAudio || hasVideo || hasDocument || hasContact || hasLocation || hasConversation || hasExtendedText || hasMessageBody; if (!hasAnyContent) { return [{ json: { _skip: true, _reason: 'Aucun contenu d\u00e9tectable', Message: '', has_image: false, has_text: false } }]; } let telephone = normalized.cleanedSenderPn || ''; if (!telephone) { const participant = normalized.participant || ''; if (participant) { telephone = participant.replace(/@s\\.whatsapp\\.net/g, '').replace(/@lid/g, ''); } if (!telephone && key.remoteJid) { telephone = key.remoteJid.replace(/@s\\.whatsapp\\.net/g, '').replace(/@g\\.us/g, ''); } } if (!telephone) { telephone = 'inconnu_' + (normalized.messageId || Date.now()); } const ts = normalized.messageTimestamp; let tsNum = 0; try { tsNum = typeof ts === 'string' ? parseInt(ts) : (ts || 0); if (isNaN(tsNum)) tsNum = Math.floor(Date.now() / 1000); } catch(e) { tsNum = Math.floor(Date.now() / 1000); } let horodatage = ''; try { horodatage = new Date(tsNum * 1000).toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); } catch(e) { horodatage = new Date().toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); } let texte = ''; if (message.imageMessage?.caption) texte = message.imageMessage.caption; else if (message.videoMessage?.caption) texte = message.videoMessage.caption; else if (message.documentMessage?.caption) texte = message.documentMessage.caption; else if (hasMessageBody) texte = messageBody; else if (hasConversation) texte = message.conversation; else if (hasExtendedText) texte = message.extendedTextMessage.text; let type = 'texte'; if (hasAudio) type = 'audio'; else if (hasVideo && texte.length > 0) type = 'video+texte'; else if (hasVideo) type = 'video'; else if (hasImage && texte.length > 0) type = 'image+texte'; else if (hasImage) type = 'image'; else if (hasDocument) type = 'document'; else if (hasContact) type = 'contact'; else if (hasLocation) type = 'location'; let imageInfo = null; if (hasImage) { const im = message.imageMessage; imageInfo = { url: im.url || '', mimetype: im.mimetype || 'image/jpeg', mediaKey: im.mediaKey || '', directPath: im.directPath || '', fileEncSha256: im.fileEncSha256 || '', fileSha256: im.fileSha256 || '', fileLength: im.fileLength || '' }; } let audioInfo = null; if (hasAudio) { const au = message.audioMessage; audioInfo = { url: au.url || '', mimetype: au.mimetype || 'audio/ogg', mediaKey: au.mediaKey || '', directPath: au.directPath || '', fileEncSha256: au.fileEncSha256 || '', fileSha256: au.fileSha256 || '', fileLength: au.fileLength || '', seconds: au.seconds || 0, ptt: au.ptt || false }; } let videoInfo = null; if (hasVideo) { const vi = message.videoMessage; videoInfo = { url: vi.url || '', mimetype: vi.mimetype || 'video/mp4', mediaKey: vi.mediaKey || '', directPath: vi.directPath || '', fileEncSha256: vi.fileEncSha256 || '', fileSha256: vi.fileSha256 || '', fileLength: vi.fileLength || '', seconds: vi.seconds || 0, caption: vi.caption || '' }; } let documentInfo = null; if (hasDocument) { const doc = message.documentMessage; documentInfo = { url: doc.url || '', mimetype: doc.mimetype || '', mediaKey: doc.mediaKey || '', directPath: doc.directPath || '', fileName: doc.fileName || '', fileLength: doc.fileLength || '', caption: doc.caption || '' }; if (!texte && doc.fileName) texte = '[Document: ' + doc.fileName + ']'; } if (hasContact) { const ct = message.contactMessage || {}; const displayName = ct.displayName || ''; const vcard = ct.vcard || ''; const telMatch = vcard.match(/TEL[^:]*:([+\\d\\s-]+)/i); const contactTel = telMatch ? telMatch[1].replace(/[\\s-]/g, '') : ''; if (!texte) texte = '[Contact partag\u00e9: ' + displayName + (contactTel ? ' - ' + contactTel : '') + ']'; } if (hasLocation) { const loc = message.locationMessage || message.liveLocationMessage || {}; const lat = loc.degreesLatitude || ''; const lng = loc.degreesLongitude || ''; const locName = loc.name || ''; const locAddress = loc.address || ''; if (!texte) texte = '[Localisation: ' + (locName || locAddress || lat + ',' + lng) + ']'; } if (hasAudio && !texte) { texte = '[Message vocal - ' + (audioInfo.seconds || '?') + 's]'; } return [{ json: { _skip: false, Horodatage: horodatage, Groupe: normalized.remoteJid, Nom_Groupe: normalized.nomGroupe || '', Expediteur: normalized.pushName || 'Inconnu', Telephone: telephone, Message_ID: normalized.messageId, Type: type, Message: texte, has_image: hasImage, has_audio: hasAudio, has_video: hasVideo, has_document: hasDocument, has_contact: hasContact, has_location: hasLocation, has_text: (texte.length > 0), imageInfo: imageInfo, audioInfo: audioInfo, videoInfo: videoInfo, documentInfo: documentInfo, originalKeyId: key.id || normalized.messageId, Timestamp: tsNum, Timestamp_raw: normalized.messageTimestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-5600, 136], "id": "e84792de-cf1c-4851-bfc8-f8e14d498682", "name": "Extraction Commune"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-skip", "leftValue": "={{ $json._skip }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5376, 136], "id": "d79663c6-b4a9-4641-8acd-209e30fc4ac9", "name": "Contenu Exploitable?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-5152, 236], "id": "1d97c675-1aa6-48f1-bbfe-abb6276bcd08", "name": "Ignorer Sticker"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-audio-group", "leftValue": "={{ $json.has_audio }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5152, -32], "id": "e5ff6a75-a492-44c5-a522-19893114dbc6", "name": "Audio dans Groupe?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"audioMessage\": {\n          \"url\": \"{{ $json.audioInfo.url }}\",\n          \"mimetype\": \"{{ $json.audioInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.audioInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.audioInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.audioInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.audioInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.audioInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [-4808, -104], "id": "9d167600-1ec5-4ecc-afa4-9987d63a478c", "name": "Decrypter Audio Groupe"}, {"parameters": {"url": "={{ $json.publicUrl }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-4400, -104], "id": "7045bd46-ca21-4d42-aac7-43a064261992", "name": "Telecharger Audio Groupe"}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-4112, -104], "id": "e0e75f09-cf42-4586-9251-78db9c63147b", "name": "Transcrire Audio Groupe", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const extracted = $('Extraction Commune').first().json; const transcription = $input.first().json.text || ''; if (!transcription || transcription.trim().length < 5) { return [{ json: { ...extracted, Message: '[Vocal inaudible ou trop court]', Type: 'audio', has_text: true } }]; } return [{ json: { ...extracted, Message: transcription.trim(), Type: 'audio', has_text: true, has_audio: true, _audio_transcribed: true } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3888, -104], "id": "a165a347-85c0-4ed5-86ae-595959679fd9", "name": "Injecter Transcription"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications?telephone=eq.{{ encodeURIComponent($json.Telephone) }}&groupe=eq.{{ encodeURIComponent($json.Groupe) }}&message_timestamp=gte.{{ $json.Timestamp - 120 }}&message_timestamp=lte.{{ $json.Timestamp + 120 }}&order=message_timestamp.desc&limit=1&select=publication_id,message_timestamp", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3664, -32], "id": "4ac7354b-61ad-460a-86d0-b2a0f43787e5", "name": "Chercher Publication Existante"}, {"parameters": {"jsCode": "let extracted; try { extracted = $('Injecter Transcription').first().json; } catch(e) { extracted = $('Extraction Commune').first().json; } const searchResult = $input.first().json; let publicationId = ''; let isNewPublication = true; let imageOrder = 1; if (Array.isArray(searchResult) && searchResult.length > 0 && searchResult[0].publication_id) { publicationId = searchResult[0].publication_id; isNewPublication = false; imageOrder = 2; } else if (searchResult && !Array.isArray(searchResult) && searchResult.publication_id) { publicationId = searchResult.publication_id; isNewPublication = false; imageOrder = 2; } else { const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789'; let code = ''; for (let i = 0; i < 6; i++) { code += chars.charAt(Math.floor(Math.random() * chars.length)); } publicationId = 'PUB-' + extracted.Timestamp + '-' + code; isNewPublication = true; imageOrder = 1; } return [{ json: { ...extracted, Publication_ID: publicationId, Is_New_Publication: isNewPublication, Image_Order: imageOrder } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3440, -32], "id": "87fbade1-5f61-4249-bc5a-2d3fd9b4d029", "name": "Generer Publication ID"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-image", "leftValue": "={{ $json.has_image }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-3216, -32], "id": "217b2469-374b-411d-a872-0fae6df20a3e", "name": "A une Image?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"imageMessage\": {\n          \"url\": \"{{ $json.imageInfo.url }}\",\n          \"mimetype\": \"{{ $json.imageInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.imageInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.imageInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.imageInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.imageInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.imageInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-2992, -128], "id": "0d4858a7-eca3-4655-be3e-84119229beae", "name": "Decrypter Image"}, {"parameters": {"jsCode": "const decryptResult = $input.first().json; let publicUrl = ''; if (decryptResult.publicUrl) publicUrl = decryptResult.publicUrl; else if (decryptResult.data?.publicUrl) publicUrl = decryptResult.data.publicUrl; else if (decryptResult.url) publicUrl = decryptResult.url; else if (decryptResult.data?.url) publicUrl = decryptResult.data.url; if (publicUrl && publicUrl.startsWith('http')) { return [{ json: { publicUrl, decrypt_ok: true } }]; } else { return [{ json: { publicUrl: '', decrypt_ok: false } }]; }"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2768, -128], "id": "adf883be-846a-43b5-b3cd-3e9f8abf6ec1", "name": "Verifier Decryptage"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-decrypt-ok", "leftValue": "={{ $json.decrypt_ok }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-2544, -128], "id": "27ef3ccd-4fe8-40bb-85b2-f1478945c88f", "name": "Decryptage OK?"}, {"parameters": {"method": "POST", "url": "https://api.imgbb.com/1/upload", "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "key", "value": "9f8a1a2b1ec266006878b8e5e20f713e"}, {"name": "image", "value": "={{ $('Verifier Decryptage').first().json.publicUrl }}"}]}, "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-2320, -224], "id": "3112e81a-6f93-4a37-aa8b-f6d11023ca4d", "name": "Upload ImgBB"}, {"parameters": {"jsCode": "const imgbbResult = $input.first().json; const extracted = $('Generer Publication ID').first().json; let lienImage = ''; if (imgbbResult?.data?.url) lienImage = imgbbResult.data.url; else if (imgbbResult?.data?.display_url) lienImage = imgbbResult.data.display_url; else { try { lienImage = $('Verifier Decryptage').first().json.publicUrl || '[Upload echoue]'; } catch(e) { lienImage = '[Upload echoue]'; } } return [{ json: { Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, has_text: extracted.has_text, Image_Order: extracted.Image_Order, Timestamp: extracted.Timestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2096, -224], "id": "8621613c-afa5-46c9-b703-c9f9f28f2eef", "name": "Construire Donnees Image"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json; return [{ json: { Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: '[Decryptage echoue]', has_text: extracted.has_text, Image_Order: extracted.Image_Order, Timestamp: extracted.Timestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2096, 20], "id": "e20ec802-311d-479f-8117-b5c4975b99fa", "name": "Fallback Image"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/images?on_conflict=message_id", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal,resolution=merge-duplicates"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"message_timestamp\": {{ $json.Timestamp }},\n  \"image_order\": {{ $json.Image_Order }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1872, -128], "id": "d26672d1-6c96-4cbe-9223-5ede90d149cb", "name": "Supabase IMAGES"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-caption", "leftValue": "={{ $('Generer Publication ID').first().json.has_text }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-1648, -128], "id": "ccdf78e7-ca50-47d1-8825-a1911c865158", "name": "A aussi du texte?"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json; let lienImage = ''; try { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; } catch(e) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) { lienImage = '[Non disponible]'; } } return [{ json: { Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: 'image', Message: '[Image sans description textuelle]', Lien_Image: lienImage, Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID, Is_New_Publication: extracted.Is_New_Publication, Timestamp: extracted.Timestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, -32], "id": "b0ed683d-d866-4223-bc0e-7645e6a52553", "name": "Preparer Image Seule"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json; let lienImage = ''; try { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; } catch(e) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) { lienImage = '[Non disponible]'; } } return [{ json: { Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID, Is_New_Publication: extracted.Is_New_Publication, Timestamp: extracted.Timestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, -224], "id": "3698b692-4f30-43cf-a186-ff8aed8c1b39", "name": "Preparer Pub Image Texte"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json; return [{ json: { Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: '', Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID, Is_New_Publication: extracted.Is_New_Publication, Timestamp: extracted.Timestamp } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, 188], "id": "df154197-fca4-4571-9c00-51a57bb0e197", "name": "Preparer Pub Texte"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-new-pub", "leftValue": "={{ $json.Is_New_Publication }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-1200, -32], "id": "9268cc89-a649-4f0a-b0fd-1e3cb9ac84e3", "name": "Nouvelle Publication?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"message\": {{ JSON.stringify($json.Message) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_timestamp\": {{ $json.Timestamp }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-976, -128], "id": "11c7ef45-05e5-48a8-93fe-bff82b65f96f", "name": "Supabase PUBLICATION"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-976, 64], "id": "7c03e041-ef97-435c-a890-4d40c2cad26a", "name": "Image rattachee - Ignorer IA"}, {"parameters": {"jsCode": "const items = $input.all(); let pub = null; for (const item of items) { const raw = item.json; if (Array.isArray(raw)) { if (raw.length > 0) { pub = raw[0]; break; } } else if (raw && typeof raw === 'object' && raw.publication_id) { pub = raw; break; } else if (raw && typeof raw === 'object' && raw.message_id) { pub = raw; break; } else if (raw && typeof raw === 'object' && raw.message && raw.expediteur) { pub = raw; break; } else if (raw && typeof raw === 'object' && raw.id && raw.message) { pub = raw; break; } else if (raw && (raw.error || raw.statusCode >= 400)) { continue; } else if (raw && raw.Message !== undefined) { pub = { expediteur: raw.Expediteur || '', groupe: raw.Groupe || '', nom_groupe: raw.Nom_Groupe || '', message: raw.Message || '', telephone: raw.Telephone || '', horodatage: raw.Horodatage || '', type: raw.Type || '', lien_image: raw.Lien_Image || '', message_id: raw.Message_ID || '', publication_id: raw.Publication_ID || '', Timestamp: raw.Timestamp || '' }; break; } } if (!pub || !pub.message) { try { const ext = $('Generer Publication ID').first().json; let lienImage = ''; try { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; } catch(e1) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) {} } pub = { expediteur: ext.Expediteur || '', groupe: ext.Groupe || '', nom_groupe: ext.Nom_Groupe || '', message: ext.Message || '[Image sans description]', telephone: ext.Telephone || '', horodatage: ext.Horodatage || '', type: ext.Type || '', lien_image: lienImage, message_id: ext.Message_ID || '', publication_id: ext.Publication_ID || '', Timestamp: ext.Timestamp || '' }; } catch(e) { pub = { expediteur: '', groupe: '', nom_groupe: '', message: '[Donn\u00e9es non extraites]', telephone: '', horodatage: '', type: '', lien_image: '', message_id: 'unknown_' + Date.now(), publication_id: '', Timestamp: '' }; } } if (!pub.nom_groupe) { try { pub.nom_groupe = $('Generer Publication ID').first().json.Nom_Groupe || ''; } catch(e) {} } if (!pub.publication_id) { try { pub.publication_id = $('Generer Publication ID').first().json.Publication_ID || ''; } catch(e) {} } return [{ json: { expediteur: String(pub.expediteur || ''), groupe: String(pub.groupe || ''), nom_groupe: String(pub.nom_groupe || ''), message: String(pub.message || '[Vide]'), telephone: String(pub.telephone || ''), horodatage: String(pub.horodatage || ''), type: String(pub.type || ''), lien_image: String(pub.lien_image || ''), message_id: String(pub.message_id || ''), publication_id: String(pub.publication_id || ''), Timestamp: String(pub.Timestamp || pub.timestamp || '') } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-752, -128], "id": "88d45752-12c6-4d07-8cbc-3a614d9bc5ca", "name": "Extraire Donnees Publication"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "GPT-4.1-MINI"}, "responses": {"values": [{"role": "system", "content": "Tu es un assistant expert en immobilier ivoirien qui extrait des informations structur\u00e9es \u00e0 partir de publications post\u00e9es dans des groupes WhatsApp.\n\n# R\u00c8GLES D'EXTRACTION G\u00c9OGRAPHIQUE\n1. Zone g\u00e9ographique pr\u00e9cise : Recopie EXACTEMENT la localisation compl\u00e8te\n2. Commune : Extrais UNIQUEMENT le nom de la commune. Communes connues d'Abidjan : Cocody, Yopougon, Marcory, Koumassi, Treichville, Plateau, Adjam\u00e9, Abobo, Att\u00e9coub\u00e9, Port-Bou\u00ebt, Bingerville, Songon, Anyama.\n3. Quartier : Extrais le quartier ou sous-quartier.\n\n# R\u00c8GLES DE PRIX\nConvertis le prix en NOMBRE ENTIER UNIQUEMENT. Pas de FCFA, F, CFA.\nSi pas mentionn\u00e9, laisse vide \"\".\n\n# OUTPUT (JSON UNIQUEMENT)\n{\n  \"type_de_bien\": \"\",\n  \"type_offre\": \"Location/Vente\",\n  \"zone_geographique\": \"\",\n  \"commune\": \"\",\n  \"quartier\": \"\",\n  \"prix\": \"\",\n  \"telephone\": \"\",\n  \"caracteristiques\": \"\",\n  \"publie_par\": \"\",\n  \"meubles\": \"Oui/Non\",\n  \"chambre\": \"\",\n  \"disponible\": \"Oui/Non\"\n}\n\n# R\u00c8GLES STRICTES\n- Ne JAMAIS inventer de donn\u00e9es.\n- Pour \"disponible\", mets \"Oui\" sauf si explicitement pris.\n- Si le message contient '[Image sans description]', '[Vocal inaudible]', '[Document:', '[Contact partag\u00e9:', ou '[Localisation:', retourne JSON avec champs vides sauf disponible: \"Non\".\n- Donne UNIQUEMENT le JSON en output."}, {"content": "=Publication de {{ $json.expediteur }} dans le groupe {{ $json.nom_groupe || $json.groupe }}\n\nContenu du message : {{ $json.message }}\n\nContact du publieur : {{ $json.telephone }}"}]}, "builtInTools": {}, "options": {"textFormat": {"textOptions": {"type": "json_object"}}, "temperature": 0}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-528, -128], "id": "efa7540f-87c4-4a90-a06f-9202cd00da2e", "name": "Analyse IA Immobilier", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const data = $input.first().json; let rawAI; try { let output = data.output; if (!output && data.message) { if (typeof data.message === 'object' && data.message.content) output = data.message.content; else output = data.message; } if (!output && data.content) output = data.content; if (!output && data.text) output = data.text; if (!output && data.type_de_bien !== undefined) rawAI = data; else if (Array.isArray(output)) { const firstItem = output[0]; if (firstItem && firstItem.content && Array.isArray(firstItem.content)) { const textContent = firstItem.content.find(c => c.type === 'text'); rawAI = textContent ? (typeof textContent.text === 'string' ? JSON.parse(textContent.text) : textContent.text) : (typeof firstItem.content[0].text === 'string' ? JSON.parse(firstItem.content[0].text) : firstItem.content[0].text); } else if (firstItem && firstItem.text) { rawAI = typeof firstItem.text === 'string' ? JSON.parse(firstItem.text) : firstItem.text; } else if (typeof firstItem === 'string') { rawAI = JSON.parse(firstItem); } else if (firstItem && typeof firstItem === 'object') { rawAI = firstItem; } } else if (typeof output === 'string') { const cleaned = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim(); const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/); rawAI = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned); } else if (typeof output === 'object' && output !== null) { if (output.type_de_bien !== undefined) rawAI = output; else { for (const k of Object.keys(output)) { if (typeof output[k] === 'object' && output[k] && output[k].type_de_bien !== undefined) { rawAI = output[k]; break; } } if (!rawAI) rawAI = output; } } else { throw new Error('Format inattendu'); } } catch(e) { rawAI = data; } if (!rawAI || typeof rawAI !== 'object') rawAI = {}; function normalizePrix(prixStr) { if (!prixStr) return ''; if (typeof prixStr === 'number') return Math.round(prixStr).toString(); let s = String(prixStr).trim(); if (!s) return ''; s = s.replace(/f\\s*cfa|fcfa|fCFA|FCFA|cfa|CFA|francs?|franc|F\\b/gi, '').trim(); s = s.replace(/par\\s*mois|\\/mois|\\/m|mensuel|mois/gi, '').trim(); s = s.replace(/\\s+/g, ' ').trim(); const millionMatch = s.match(/([\\d]+[.,]?[\\d]*)\\s*(?:millions?|M)/i); if (millionMatch) { const num = parseFloat(millionMatch[1].replace(',', '.')); if (!isNaN(num)) return Math.round(num * 1000000).toString(); } const kMatch = s.match(/([\\d]+[.,]?[\\d]*)\\s*[kK]/i); if (kMatch) { const num = parseFloat(kMatch[1].replace(',', '.')); if (!isNaN(num)) return Math.round(num * 1000).toString(); } const numOnly = s.replace(/[^\\d]/g, ''); if (numOnly && numOnly.length >= 3) { const parsed = parseInt(numOnly, 10); if (!isNaN(parsed) && parsed > 0) return parsed.toString(); } return ''; } return [{ json: { ...rawAI, prix: normalizePrix(rawAI.prix || ''), _prix_original: rawAI.prix || '' } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-176, -128], "id": "0a134868-f3f3-4ae0-92a2-f6e3e52b0b3a", "name": "Normaliser Prix"}, {"parameters": {"url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [48, -128], "id": "be241e15-a8e0-4976-af5b-1174fe37c7eb", "name": "Lecture Locaux"}, {"parameters": {"jsCode": "const rawAI = $('Normaliser Prix').first().json; let sourceData; try { sourceData = $('Extraire Donnees Publication').first().json || {}; } catch(e) { sourceData = {}; } const newLocal = rawAI; if (!newLocal || typeof newLocal !== 'object') { return [{ json: { _is_duplicate: false, _skip: true, _reason: 'newLocal null' } }]; } const hasContent = (newLocal.type_de_bien || '').trim() !== '' || (newLocal.commune || '').trim() !== '' || (newLocal.prix || '').trim() !== '' || (newLocal.zone_geographique || '').trim() !== '' || (newLocal.quartier || '').trim() !== '' || (newLocal.caracteristiques || '').trim() !== ''; if (!hasContent) { return [{ json: { ...newLocal, _is_duplicate: false, _skip: true, _reason: 'Aucune info' } }]; } function normalize(str) { if (!str) return ''; return String(str).toLowerCase().trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[\\s\\-.,;:\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').replace(/fcfa|f cfa|cfa|francs?/gi, '').replace(/[^a-z0-9\\s]/g, '').trim(); } function extractNumbers(str) { if (!str) return ''; return String(str).replace(/[^0-9]/g, ''); } function generateRefBien() { const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789'; let code = ''; for (let i = 0; i < 6; i++) code += chars.charAt(Math.floor(Math.random() * chars.length)); return 'BG-' + code; } let existingItems = []; try { const rawItems = $('Lecture Locaux').all(); for (const item of rawItems) { const data = item.json; if (Array.isArray(data)) { existingItems = existingItems.concat(data.filter(d => d && d.id)); } else if (data && data.id) { existingItems.push(data); } } } catch(e) { existingItems = []; } const existingRefs = new Set(existingItems.map(r => r.ref_bien).filter(Boolean)); let refBien = generateRefBien(); let attempts = 0; while (existingRefs.has(refBien) && attempts < 100) { refBien = generateRefBien(); attempts++; } if (existingItems.length === 0) { return [{ json: { ...newLocal, _is_duplicate: false, _match_score: 0, _matched_with: null, _source_groupe: sourceData.groupe || '', _source_nom_groupe: sourceData.nom_groupe || '', _source_timestamp: sourceData.Timestamp || '', _source_lien_image: sourceData.lien_image || '', _source_message_initial: sourceData.message || '', _source_publication_id: sourceData.publication_id || '', _ref_bien: refBien } }]; } const nT=normalize(newLocal.type_de_bien||''), nZ=normalize(newLocal.zone_geographique||''), nC=normalize(newLocal.commune||''), nQ=normalize(newLocal.quartier||''), nP=extractNumbers(newLocal.prix||''), nCh=extractNumbers(newLocal.chambre||''), nM=normalize(newLocal.meubles||''); let isDup=false, mScore=0, mRow=null; for (const row of existingItems) { if (!row || !row.type_de_bien) continue; let s=0, mx=0; mx+=3; const eT=normalize(row.type_de_bien||''); if(eT&&nT){if(eT===nT)s+=3;else if(eT.includes(nT)||nT.includes(eT))s+=2;} mx+=2; const eC=normalize(row.commune||''); if(eC&&nC){if(eC===nC)s+=2;else if(eC.includes(nC)||nC.includes(eC))s+=1;} mx+=2; const eQ=normalize(row.quartier||''); if(eQ&&nQ){if(eQ===nQ)s+=2;else if(eQ.includes(nQ)||nQ.includes(eC))s+=1;} mx+=2; const eZ=normalize(row.zone_geographique||''); if(eZ&&nZ){if(eZ===nZ)s+=2;else{const w1=eZ.split(' ').filter(w=>w.length>2),w2=nZ.split(' ').filter(w=>w.length>2);const c=w1.filter(w=>w2.includes(w));const o=c.length/Math.max(w1.length,w2.length,1);if(o>=0.6)s+=1.5;else if(o>=0.3)s+=0.5;}} mx+=2; const eP=extractNumbers(row.prix||''); if(eP&&nP){if(eP===nP)s+=2;else{const p1=parseInt(eP)||0,p2=parseInt(nP)||0;if(p1>0&&p2>0){const d=Math.abs(p1-p2)/Math.max(p1,p2);if(d<=0.1)s+=1.5;else if(d<=0.2)s+=1;}}} mx+=1.5; const eCh=extractNumbers(row.chambre||''); if(eCh&&nCh){if(eCh===nCh)s+=1.5;}else if(!eCh&&!nCh)s+=0.5; mx+=0.5; const eM=normalize(row.meubles||''); if(eM&&nM&&eM===nM)s+=0.5; const sim=mx>0?(s/mx)*100:0; if(sim>=75&&sim>mScore){isDup=true;mScore=sim;mRow=row;} } return [{ json: { ...newLocal, _is_duplicate: isDup, _match_score: mScore, _matched_with: mRow?`${mRow.type_de_bien} - ${mRow.commune} ${mRow.quartier} - ${mRow.prix}`:null, _source_groupe: sourceData.groupe||'', _source_nom_groupe: sourceData.nom_groupe||'', _source_timestamp: sourceData.Timestamp||'', _source_lien_image: sourceData.lien_image||'', _source_message_initial: sourceData.message||'', _source_publication_id: sourceData.publication_id||'', _ref_bien: refBien } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [272, -128], "id": "a536ff46-de40-4279-9797-ad93d815c5a9", "name": "Detecteur Doublons Locaux"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-doublon", "leftValue": "={{ $json._is_duplicate }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [496, -128], "id": "49822806-190f-4655-bcd0-51e03f5cceab", "name": "Doublon detecte?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [720, -224], "id": "6145ff42-4a1f-4a36-9730-ac07a9313d1a", "name": "Doublon - Ignorer"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-skip", "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notEquals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [720, -32], "id": "a4d13a4e-01ba-4e74-9379-85cc28662ca4", "name": "Donnees valides?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"ref_bien\": {{ JSON.stringify($json._ref_bien || '') }},\n  \"type_de_bien\": {{ JSON.stringify($json.type_de_bien || '') }},\n  \"type_offre\": {{ JSON.stringify($json.type_offre || '') }},\n  \"zone_geographique\": {{ JSON.stringify($json.zone_geographique || '') }},\n  \"commune\": {{ JSON.stringify($json.commune || '') }},\n  \"quartier\": {{ JSON.stringify($json.quartier || '') }},\n  \"prix\": {{ JSON.stringify($json.prix || '') }},\n  \"telephone\": {{ JSON.stringify($json.telephone || '') }},\n  \"caracteristiques\": {{ JSON.stringify($json.caracteristiques || '') }},\n  \"publie_par\": {{ JSON.stringify($json.publie_par || '') }},\n  \"meubles\": {{ JSON.stringify($json.meubles || 'Non') }},\n  \"chambre\": {{ JSON.stringify($json.chambre || '') }},\n  \"disponible\": {{ JSON.stringify($json.disponible || 'Oui') }},\n  \"groupe_whatsapp_origine\": {{ JSON.stringify($json._source_nom_groupe || $json._source_groupe || '') }},\n  \"date_publication\": {{ JSON.stringify($json._source_timestamp ? new Date(Number($json._source_timestamp) * 1000).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) : new Date().toLocaleDateString('fr-FR')) }},\n  \"lien_image\": {{ JSON.stringify($json._source_lien_image || '') }},\n  \"message_initial\": {{ JSON.stringify($json._source_message_initial || '') }},\n  \"publication_id\": {{ JSON.stringify($json._source_publication_id || '') }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [944, -128], "id": "8c1a849e-1f65-41da-9880-3d7fe140e01a", "name": "Sauvegarder Local"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [944, 64], "id": "b62cf047-909c-41e0-b0b0-b5849b9ddf4c", "name": "Donnees vides - Ignorer"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "condition-fromme", "leftValue": "={{ $json.fromMe }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6272, 428], "id": "426c13a7-038b-4c20-8f9d-342e16c0aa03", "name": "Message Sortant?1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-6048, 332], "id": "dabfaf05-5ee1-465e-8f37-ac746cc8e3a6", "name": "Ignorer (sortant)1"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "condition-audio", "leftValue": "={{ $json.message.audioMessage }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6048, 524], "id": "b8b32b19-edac-4b7a-bf13-28f7049a50b5", "name": "Audio ou Texte?1"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ data: { messages: { key: { id: $('Normaliser Webhook').first().json.messageId }, message: { audioMessage: { url: $('Normaliser Webhook').first().json.message.audioMessage.url, mimetype: $('Normaliser Webhook').first().json.message.audioMessage.mimetype, mediaKey: $('Normaliser Webhook').first().json.message.audioMessage.mediaKey } } } } }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [-5824, 428], "id": "982ee01e-7443-4c0d-8244-34f5ec0511a8", "name": "Decrypter L'audio1"}, {"parameters": {"url": "={{ $json.publicUrl }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-5600, 428], "id": "fc4e2ffc-41a1-431a-b176-5a7a88c7d418", "name": "Telecharger Audio1"}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-5376, 428], "id": "476795df-fa35-451d-a145-7f225a06b41f", "name": "Transcribe a recording1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"assignments": {"assignments": [{"id": "f9699fa6", "name": "text", "value": "={{ $json.text }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-5152, 428], "id": "a278bca3-a9be-4cd5-999c-84621b4ca149", "name": "Recuperer l'audio en text1"}, {"parameters": {"jsCode": "const messageBody = $('Normaliser Webhook').first().json.messageBody || ''; if (!messageBody.trim()) return []; return [{ json: { text: messageBody } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-5152, 620], "id": "e997485f-12c1-4dd7-82d3-08c350083182", "name": "Recuperer le message texte1"}, {"parameters": {"promptType": "define", "text": "=Message de l'utilisateur: {{ $json.text }}", "options": {"systemMessage": "# IDENTIT\u00c9\nTu es l'assistant virtuel de BOGBE'S GROUPE MULTI-SERVICES, une agence immobili\u00e8re bas\u00e9e en C\u00f4te d'Ivoire.\nTu communiques via WhatsApp avec des prospects qui cherchent un logement.\n\n# R\u00c8GLES ABSOLUES\n1. Ne JAMAIS r\u00e9v\u00e9ler que tu es une IA.\n2. Ne JAMAIS inventer d'informations.\n3. Messages courts (max 80 mots), adapt\u00e9s \u00e0 WhatsApp.\n4. Ton professionnel et chaleureux.\n5. Maximum 2 offres par message.\n6. Ne JAMAIS proposer proactivement l'adresse.\n7. Quand le client donne son nom, utilise M. ou Mme.\n\n# FORMAT DES PRIX\nFormater avec espaces : 50000 \u2192 50 000. Pas de devise.\n\n# COMPORTEMENT\n1. Accueil \u2192 2. Crit\u00e8res \u2192 3. Recherche \u2192 4. Pr\u00e9sentation (ref_bien) \u2192 5. Nom \u2192 6. Date visite \u2192 7. Confirmation \u2192 8. Transfert si demand\u00e9\n\nR\u00e9ponds UNIQUEMENT avec le texte du message destin\u00e9 au client."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [-4872, 524], "id": "6f1a6921-3245-45a8-ad9e-b6d852c30917", "name": "Agent Conversationnel1"}, {"parameters": {"model": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "gpt-4.1-mini"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-4928, 748], "id": "2dadca18-6c7c-4a16-b7d9-593389284a5a", "name": "OpenAI Chat Model1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"}, "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [-4800, 748], "id": "84c2c3ed-1cb3-4988-9cae-4301b2f022bc", "name": "Simple Memory1"}, {"parameters": {"name": "recherche_biens_immobiliers", "description": "Recherche tous les biens immobiliers disponibles.", "jsCode": "const response = await this.helpers.httpRequest({ method: 'GET', url: 'https: headers: { 'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk', 'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk' } }); if (!response || (Array.isArray(response) && response.length === 0)) { return 'Aucun bien disponible actuellement.'; } const biens = Array.isArray(response) ? response : [response]; function formatPrix(prix) { if (!prix) return '?'; const s = String(prix).replace(/[^0-9]/g, ''); if (!s) return String(prix); return s.replace(/\\B(?=(\\d{3})+(?!\\d))/g, ' '); } return biens.map((b, i) => `Bien ${i+1} [R\u00e9f: ${b.ref_bien || '?'}]: ${b.type_de_bien || '?'} | ${b.type_offre || 'Location'} | Commune: ${b.commune || '?'} | Quartier: ${b.quartier || '?'} | Prix: ${formatPrix(b.prix)} | Meubl\u00e9: ${b.meubles || 'Non'} | Chambres: ${b.chambre || '?'} | ${b.caracteristiques || '-'} | Zone: ${b.zone_geographique || '-'} | Contact: ${b.telephone || '-'}`).join('\\n');"}, "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.1, "position": [-4672, 748], "id": "aaff9d2c-67c3-48d6-af34-bc5e9d2e2b5e", "name": "Outil Recherche Locaux"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "GPT-4.1-MINI"}, "responses": {"values": [{"role": "system", "content": "Analyseur de conversations immobili\u00e8res. Extrais en JSON : interesse, transfert_urgent, montrer_media, visite_programme, nom, date_rv, local_interesse, ref_bien. UNIQUEMENT JSON valide."}, {"content": "=Message: {{ $json.text }}\nR\u00e9ponse assistant: {{ $('Agent Conversationnel1').first().json.output }}\n\n{\"interesse\":false,\"transfert_urgent\":false,\"montrer_media\":false,\"visite_programme\":false,\"nom\":\"\",\"date_rv\":\"\",\"local_interesse\":\"\",\"ref_bien\":\"\"}"}]}, "builtInTools": {}, "options": {"textFormat": {"textOptions": {"type": "json_object"}}, "temperature": 0}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-4464, 524], "id": "2f25dd86-6004-4b31-9e5e-43566e35f919", "name": "Agent Analyseur1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const agentReply = $('Agent Conversationnel1').first().json.output; const raw = $('Agent Analyseur1').first().json; let analysis; try { let output = raw.output; if (typeof output === 'string') { const jsonMatch = output.match(/\\{[\\s\\S]*\\}/); analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(output); } else if (Array.isArray(output)) { const text = output[0]?.content?.[0]?.text || output[0]?.text || ''; analysis = typeof text === 'string' ? JSON.parse(text) : text; } else if (typeof output === 'object' && output !== null) { analysis = output; } else { throw new Error('Format inattendu'); } } catch(e) { analysis = { interesse: false, transfert_urgent: false, montrer_media: false, visite_programme: false, nom: '', date_rv: '', local_interesse: '', ref_bien: '' }; } function toBool(val) { if (typeof val === 'boolean') return val; if (typeof val === 'string') return val.toLowerCase() === 'true'; return false; } return [{ json: { reply: agentReply, interesse: toBool(analysis.interesse), transfert_urgent: toBool(analysis.transfert_urgent), montrer_media: toBool(analysis.montrer_media), visite_programme: toBool(analysis.visite_programme), nom: String(analysis.nom || ''), date_rv: String(analysis.date_rv || ''), local_interesse: String(analysis.local_interesse || ''), ref_bien: String(analysis.ref_bien || '') } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-4112, 524], "id": "cb04c94f-bfc8-404a-9da8-98c0081bf7cf", "name": "Parser Analyse1"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"}, {"name": "text", "value": "={{ $('Parser Analyse1').first().json.reply }}"}]}, "options": {"timeout": 10000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3888, 236], "id": "b969ed5a-ee70-46c8-a26a-8547ad4a20c8", "name": "Envoyer Reponse WhatsApp1"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "a0e3d7c4", "leftValue": "={{ $('Parser Analyse1').first().json.visite_programme }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-3888, 620], "id": "7df3021b-4a0f-48f8-94b1-f491de82f216", "name": "Visite Programmee?1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-3664, 716], "id": "f9b1ab42-6c3a-4813-9b57-17effbc78cbe", "name": "Pas de visite - Ignorer1"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee?numero=eq.{{ encodeURIComponent($('Normaliser Webhook').first().json.cleanedSenderPn) }}&local_interesse=eq.{{ encodeURIComponent($('Parser Analyse1').first().json.local_interesse) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3664, 524], "id": "3421049b-7b42-4449-9a6b-6fbab94c5600", "name": "Verifier Visite Existante"}, {"parameters": {"jsCode": "const items = $input.all(); let count = 0; for (const item of items) { const data = item.json; if (Array.isArray(data)) { count = data.length; break; } if (data && typeof data === 'object' && Object.keys(data).length > 0) { if (data.id || data.numero || data.nom_prenom || data.local_interesse) count++; } } return [{ json: { visite_existe_deja: count > 0 } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3440, 524], "id": "60723e3e-401e-4d2a-8d55-33b7443281fc", "name": "Evaluer Resultat Visite"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-vide", "leftValue": "={{ $json.visite_existe_deja }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-3216, 524], "id": "f1aee9a5-da7b-4eaf-978a-a3bafd7d2a4f", "name": "Pas encore programmee?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"nom_prenom\": {{ JSON.stringify($('Parser Analyse1').first().json.nom) }},\n  \"numero\": {{ JSON.stringify($('Normaliser Webhook').first().json.cleanedSenderPn) }},\n  \"date_rv\": {{ JSON.stringify($('Parser Analyse1').first().json.date_rv) }},\n  \"local_interesse\": {{ JSON.stringify($('Parser Analyse1').first().json.local_interesse) }},\n  \"ref_bien\": {{ JSON.stringify($('Parser Analyse1').first().json.ref_bien) }},\n  \"visite_prog\": \"Oui\"\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2992, 428], "id": "3570a9b0-d540-473b-bfa0-419e6263624b", "name": "Enregistrer Visite Programmee"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2768, 428], "id": "3868dcb1-ac20-481b-945b-15e84c6263eb", "name": "Chercher Local"}, {"parameters": {"jsCode": "const localInteresse = $('Parser Analyse1').first().json.local_interesse || ''; const refBien = $('Parser Analyse1').first().json.ref_bien || ''; if (!localInteresse || localInteresse.trim() === '') { return [{ json: { telephone: '', ref_bien: refBien, search_error: 'local_interesse vide' } }]; } function normalize(str) { if (!str) return ''; return String(str).toLowerCase().trim() .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') .replace(/[\\s\\-.,;:\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').trim(); } const searchTerms = normalize(localInteresse).split(' ').filter(w => w.length > 2); if (searchTerms.length === 0) return [{ json: { telephone: '', ref_bien: refBien } }]; let allLocaux = []; try { const items = $('Chercher Local').all(); for (const item of items) { const d = item.json; if (Array.isArray(d)) allLocaux = allLocaux.concat(d); else if (d && d.id) allLocaux.push(d); } } catch(e) { return [{ json: { telephone: '', ref_bien: refBien } }]; } if (allLocaux.length === 0) return [{ json: { telephone: '', ref_bien: refBien } }]; if (refBien) { const byRef = allLocaux.find(r => r.ref_bien === refBien); if (byRef) return [{ json: { ...byRef, _match_score: 100 } }]; } let bestMatch = null, bestScore = 0; for (const row of allLocaux) { if (!row || !row.type_de_bien) continue; const rowText = normalize((row.type_de_bien||'') + ' ' + (row.zone_geographique||'') + ' ' + (row.commune||'') + ' ' + (row.quartier||'') + ' ' + (row.prix||'') + ' ' + (row.caracteristiques||'')); let score = 0; for (const term of searchTerms) { if (rowText.includes(term)) score++; } const pct = (score / searchTerms.length) * 100; if (pct > bestScore && pct >= 40) { bestScore = pct; bestMatch = row; } } return bestMatch ? [{ json: { ...bestMatch, _match_score: bestScore } }] : [{ json: { telephone: '', ref_bien: refBien } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2544, 428], "id": "546eadce-b84e-47d0-bf73-5a8ab134736c", "name": "Recherche Intelligente Local"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-tel", "leftValue": "={{ $json.telephone }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-2320, 428], "id": "d39fef38-03c6-4738-8b22-4303a6f0acc7", "name": "Telephone Proprietaire Trouve?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "2250544872051"}, {"name": "text", "value": "=\ud83c\udfe0 DEMANDE DE VISITE\n\n\ud83d\udccb R\u00e9f : {{ $('Recherche Intelligente Local').first().json.ref_bien || $('Parser Analyse1').first().json.ref_bien || '?' }}\n\ud83d\udc64 {{ $('Parser Analyse1').first().json.nom }}\n\ud83d\udcf1 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n\ud83c\udfe1 {{ $('Parser Analyse1').first().json.local_interesse }}\n\ud83d\udcc5 {{ $('Parser Analyse1').first().json.date_rv }}\n\nMerci de contacter rapidement."}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2096, 332], "id": "8d355865-01b2-402d-9cfe-3a831f4b5207", "name": "Notifier Proprietaire"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "2250778311541"}, {"name": "text", "value": "=\u26a0\ufe0f VISITE \u00c0 TRAITER\n\n\ud83d\udccb R\u00e9f : {{ $('Parser Analyse1').first().json.ref_bien || '?' }}\n\ud83d\udc64 {{ $('Parser Analyse1').first().json.nom }}\n\ud83d\udcf1 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n\ud83c\udfe1 {{ $('Parser Analyse1').first().json.local_interesse }}\n\ud83d\udcc5 {{ $('Parser Analyse1').first().json.date_rv }}\n\n\u274c T\u00e9l propri\u00e9taire non trouv\u00e9."}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2096, 524], "id": "0b853c9d-8a4e-48ea-a90f-910ff5277f08", "name": "Notifier Agence (Fallback)"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-2992, 620], "id": "8aa7b935-f4d6-4653-8716-d8969f51597e", "name": "Deja programmee - Ignorer"}], "connections": {"Webhook Wassender": {"main": [[{"node": "Normaliser Webhook", "type": "main", "index": 0}]]}, "Normaliser Webhook": {"main": [[{"node": "Est un Groupe?", "type": "main", "index": 0}]]}, "Est un Groupe?": {"main": [[{"node": "Recuperer Nom Groupe", "type": "main", "index": 0}], [{"node": "Message Sortant?1", "type": "main", "index": 0}]]}, "Recuperer Nom Groupe": {"main": [[{"node": "Extraire Nom Groupe", "type": "main", "index": 0}]]}, "Extraire Nom Groupe": {"main": [[{"node": "Message Sortant?", "type": "main", "index": 0}]]}, "Message Sortant?": {"main": [[{"node": "Ignorer sortant", "type": "main", "index": 0}], [{"node": "Extraction Commune", "type": "main", "index": 0}]]}, "Extraction Commune": {"main": [[{"node": "Contenu Exploitable?", "type": "main", "index": 0}]]}, "Contenu Exploitable?": {"main": [[{"node": "Audio dans Groupe?", "type": "main", "index": 0}], [{"node": "Ignorer Sticker", "type": "main", "index": 0}]]}, "Audio dans Groupe?": {"main": [[{"node": "Decrypter Audio Groupe", "type": "main", "index": 0}], [{"node": "Chercher Publication Existante", "type": "main", "index": 0}]]}, "Decrypter Audio Groupe": {"main": [[{"node": "Telecharger Audio Groupe", "type": "main", "index": 0}]]}, "Telecharger Audio Groupe": {"main": [[{"node": "Transcrire Audio Groupe", "type": "main", "index": 0}]]}, "Transcrire Audio Groupe": {"main": [[{"node": "Injecter Transcription", "type": "main", "index": 0}]]}, "Injecter Transcription": {"main": [[{"node": "Chercher Publication Existante", "type": "main", "index": 0}]]}, "Chercher Publication Existante": {"main": [[{"node": "Generer Publication ID", "type": "main", "index": 0}]]}, "Generer Publication ID": {"main": [[{"node": "A une Image?", "type": "main", "index": 0}]]}, "A une Image?": {"main": [[{"node": "Decrypter Image", "type": "main", "index": 0}], [{"node": "Preparer Pub Texte", "type": "main", "index": 0}]]}, "Decrypter Image": {"main": [[{"node": "Verifier Decryptage", "type": "main", "index": 0}]]}, "Verifier Decryptage": {"main": [[{"node": "Decryptage OK?", "type": "main", "index": 0}]]}, "Decryptage OK?": {"main": [[{"node": "Upload ImgBB", "type": "main", "index": 0}], [{"node": "Fallback Image", "type": "main", "index": 0}]]}, "Upload ImgBB": {"main": [[{"node": "Construire Donnees Image", "type": "main", "index": 0}]]}, "Construire Donnees Image": {"main": [[{"node": "Supabase IMAGES", "type": "main", "index": 0}]]}, "Fallback Image": {"main": [[{"node": "Supabase IMAGES", "type": "main", "index": 0}]]}, "Supabase IMAGES": {"main": [[{"node": "A aussi du texte?", "type": "main", "index": 0}]]}, "A aussi du texte?": {"main": [[{"node": "Preparer Pub Image Texte", "type": "main", "index": 0}], [{"node": "Preparer Image Seule", "type": "main", "index": 0}]]}, "Preparer Image Seule": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Preparer Pub Image Texte": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Preparer Pub Texte": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Nouvelle Publication?": {"main": [[{"node": "Supabase PUBLICATION", "type": "main", "index": 0}], [{"node": "Image rattachee - Ignorer IA", "type": "main", "index": 0}]]}, "Supabase PUBLICATION": {"main": [[{"node": "Extraire Donnees Publication", "type": "main", "index": 0}]]}, "Extraire Donnees Publication": {"main": [[{"node": "Analyse IA Immobilier", "type": "main", "index": 0}]]}, "Analyse IA Immobilier": {"main": [[{"node": "Normaliser Prix", "type": "main", "index": 0}]]}, "Normaliser Prix": {"main": [[{"node": "Lecture Locaux", "type": "main", "index": 0}]]}, "Lecture Locaux": {"main": [[{"node": "Detecteur Doublons Locaux", "type": "main", "index": 0}]]}, "Detecteur Doublons Locaux": {"main": [[{"node": "Doublon detecte?", "type": "main", "index": 0}]]}, "Doublon detecte?": {"main": [[{"node": "Doublon - Ignorer", "type": "main", "index": 0}], [{"node": "Donnees valides?", "type": "main", "index": 0}]]}, "Donnees valides?": {"main": [[{"node": "Sauvegarder Local", "type": "main", "index": 0}], [{"node": "Donnees vides - Ignorer", "type": "main", "index": 0}]]}, "Message Sortant?1": {"main": [[{"node": "Ignorer (sortant)1", "type": "main", "index": 0}], [{"node": "Audio ou Texte?1", "type": "main", "index": 0}]]}, "Audio ou Texte?1": {"main": [[{"node": "Decrypter L'audio1", "type": "main", "index": 0}], [{"node": "Recuperer le message texte1", "type": "main", "index": 0}]]}, "Decrypter L'audio1": {"main": [[{"node": "Telecharger Audio1", "type": "main", "index": 0}]]}, "Telecharger Audio1": {"main": [[{"node": "Transcribe a recording1", "type": "main", "index": 0}]]}, "Transcribe a recording1": {"main": [[{"node": "Recuperer l'audio en text1", "type": "main", "index": 0}]]}, "Recuperer l'audio en text1": {"main": [[{"node": "Agent Conversationnel1", "type": "main", "index": 0}]]}, "Recuperer le message texte1": {"main": [[{"node": "Agent Conversationnel1", "type": "main", "index": 0}]]}, "Agent Conversationnel1": {"main": [[{"node": "Agent Analyseur1", "type": "main", "index": 0}]]}, "OpenAI Chat Model1": {"ai_languageModel": [[{"node": "Agent Conversationnel1", "type": "ai_languageModel", "index": 0}]]}, "Simple Memory1": {"ai_memory": [[{"node": "Agent Conversationnel1", "type": "ai_memory", "index": 0}]]}, "Outil Recherche Locaux": {"ai_tool": [[{"node": "Agent Conversationnel1", "type": "ai_tool", "index": 0}]]}, "Agent Analyseur1": {"main": [[{"node": "Parser Analyse1", "type": "main", "index": 0}]]}, "Parser Analyse1": {"main": [[{"node": "Envoyer Reponse WhatsApp1", "type": "main", "index": 0}, {"node": "Visite Programmee?1", "type": "main", "index": 0}]]}, "Visite Programmee?1": {"main": [[{"node": "Verifier Visite Existante", "type": "main", "index": 0}], [{"node": "Pas de visite - Ignorer1", "type": "main", "index": 0}]]}, "Verifier Visite Existante": {"main": [[{"node": "Evaluer Resultat Visite", "type": "main", "index": 0}]]}, "Evaluer Resultat Visite": {"main": [[{"node": "Pas encore programmee?", "type": "main", "index": 0}]]}, "Pas encore programmee?": {"main": [[{"node": "Enregistrer Visite Programmee", "type": "main", "index": 0}], [{"node": "Deja programmee - Ignorer", "type": "main", "index": 0}]]}, "Enregistrer Visite Programmee": {"main": [[{"node": "Chercher Local", "type": "main", "index": 0}]]}, "Chercher Local": {"main": [[{"node": "Recherche Intelligente Local", "type": "main", "index": 0}]]}, "Recherche Intelligente Local": {"main": [[{"node": "Telephone Proprietaire Trouve?", "type": "main", "index": 0}]]}, "Telephone Proprietaire Trouve?": {"main": [[{"node": "Notifier Proprietaire", "type": "main", "index": 0}], [{"node": "Notifier Agence (Fallback)", "type": "main", "index": 0}]]}}}
