workflows/full_update_payload.json
{"id": "LTZJrc7tYwv6Qm6a5wtZ0", "name": "Imm supabase", "nodes": [{"parameters": {"httpMethod": "POST", "path": "wassender-immobilier", "options": {"rawBody": false}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-6944, 232], "id": "1870e6a9-6b02-4de6-94e8-23210c9e7341", "name": "Webhook Wassender", "webhookId": "wassender-immobilier-webhook"}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event || '';\nconst data = body.data || body;\n\nif (event && !event.includes('message')) {\n  return [];\n}\n\nlet msg = null;\nif (Array.isArray(data.messages)) {\n  msg = data.messages[0];\n} else if (data.messages && typeof data.messages === 'object') {\n  msg = data.messages;\n} else if (data.message) {\n  msg = data.message;\n} else {\n  msg = data;\n}\n\nif (!msg) return [];\n\nconst key = msg.key || {};\nconst message = msg.message || {};\nconst remoteJid = key.remoteJid || msg.remoteJid || '';\nconst fromMe = key.fromMe === true || key.fromMe === 'true';\nconst pushName = msg.pushName || msg.senderName || '';\nconst messageTimestamp = msg.messageTimestamp || msg.timestamp || Math.floor(Date.now() / 1000);\nconst messageId = key.id || msg.id || '';\nconst participant = key.participant || msg.participant || '';\n\n// Filtrer UNIQUEMENT les messages système inutiles\nif (remoteJid === 'status@broadcast') return [];\nif (message.reactionMessage) return [];\nif (message.protocolMessage) return [];\nif (message.senderKeyDistributionMessage && !message.conversation && !message.extendedTextMessage && !message.imageMessage && !message.audioMessage && !message.videoMessage && !message.documentMessage) return [];\n\nlet messageBody = msg.messageBody || msg.body || '';\nif (!messageBody && message.conversation) messageBody = message.conversation;\nif (!messageBody && message.extendedTextMessage?.text) messageBody = message.extendedTextMessage.text;\nif (!messageBody && message.imageMessage?.caption) messageBody = message.imageMessage.caption;\nif (!messageBody && message.videoMessage?.caption) messageBody = message.videoMessage.caption;\nif (!messageBody && message.documentMessage?.caption) messageBody = message.documentMessage.caption;\n\nconst isGroup = remoteJid.includes('g.us');\nlet cleanedSenderPn = '';\n\nif (isGroup) {\n  if (key.cleanedParticipantPn) cleanedSenderPn = key.cleanedParticipantPn;\n  else if (key.participantPn) cleanedSenderPn = key.participantPn.replace(/@s\\.whatsapp\\.net/g, '');\n  else if (participant && participant.includes('@s.whatsapp.net')) cleanedSenderPn = participant.replace(/@s\\.whatsapp\\.net/g, '');\n  else if (msg.cleanedParticipantPn) cleanedSenderPn = msg.cleanedParticipantPn;\n  else if (participant) cleanedSenderPn = participant.replace(/@lid/g, '').replace(/@s\\.whatsapp\\.net/g, '');\n} else if (remoteJid) {\n  cleanedSenderPn = remoteJid.replace(/@s\\.whatsapp\\.net/g, '');\n}\n\nif (!cleanedSenderPn && key.cleanedSenderPn) cleanedSenderPn = key.cleanedSenderPn;\nif (!cleanedSenderPn && msg.cleanedSenderPn) cleanedSenderPn = msg.cleanedSenderPn;\n\nreturn [{\n  json: {\n    remoteJid, fromMe, pushName, messageTimestamp, messageBody, messageId,\n    participant, cleanedSenderPn, isGroup, key, message, rawMsg: msg\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-6720, 232], "id": "7f18d7ba-eb72-4266-a5e4-f4f56f7426e8", "name": "Normaliser Webhook"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-group", "leftValue": "={{ $json.remoteJid }}", "rightValue": "g.us", "operator": {"type": "string", "operation": "contains"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6496, 232], "id": "7730ae8a-d24e-4784-bb61-01d7bea272ea", "name": "Est un Groupe?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/getGroupMetadata", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"groupId\": \"{{ $json.remoteJid }}\"\n}", "options": {"timeout": 10000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-6272, 40], "id": "7d4b40bd-c354-40b5-9827-63e6a9387748", "name": "Recuperer Nom Groupe", "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const groupResult = $input.first().json;\nconst normalized = $('Normaliser Webhook').first().json;\n\nlet nomGroupe = '';\n\ntry {\n  const candidates = [\n    groupResult.subject, groupResult.name, groupResult.groupName,\n    groupResult.group_name, groupResult.title,\n    groupResult.data?.subject, groupResult.data?.name,\n    groupResult.data?.groupName, groupResult.data?.group_name,\n    groupResult.data?.title,\n    groupResult.group?.subject, groupResult.group?.name,\n    groupResult.metadata?.subject, groupResult.metadata?.name,\n    groupResult.result?.subject, groupResult.result?.name,\n    groupResult.response?.subject, groupResult.response?.name,\n    groupResult.data?.group?.subject, groupResult.data?.group?.name,\n    groupResult.data?.metadata?.subject,\n    groupResult.result?.group?.subject,\n    groupResult.result?.data?.subject,\n    groupResult.response?.data?.subject,\n  ];\n\n  for (const candidate of candidates) {\n    if (candidate && typeof candidate === 'string' && candidate.trim() !== '') {\n      nomGroupe = candidate.trim();\n      break;\n    }\n  }\n\n  if (!nomGroupe) {\n    function findGroupName(obj, depth) {\n      if (!obj || typeof obj !== 'object' || depth > 4) return '';\n      const keys = ['subject', 'name', 'groupName', 'group_name', 'title'];\n      for (const key of keys) {\n        if (obj[key] && typeof obj[key] === 'string' && obj[key].trim() !== '') {\n          return obj[key].trim();\n        }\n      }\n      for (const key of Object.keys(obj)) {\n        if (typeof obj[key] === 'object' && obj[key] !== null) {\n          const found = findGroupName(obj[key], depth + 1);\n          if (found) return found;\n        }\n      }\n      return '';\n    }\n    nomGroupe = findGroupName(groupResult, 0);\n  }\n} catch(e) {\n  nomGroupe = '';\n}\n\nif (!nomGroupe || nomGroupe.trim() === '') {\n  const jid = normalized.remoteJid || '';\n  const cleanJid = jid.replace(/@g\\.us/g, '').replace(/@s\\.whatsapp\\.net/g, '');\n  nomGroupe = cleanJid ? 'Groupe ' + cleanJid : 'Groupe inconnu';\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    nomGroupe: nomGroupe\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-6048, 40], "id": "e35a8bb3-ab78-483f-9939-a98db0666afd", "name": "Extraire Nom Groupe"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-fromme", "leftValue": "={{ $json.fromMe }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5824, 40], "id": "2d69d84d-7d16-42bb-8ecb-afbed092f91d", "name": "Message Sortant?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-5600, -56], "id": "df79859e-b1fc-4f03-9401-5623ee2f508c", "name": "Ignorer sortant"}, {"parameters": {"jsCode": "const normalized = $('Extraire Nom Groupe').first().json;\nconst message = normalized.message || {};\nconst key = normalized.key || {};\n\n// === DÉTECTION DE TOUS LES TYPES DE CONTENU ===\nconst hasImage = !!message.imageMessage;\nconst hasAudio = !!message.audioMessage;\nconst hasVideo = !!message.videoMessage;\nconst hasDocument = !!message.documentMessage;\nconst hasContact = !!message.contactMessage || !!message.contactsArrayMessage;\nconst hasLocation = !!message.locationMessage || !!message.liveLocationMessage;\nconst hasConversation = !!message.conversation;\nconst hasExtendedText = !!(message.extendedTextMessage && message.extendedTextMessage.text);\nconst hasCaption = !!(message.imageMessage?.caption || message.videoMessage?.caption || message.documentMessage?.caption);\nconst messageBody = normalized.messageBody || '';\nconst hasMessageBody = messageBody.trim().length > 0;\nconst hasSticker = !!message.stickerMessage;\n\n// === SEUL FILTRE : Stickers purs (aucune valeur immobilière) ===\nif (hasSticker && !hasMessageBody && !hasImage && !hasAudio && !hasVideo && !hasDocument) {\n  return [{ json: { _skip: true, _reason: 'Sticker seul', Message: '', has_image: false, has_text: false } }];\n}\n\n// === VÉRIFIER QU'IL Y A AU MOINS UN CONTENU ===\nconst hasAnyContent = hasImage || hasAudio || hasVideo || hasDocument || hasContact || hasLocation || hasConversation || hasExtendedText || hasMessageBody;\n\nif (!hasAnyContent) {\n  return [{ json: { _skip: true, _reason: 'Aucun contenu détectable', Message: '', has_image: false, has_text: false } }];\n}\n\n// === EXTRACTION DU TÉLÉPHONE ===\nlet telephone = normalized.cleanedSenderPn || '';\nif (!telephone) {\n  const participant = normalized.participant || '';\n  if (participant) {\n    telephone = participant.replace(/@s\\.whatsapp\\.net/g, '').replace(/@lid/g, '');\n  }\n  if (!telephone && key.remoteJid) {\n    telephone = key.remoteJid.replace(/@s\\.whatsapp\\.net/g, '').replace(/@g\\.us/g, '');\n  }\n}\nif (!telephone) {\n  telephone = 'inconnu_' + (normalized.messageId || Date.now());\n}\n\n// === TIMESTAMP ===\nconst ts = normalized.messageTimestamp;\nlet tsNum = 0;\ntry {\n  tsNum = typeof ts === 'string' ? parseInt(ts) : (ts || 0);\n  if (isNaN(tsNum)) tsNum = Math.floor(Date.now() / 1000);\n} catch(e) {\n  tsNum = Math.floor(Date.now() / 1000);\n}\n\nlet horodatage = '';\ntry {\n  horodatage = new Date(tsNum * 1000).toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' });\n} catch(e) {\n  horodatage = new Date().toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' });\n}\n\n// === EXTRACTION DU TEXTE ===\nlet texte = '';\nif (message.imageMessage?.caption) texte = message.imageMessage.caption;\nelse if (message.videoMessage?.caption) texte = message.videoMessage.caption;\nelse if (message.documentMessage?.caption) texte = message.documentMessage.caption;\nelse if (hasMessageBody) texte = messageBody;\nelse if (hasConversation) texte = message.conversation;\nelse if (hasExtendedText) texte = message.extendedTextMessage.text;\n\n// === DÉTERMINER LE TYPE ===\nlet type = 'texte';\nif (hasAudio) type = 'audio';\nelse if (hasVideo && texte.length > 0) type = 'video+texte';\nelse if (hasVideo) type = 'video';\nelse if (hasImage && texte.length > 0) type = 'image+texte';\nelse if (hasImage) type = 'image';\nelse if (hasDocument) type = 'document';\nelse if (hasContact) type = 'contact';\nelse if (hasLocation) type = 'location';\n\n// === INFO IMAGE ===\nlet imageInfo = null;\nif (hasImage) {\n  const im = message.imageMessage;\n  imageInfo = {\n    url: im.url || '', mimetype: im.mimetype || 'image/jpeg',\n    mediaKey: im.mediaKey || '', directPath: im.directPath || '',\n    fileEncSha256: im.fileEncSha256 || '', fileSha256: im.fileSha256 || '',\n    fileLength: im.fileLength || ''\n  };\n}\n\n// === INFO AUDIO (pour transcription dans le groupe) ===\nlet audioInfo = null;\nif (hasAudio) {\n  const au = message.audioMessage;\n  audioInfo = {\n    url: au.url || '', mimetype: au.mimetype || 'audio/ogg',\n    mediaKey: au.mediaKey || '', directPath: au.directPath || '',\n    fileEncSha256: au.fileEncSha256 || '', fileSha256: au.fileSha256 || '',\n    fileLength: au.fileLength || '', seconds: au.seconds || 0,\n    ptt: au.ptt || false\n  };\n}\n\n// === INFO VIDÉO ===\nlet videoInfo = null;\nif (hasVideo) {\n  const vi = message.videoMessage;\n  videoInfo = {\n    url: vi.url || '', mimetype: vi.mimetype || 'video/mp4',\n    mediaKey: vi.mediaKey || '', directPath: vi.directPath || '',\n    fileEncSha256: vi.fileEncSha256 || '', fileSha256: vi.fileSha256 || '',\n    fileLength: vi.fileLength || '', seconds: vi.seconds || 0,\n    caption: vi.caption || ''\n  };\n}\n\n// === INFO DOCUMENT ===\nlet documentInfo = null;\nif (hasDocument) {\n  const doc = message.documentMessage;\n  documentInfo = {\n    url: doc.url || '', mimetype: doc.mimetype || '',\n    mediaKey: doc.mediaKey || '', directPath: doc.directPath || '',\n    fileName: doc.fileName || '', fileLength: doc.fileLength || '',\n    caption: doc.caption || ''\n  };\n  if (!texte && doc.fileName) texte = '[Document: ' + doc.fileName + ']';\n}\n\n// === INFO CONTACT ===\nif (hasContact) {\n  const ct = message.contactMessage || {};\n  const displayName = ct.displayName || '';\n  const vcard = ct.vcard || '';\n  // Extraire le numéro du vcard\n  const telMatch = vcard.match(/TEL[^:]*:([+\\d\\s-]+)/i);\n  const contactTel = telMatch ? telMatch[1].replace(/[\\s-]/g, '') : '';\n  if (!texte) texte = '[Contact partagé: ' + displayName + (contactTel ? ' - ' + contactTel : '') + ']';\n}\n\n// === INFO LOCATION ===\nif (hasLocation) {\n  const loc = message.locationMessage || message.liveLocationMessage || {};\n  const lat = loc.degreesLatitude || '';\n  const lng = loc.degreesLongitude || '';\n  const locName = loc.name || '';\n  const locAddress = loc.address || '';\n  if (!texte) texte = '[Localisation: ' + (locName || locAddress || lat + ',' + lng) + ']';\n}\n\n// === INFO AUDIO : générer un texte descriptif si audio seul ===\nif (hasAudio && !texte) {\n  texte = '[Message vocal - ' + (audioInfo.seconds || '?') + 's]';\n}\n\nreturn [{\n  json: {\n    _skip: false,\n    Horodatage: horodatage,\n    Groupe: normalized.remoteJid,\n    Nom_Groupe: normalized.nomGroupe || '',\n    Expediteur: normalized.pushName || 'Inconnu',\n    Telephone: telephone,\n    Message_ID: normalized.messageId,\n    Type: type,\n    Message: texte,\n    has_image: hasImage,\n    has_audio: hasAudio,\n    has_video: hasVideo,\n    has_document: hasDocument,\n    has_contact: hasContact,\n    has_location: hasLocation,\n    has_text: (texte.length > 0),\n    imageInfo: imageInfo,\n    audioInfo: audioInfo,\n    videoInfo: videoInfo,\n    documentInfo: documentInfo,\n    originalKeyId: key.id || normalized.messageId,\n    Timestamp: tsNum,\n    Timestamp_raw: normalized.messageTimestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-5600, 136], "id": "e84792de-cf1c-4851-bfc8-f8e14d498682", "name": "Extraction Commune"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-skip", "leftValue": "={{ $json._skip }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5376, 136], "id": "d79663c6-b4a9-4641-8acd-209e30fc4ac9", "name": "Contenu Exploitable?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-5152, 236], "id": "1d97c675-1aa6-48f1-bbfe-abb6276bcd08", "name": "Ignorer Sticker"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-audio-group", "leftValue": "={{ $json.has_audio }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-5152, -32], "id": "e5ff6a75-a492-44c5-a522-19893114dbc6", "name": "Audio dans Groupe?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"audioMessage\": {\n          \"url\": \"{{ $json.audioInfo.url }}\",\n          \"mimetype\": \"{{ $json.audioInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.audioInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.audioInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.audioInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.audioInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.audioInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [-4808, -104], "id": "9d167600-1ec5-4ecc-afa4-9987d63a478c", "name": "Decrypter Audio Groupe", "onError": "continueRegularOutput"}, {"parameters": {"url": "={{ $json.publicUrl }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-4400, -104], "id": "7045bd46-ca21-4d42-aac7-43a064261992", "name": "Telecharger Audio Groupe"}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-4112, -104], "id": "e0e75f09-cf42-4586-9251-78db9c63147b", "name": "Transcrire Audio Groupe", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const extracted = $('Extraction Commune').first().json;\nconst transcription = $input.first().json.text || '';\n\nif (!transcription || transcription.trim().length < 5) {\n  return [{ json: { ...extracted, Message: '[Vocal inaudible ou trop court]', Type: 'audio', has_text: true } }];\n}\n\n// Remplacer le message placeholder par la transcription réelle\nreturn [{\n  json: {\n    ...extracted,\n    Message: transcription.trim(),\n    Type: 'audio',\n    has_text: true,\n    has_audio: true,\n    _audio_transcribed: true\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3888, -104], "id": "a165a347-85c0-4ed5-86ae-595959679fd9", "name": "Injecter Transcription"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications?telephone=eq.{{ encodeURIComponent($json.Telephone) }}&groupe=eq.{{ encodeURIComponent($json.Groupe) }}&message_timestamp=gte.{{ $json.Timestamp - 120 }}&message_timestamp=lte.{{ $json.Timestamp + 120 }}&order=message_timestamp.desc&limit=1&select=publication_id,message_timestamp", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3664, -32], "id": "4ac7354b-61ad-460a-86d0-b2a0f43787e5", "name": "Chercher Publication Existante", "alwaysOutputData": true, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "// Récupérer les données extraites - soit de la transcription audio, soit directement\nlet extracted;\ntry {\n  extracted = $('Injecter Transcription').first().json;\n} catch(e) {\n  extracted = $('Extraction Commune').first().json;\n}\n\nconst searchResult = $input.first().json;\n\nlet publicationId = '';\nlet isNewPublication = true;\nlet imageOrder = 1;\n\nif (Array.isArray(searchResult) && searchResult.length > 0 && searchResult[0].publication_id) {\n  publicationId = searchResult[0].publication_id;\n  isNewPublication = false;\n  imageOrder = 2;\n} else if (searchResult && !Array.isArray(searchResult) && searchResult.publication_id) {\n  publicationId = searchResult.publication_id;\n  isNewPublication = false;\n  imageOrder = 2;\n} else {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let code = '';\n  for (let i = 0; i < 6; i++) {\n    code += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  publicationId = 'PUB-' + extracted.Timestamp + '-' + code;\n  isNewPublication = true;\n  imageOrder = 1;\n}\n\nreturn [{\n  json: {\n    ...extracted,\n    Publication_ID: publicationId,\n    Is_New_Publication: isNewPublication,\n    Image_Order: imageOrder\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3440, -32], "id": "87fbade1-5f61-4249-bc5a-2d3fd9b4d029", "name": "Generer Publication ID"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-image", "leftValue": "={{ $json.has_image }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-3216, -32], "id": "217b2469-374b-411d-a872-0fae6df20a3e", "name": "A une Image?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"imageMessage\": {\n          \"url\": \"{{ $json.imageInfo.url }}\",\n          \"mimetype\": \"{{ $json.imageInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.imageInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.imageInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.imageInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.imageInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.imageInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-2992, -128], "id": "0d4858a7-eca3-4655-be3e-84119229beae", "name": "Decrypter Image", "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const decryptResult = $input.first().json;\nlet publicUrl = '';\nif (decryptResult.publicUrl) publicUrl = decryptResult.publicUrl;\nelse if (decryptResult.data?.publicUrl) publicUrl = decryptResult.data.publicUrl;\nelse if (decryptResult.url) publicUrl = decryptResult.url;\nelse if (decryptResult.data?.url) publicUrl = decryptResult.data.url;\n\nif (publicUrl && publicUrl.startsWith('http')) {\n  return [{ json: { publicUrl, decrypt_ok: true } }];\n} else {\n  return [{ json: { publicUrl: '', decrypt_ok: false } }];\n}"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2768, -128], "id": "adf883be-846a-43b5-b3cd-3e9f8abf6ec1", "name": "Verifier Decryptage"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-decrypt-ok", "leftValue": "={{ $json.decrypt_ok }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-2544, -128], "id": "27ef3ccd-4fe8-40bb-85b2-f1478945c88f", "name": "Decryptage OK?"}, {"parameters": {"method": "POST", "url": "https://api.imgbb.com/1/upload", "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "key", "value": "9f8a1a2b1ec266006878b8e5e20f713e"}, {"name": "image", "value": "={{ $('Verifier Decryptage').first().json.publicUrl }}"}]}, "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [-2320, -224], "id": "3112e81a-6f93-4a37-aa8b-f6d11023ca4d", "name": "Upload ImgBB", "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const imgbbResult = $input.first().json;\nconst extracted = $('Generer Publication ID').first().json;\n\nlet lienImage = '';\nif (imgbbResult?.data?.url) lienImage = imgbbResult.data.url;\nelse if (imgbbResult?.data?.display_url) lienImage = imgbbResult.data.display_url;\nelse {\n  try { lienImage = $('Verifier Decryptage').first().json.publicUrl || '[Upload echoue]'; }\n  catch(e) { lienImage = '[Upload echoue]'; }\n}\n\nreturn [{\n  json: {\n    Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe,\n    Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID,\n    Publication_ID: extracted.Publication_ID, Type: extracted.Type, Message: extracted.Message,\n    Lien_Image: lienImage, has_text: extracted.has_text, Image_Order: extracted.Image_Order,\n    Timestamp: extracted.Timestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2096, -224], "id": "8621613c-afa5-46c9-b703-c9f9f28f2eef", "name": "Construire Donnees Image"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json;\nreturn [{\n  json: {\n    Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe,\n    Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID,\n    Publication_ID: extracted.Publication_ID, Type: extracted.Type, Message: extracted.Message,\n    Lien_Image: '[Decryptage echoue]', has_text: extracted.has_text, Image_Order: extracted.Image_Order,\n    Timestamp: extracted.Timestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2096, 20], "id": "e20ec802-311d-479f-8117-b5c4975b99fa", "name": "Fallback Image"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/images?on_conflict=message_id", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal,resolution=merge-duplicates"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"message_timestamp\": {{ $json.Timestamp }},\n  \"image_order\": {{ $json.Image_Order }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1872, -128], "id": "d26672d1-6c96-4cbe-9223-5ede90d149cb", "name": "Supabase IMAGES", "onError": "continueRegularOutput"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "cond-has-caption", "leftValue": "={{ $('Generer Publication ID').first().json.has_text }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-1648, -128], "id": "ccdf78e7-ca50-47d1-8825-a1911c865158", "name": "A aussi du texte?"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; }\ncatch(e) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) { lienImage = '[Non disponible]'; } }\n\nreturn [{\n  json: {\n    Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe,\n    Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: 'image',\n    Message: '[Image sans description textuelle]', Lien_Image: lienImage,\n    Message_ID: extracted.Message_ID, Publication_ID: extracted.Publication_ID,\n    Is_New_Publication: extracted.Is_New_Publication, Timestamp: extracted.Timestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, -32], "id": "b0ed683d-d866-4223-bc0e-7645e6a52553", "name": "Preparer Image Seule"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; }\ncatch(e) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) { lienImage = '[Non disponible]'; } }\n\nreturn [{\n  json: {\n    Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe,\n    Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type,\n    Message: extracted.Message, Lien_Image: lienImage, Message_ID: extracted.Message_ID,\n    Publication_ID: extracted.Publication_ID, Is_New_Publication: extracted.Is_New_Publication,\n    Timestamp: extracted.Timestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, -224], "id": "3698b692-4f30-43cf-a186-ff8aed8c1b39", "name": "Preparer Pub Image Texte"}, {"parameters": {"jsCode": "const extracted = $('Generer Publication ID').first().json;\nreturn [{\n  json: {\n    Horodatage: extracted.Horodatage, Groupe: extracted.Groupe, Nom_Groupe: extracted.Nom_Groupe,\n    Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type,\n    Message: extracted.Message, Lien_Image: '', Message_ID: extracted.Message_ID,\n    Publication_ID: extracted.Publication_ID, Is_New_Publication: extracted.Is_New_Publication,\n    Timestamp: extracted.Timestamp\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1424, 188], "id": "df154197-fca4-4571-9c00-51a57bb0e197", "name": "Preparer Pub Texte"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-new-pub", "leftValue": "={{ $json.Is_New_Publication }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-1200, -32], "id": "9268cc89-a649-4f0a-b0fd-1e3cb9ac84e3", "name": "Nouvelle Publication?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"message\": {{ JSON.stringify($json.Message) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_timestamp\": {{ $json.Timestamp }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-976, -128], "id": "11c7ef45-05e5-48a8-93fe-bff82b65f96f", "name": "Supabase PUBLICATION", "onError": "continueRegularOutput"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-976, 64], "id": "7c03e041-ef97-435c-a890-4d40c2cad26a", "name": "Image rattachee - Ignorer IA"}, {"parameters": {"jsCode": "const items = $input.all();\nlet pub = null;\n\nfor (const item of items) {\n  const raw = item.json;\n  if (Array.isArray(raw)) { if (raw.length > 0) { pub = raw[0]; break; } }\n  else if (raw && typeof raw === 'object' && raw.publication_id) { pub = raw; break; }\n  else if (raw && typeof raw === 'object' && raw.message_id) { pub = raw; break; }\n  else if (raw && typeof raw === 'object' && raw.message && raw.expediteur) { pub = raw; break; }\n  else if (raw && typeof raw === 'object' && raw.id && raw.message) { pub = raw; break; }\n  else if (raw && (raw.error || raw.statusCode >= 400)) { continue; }\n  else if (raw && raw.Message !== undefined) {\n    pub = {\n      expediteur: raw.Expediteur || '', groupe: raw.Groupe || '',\n      nom_groupe: raw.Nom_Groupe || '', message: raw.Message || '',\n      telephone: raw.Telephone || '', horodatage: raw.Horodatage || '',\n      type: raw.Type || '', lien_image: raw.Lien_Image || '',\n      message_id: raw.Message_ID || '', publication_id: raw.Publication_ID || '',\n      Timestamp: raw.Timestamp || ''\n    };\n    break;\n  }\n}\n\nif (!pub || !pub.message) {\n  try {\n    const ext = $('Generer Publication ID').first().json;\n    let lienImage = '';\n    try { lienImage = $('Construire Donnees Image').first().json.Lien_Image || ''; }\n    catch(e1) { try { lienImage = $('Fallback Image').first().json.Lien_Image || ''; } catch(e2) {} }\n    pub = {\n      expediteur: ext.Expediteur || '', groupe: ext.Groupe || '',\n      nom_groupe: ext.Nom_Groupe || '', message: ext.Message || '[Image sans description]',\n      telephone: ext.Telephone || '', horodatage: ext.Horodatage || '',\n      type: ext.Type || '', lien_image: lienImage,\n      message_id: ext.Message_ID || '', publication_id: ext.Publication_ID || '',\n      Timestamp: ext.Timestamp || ''\n    };\n  } catch(e) {\n    pub = {\n      expediteur: '', groupe: '', nom_groupe: '', message: '[Données non extraites]',\n      telephone: '', horodatage: '', type: '', lien_image: '',\n      message_id: 'unknown_' + Date.now(), publication_id: '', Timestamp: ''\n    };\n  }\n}\n\nif (!pub.nom_groupe) {\n  try { pub.nom_groupe = $('Generer Publication ID').first().json.Nom_Groupe || ''; } catch(e) {}\n}\nif (!pub.publication_id) {\n  try { pub.publication_id = $('Generer Publication ID').first().json.Publication_ID || ''; } catch(e) {}\n}\n\nreturn [{ json: {\n  expediteur: String(pub.expediteur || ''),\n  groupe: String(pub.groupe || ''),\n  nom_groupe: String(pub.nom_groupe || ''),\n  message: String(pub.message || '[Vide]'),\n  telephone: String(pub.telephone || ''),\n  horodatage: String(pub.horodatage || ''),\n  type: String(pub.type || ''),\n  lien_image: String(pub.lien_image || ''),\n  message_id: String(pub.message_id || ''),\n  publication_id: String(pub.publication_id || ''),\n  Timestamp: String(pub.Timestamp || pub.timestamp || '')\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-752, -128], "id": "88d45752-12c6-4d07-8cbc-3a614d9bc5ca", "name": "Extraire Donnees Publication"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "GPT-4.1-MINI"}, "responses": {"values": [{"role": "system", "content": "Tu es un assistant expert en immobilier ivoirien qui extrait des informations structurées à partir de publications postées dans des groupes WhatsApp.\n\n# RÈGLES D'EXTRACTION GÉOGRAPHIQUE\n1. Zone géographique précise : Recopie EXACTEMENT la localisation complète\n2. Commune : Extrais UNIQUEMENT le nom de la commune. Communes connues d'Abidjan : Cocody, Yopougon, Marcory, Koumassi, Treichville, Plateau, Adjamé, Abobo, Attécoubé, Port-Bouët, Bingerville, Songon, Anyama.\n3. Quartier : Extrais le quartier ou sous-quartier.\n\n# RÈGLES DE PRIX\nConvertis le prix en NOMBRE ENTIER UNIQUEMENT. Pas de FCFA, F, CFA.\nSi pas mentionné, laisse vide \"\".\n\n# OUTPUT (JSON UNIQUEMENT)\n{\n  \"type_de_bien\": \"\",\n  \"type_offre\": \"Location/Vente\",\n  \"zone_geographique\": \"\",\n  \"commune\": \"\",\n  \"quartier\": \"\",\n  \"prix\": \"\",\n  \"telephone\": \"\",\n  \"caracteristiques\": \"\",\n  \"publie_par\": \"\",\n  \"meubles\": \"Oui/Non\",\n  \"chambre\": \"\",\n  \"disponible\": \"Oui/Non\"\n}\n\n# RÈGLES STRICTES\n- Ne JAMAIS inventer de données.\n- Pour \"disponible\", mets \"Oui\" sauf si explicitement pris.\n- Si le message contient '[Image sans description]', '[Vocal inaudible]', '[Document:', '[Contact partagé:', ou '[Localisation:', retourne JSON avec champs vides sauf disponible: \"Non\".\n- Donne UNIQUEMENT le JSON en output."}, {"content": "=Publication de {{ $json.expediteur }} dans le groupe {{ $json.nom_groupe || $json.groupe }}\n\nContenu du message : {{ $json.message }}\n\nContact du publieur : {{ $json.telephone }}"}]}, "builtInTools": {}, "options": {"textFormat": {"textOptions": {"type": "json_object"}}, "temperature": 0}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-528, -128], "id": "efa7540f-87c4-4a90-a06f-9202cd00da2e", "name": "Analyse IA Immobilier", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const data = $input.first().json;\n\nlet rawAI;\ntry {\n  let output = data.output;\n  if (!output && data.message) {\n    if (typeof data.message === 'object' && data.message.content) output = data.message.content;\n    else output = data.message;\n  }\n  if (!output && data.content) output = data.content;\n  if (!output && data.text) output = data.text;\n  if (!output && data.type_de_bien !== undefined) rawAI = data;\n  else if (Array.isArray(output)) {\n    const firstItem = output[0];\n    if (firstItem && firstItem.content && Array.isArray(firstItem.content)) {\n      const textContent = firstItem.content.find(c => c.type === 'text');\n      rawAI = textContent ? (typeof textContent.text === 'string' ? JSON.parse(textContent.text) : textContent.text) : (typeof firstItem.content[0].text === 'string' ? JSON.parse(firstItem.content[0].text) : firstItem.content[0].text);\n    } else if (firstItem && firstItem.text) {\n      rawAI = typeof firstItem.text === 'string' ? JSON.parse(firstItem.text) : firstItem.text;\n    } else if (typeof firstItem === 'string') {\n      rawAI = JSON.parse(firstItem);\n    } else if (firstItem && typeof firstItem === 'object') {\n      rawAI = firstItem;\n    }\n  } else if (typeof output === 'string') {\n    const cleaned = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n    rawAI = JSON.parse(jsonMatch ? jsonMatch[0] : cleaned);\n  } else if (typeof output === 'object' && output !== null) {\n    if (output.type_de_bien !== undefined) rawAI = output;\n    else {\n      for (const k of Object.keys(output)) {\n        if (typeof output[k] === 'object' && output[k] && output[k].type_de_bien !== undefined) { rawAI = output[k]; break; }\n      }\n      if (!rawAI) rawAI = output;\n    }\n  } else {\n    throw new Error('Format inattendu');\n  }\n} catch(e) {\n  rawAI = data;\n}\n\nif (!rawAI || typeof rawAI !== 'object') rawAI = {};\n\nfunction normalizePrix(prixStr) {\n  if (!prixStr) return '';\n  if (typeof prixStr === 'number') return Math.round(prixStr).toString();\n  let s = String(prixStr).trim();\n  if (!s) return '';\n  s = s.replace(/f\\s*cfa|fcfa|fCFA|FCFA|cfa|CFA|francs?|franc|F\\b/gi, '').trim();\n  s = s.replace(/par\\s*mois|\\/mois|\\/m|mensuel|mois/gi, '').trim();\n  s = s.replace(/\\s+/g, ' ').trim();\n  const millionMatch = s.match(/([\\d]+[.,]?[\\d]*)\\s*(?:millions?|M)/i);\n  if (millionMatch) {\n    const num = parseFloat(millionMatch[1].replace(',', '.'));\n    if (!isNaN(num)) return Math.round(num * 1000000).toString();\n  }\n  const kMatch = s.match(/([\\d]+[.,]?[\\d]*)\\s*[kK]/i);\n  if (kMatch) {\n    const num = parseFloat(kMatch[1].replace(',', '.'));\n    if (!isNaN(num)) return Math.round(num * 1000).toString();\n  }\n  const numOnly = s.replace(/[^\\d]/g, '');\n  if (numOnly && numOnly.length >= 3) {\n    const parsed = parseInt(numOnly, 10);\n    if (!isNaN(parsed) && parsed > 0) return parsed.toString();\n  }\n  return '';\n}\n\nreturn [{ json: { ...rawAI, prix: normalizePrix(rawAI.prix || ''), _prix_original: rawAI.prix || '' } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-176, -128], "id": "0a134868-f3f3-4ae0-92a2-f6e3e52b0b3a", "name": "Normaliser Prix"}, {"parameters": {"url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [48, -128], "id": "be241e15-a8e0-4976-af5b-1174fe37c7eb", "name": "Lecture Locaux", "alwaysOutputData": true, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const rawAI = $('Normaliser Prix').first().json;\nlet sourceData;\ntry { sourceData = $('Extraire Donnees Publication').first().json || {}; } catch(e) { sourceData = {}; }\n\nconst newLocal = rawAI;\nif (!newLocal || typeof newLocal !== 'object') { return [{ json: { _is_duplicate: false, _skip: true, _reason: 'newLocal null' } }]; }\n\nconst hasContent = (newLocal.type_de_bien || '').trim() !== '' || (newLocal.commune || '').trim() !== '' || (newLocal.prix || '').trim() !== '' || (newLocal.zone_geographique || '').trim() !== '' || (newLocal.quartier || '').trim() !== '' || (newLocal.caracteristiques || '').trim() !== '';\nif (!hasContent) { return [{ json: { ...newLocal, _is_duplicate: false, _skip: true, _reason: 'Aucune info' } }]; }\n\nfunction normalize(str) { if (!str) return ''; return String(str).toLowerCase().trim().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[\\s\\-.,;:\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').replace(/fcfa|f cfa|cfa|francs?/gi, '').replace(/[^a-z0-9\\s]/g, '').trim(); }\nfunction extractNumbers(str) { if (!str) return ''; return String(str).replace(/[^0-9]/g, ''); }\n\nfunction generateRefBien() {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let code = '';\n  for (let i = 0; i < 6; i++) code += chars.charAt(Math.floor(Math.random() * chars.length));\n  return 'BG-' + code;\n}\n\nlet existingItems = [];\ntry { const rawItems = $('Lecture Locaux').all(); for (const item of rawItems) { const data = item.json; if (Array.isArray(data)) { existingItems = existingItems.concat(data.filter(d => d && d.id)); } else if (data && data.id) { existingItems.push(data); } } } catch(e) { existingItems = []; }\n\nconst existingRefs = new Set(existingItems.map(r => r.ref_bien).filter(Boolean));\nlet refBien = generateRefBien();\nlet attempts = 0;\nwhile (existingRefs.has(refBien) && attempts < 100) { refBien = generateRefBien(); attempts++; }\n\nif (existingItems.length === 0) { return [{ json: { ...newLocal, _is_duplicate: false, _match_score: 0, _matched_with: null, _source_groupe: sourceData.groupe || '', _source_nom_groupe: sourceData.nom_groupe || '', _source_timestamp: sourceData.Timestamp || '', _source_lien_image: sourceData.lien_image || '', _source_message_initial: sourceData.message || '', _source_publication_id: sourceData.publication_id || '', _ref_bien: refBien } }]; }\n\nconst nT=normalize(newLocal.type_de_bien||''), nZ=normalize(newLocal.zone_geographique||''), nC=normalize(newLocal.commune||''), nQ=normalize(newLocal.quartier||''), nP=extractNumbers(newLocal.prix||''), nCh=extractNumbers(newLocal.chambre||''), nM=normalize(newLocal.meubles||'');\nlet isDup=false, mScore=0, mRow=null;\n\nfor (const row of existingItems) {\n  if (!row || !row.type_de_bien) continue;\n  let s=0, mx=0;\n  mx+=3; const eT=normalize(row.type_de_bien||''); if(eT&&nT){if(eT===nT)s+=3;else if(eT.includes(nT)||nT.includes(eT))s+=2;}\n  mx+=2; const eC=normalize(row.commune||''); if(eC&&nC){if(eC===nC)s+=2;else if(eC.includes(nC)||nC.includes(eC))s+=1;}\n  mx+=2; const eQ=normalize(row.quartier||''); if(eQ&&nQ){if(eQ===nQ)s+=2;else if(eQ.includes(nQ)||nQ.includes(eC))s+=1;}\n  mx+=2; const eZ=normalize(row.zone_geographique||''); if(eZ&&nZ){if(eZ===nZ)s+=2;else{const w1=eZ.split(' ').filter(w=>w.length>2),w2=nZ.split(' ').filter(w=>w.length>2);const c=w1.filter(w=>w2.includes(w));const o=c.length/Math.max(w1.length,w2.length,1);if(o>=0.6)s+=1.5;else if(o>=0.3)s+=0.5;}}\n  mx+=2; const eP=extractNumbers(row.prix||''); if(eP&&nP){if(eP===nP)s+=2;else{const p1=parseInt(eP)||0,p2=parseInt(nP)||0;if(p1>0&&p2>0){const d=Math.abs(p1-p2)/Math.max(p1,p2);if(d<=0.1)s+=1.5;else if(d<=0.2)s+=1;}}}\n  mx+=1.5; const eCh=extractNumbers(row.chambre||''); if(eCh&&nCh){if(eCh===nCh)s+=1.5;}else if(!eCh&&!nCh)s+=0.5;\n  mx+=0.5; const eM=normalize(row.meubles||''); if(eM&&nM&&eM===nM)s+=0.5;\n  const sim=mx>0?(s/mx)*100:0; if(sim>=75&&sim>mScore){isDup=true;mScore=sim;mRow=row;}\n}\n\nreturn [{ json: { ...newLocal, _is_duplicate: isDup, _match_score: mScore, _matched_with: mRow?`${mRow.type_de_bien} - ${mRow.commune} ${mRow.quartier} - ${mRow.prix}`:null, _source_groupe: sourceData.groupe||'', _source_nom_groupe: sourceData.nom_groupe||'', _source_timestamp: sourceData.Timestamp||'', _source_lien_image: sourceData.lien_image||'', _source_message_initial: sourceData.message||'', _source_publication_id: sourceData.publication_id||'', _ref_bien: refBien } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [272, -128], "id": "a536ff46-de40-4279-9797-ad93d815c5a9", "name": "Detecteur Doublons Locaux"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-doublon", "leftValue": "={{ $json._is_duplicate }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [496, -128], "id": "49822806-190f-4655-bcd0-51e03f5cceab", "name": "Doublon detecte?"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [720, -224], "id": "6145ff42-4a1f-4a36-9730-ac07a9313d1a", "name": "Doublon - Ignorer"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3}, "conditions": [{"id": "check-skip", "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": {"type": "boolean", "operation": "notEquals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [720, -32], "id": "a4d13a4e-01ba-4e74-9379-85cc28662ca4", "name": "Donnees valides?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"ref_bien\": {{ JSON.stringify($json._ref_bien || '') }},\n  \"type_de_bien\": {{ JSON.stringify($json.type_de_bien || '') }},\n  \"type_offre\": {{ JSON.stringify($json.type_offre || '') }},\n  \"zone_geographique\": {{ JSON.stringify($json.zone_geographique || '') }},\n  \"commune\": {{ JSON.stringify($json.commune || '') }},\n  \"quartier\": {{ JSON.stringify($json.quartier || '') }},\n  \"prix\": {{ JSON.stringify($json.prix || '') }},\n  \"telephone\": {{ JSON.stringify($json.telephone || '') }},\n  \"caracteristiques\": {{ JSON.stringify($json.caracteristiques || '') }},\n  \"publie_par\": {{ JSON.stringify($json.publie_par || '') }},\n  \"meubles\": {{ JSON.stringify($json.meubles || 'Non') }},\n  \"chambre\": {{ JSON.stringify($json.chambre || '') }},\n  \"disponible\": {{ JSON.stringify($json.disponible || 'Oui') }},\n  \"groupe_whatsapp_origine\": {{ JSON.stringify($json._source_nom_groupe || $json._source_groupe || '') }},\n  \"date_publication\": {{ JSON.stringify($json._source_timestamp ? new Date(Number($json._source_timestamp) * 1000).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) : new Date().toLocaleDateString('fr-FR')) }},\n  \"lien_image\": {{ JSON.stringify($json._source_lien_image || '') }},\n  \"message_initial\": {{ JSON.stringify($json._source_message_initial || '') }},\n  \"publication_id\": {{ JSON.stringify($json._source_publication_id || '') }}\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [944, -128], "id": "8c1a849e-1f65-41da-9880-3d7fe140e01a", "name": "Sauvegarder Local"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [944, 64], "id": "b62cf047-909c-41e0-b0b0-b5849b9ddf4c", "name": "Donnees vides - Ignorer"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "condition-fromme", "leftValue": "={{ $json.fromMe }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6272, 428], "id": "426c13a7-038b-4c20-8f9d-342e16c0aa03", "name": "Message Sortant?1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-6048, 332], "id": "dabfaf05-5ee1-465e-8f37-ac746cc8e3a6", "name": "Ignorer (sortant)1"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 1}, "conditions": [{"id": "condition-audio", "leftValue": "={{ $json.message.audioMessage }}", "rightValue": "", "operator": {"type": "string", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {"looseTypeValidation": true}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-6048, 524], "id": "b8b32b19-edac-4b7a-bf13-28f7049a50b5", "name": "Audio ou Texte?1"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/decrypt-media", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ data: { messages: { key: { id: $('Normaliser Webhook').first().json.messageId }, message: { audioMessage: { url: $('Normaliser Webhook').first().json.message.audioMessage.url, mimetype: $('Normaliser Webhook').first().json.message.audioMessage.mimetype, mediaKey: $('Normaliser Webhook').first().json.message.audioMessage.mediaKey } } } } }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.3, "position": [-5824, 428], "id": "982ee01e-7443-4c0d-8244-34f5ec0511a8", "name": "Decrypter L'audio1"}, {"parameters": {"url": "={{ $json.publicUrl }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-5600, 428], "id": "fc4e2ffc-41a1-431a-b176-5a7a88c7d418", "name": "Telecharger Audio1"}, {"parameters": {"resource": "audio", "operation": "transcribe", "options": {}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-5376, 428], "id": "476795df-fa35-451d-a145-7f225a06b41f", "name": "Transcribe a recording1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"assignments": {"assignments": [{"id": "f9699fa6", "name": "text", "value": "={{ $json.text }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-5152, 428], "id": "a278bca3-a9be-4cd5-999c-84621b4ca149", "name": "Recuperer l'audio en text1"}, {"parameters": {"jsCode": "const messageBody = $('Normaliser Webhook').first().json.messageBody || '';\nif (!messageBody.trim()) return [];\nreturn [{ json: { text: messageBody } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-5152, 620], "id": "e997485f-12c1-4dd7-82d3-08c350083182", "name": "Recuperer le message texte1"}, {"parameters": {"promptType": "define", "text": "=Message de l'utilisateur: {{ $json.text }}", "options": {"systemMessage": "# IDENTITÉ\nTu es l'assistant virtuel de BOGBE'S GROUPE MULTI-SERVICES, une agence immobilière basée en Côte d'Ivoire.\nTu communiques via WhatsApp avec des prospects qui cherchent un logement.\n\n# RÈGLES ABSOLUES\n1. Ne JAMAIS révéler que tu es une IA.\n2. Ne JAMAIS inventer d'informations.\n3. Messages courts (max 80 mots), adaptés à WhatsApp.\n4. Ton professionnel et chaleureux.\n5. Maximum 2 offres par message.\n6. Ne JAMAIS proposer proactivement l'adresse.\n7. Quand le client donne son nom, utilise M. ou Mme.\n\n# FORMAT DES PRIX\nFormater avec espaces : 50000 → 50 000. Pas de devise.\n\n# COMPORTEMENT\n1. Accueil → 2. Critères → 3. Recherche → 4. Présentation (ref_bien) → 5. Nom → 6. Date visite → 7. Confirmation → 8. Transfert si demandé\n\nRéponds UNIQUEMENT avec le texte du message destiné au client."}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1, "position": [-4872, 524], "id": "6f1a6921-3245-45a8-ad9e-b6d852c30917", "name": "Agent Conversationnel1"}, {"parameters": {"model": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "gpt-4.1-mini"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [-4928, 748], "id": "2dadca18-6c7c-4a16-b7d9-593389284a5a", "name": "OpenAI Chat Model1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"}, "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [-4800, 748], "id": "84c2c3ed-1cb3-4988-9cae-4301b2f022bc", "name": "Simple Memory1"}, {"parameters": {"name": "recherche_biens_immobiliers", "description": "Recherche tous les biens immobiliers disponibles.", "jsCode": "const response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&select=ref_bien,type_de_bien,type_offre,commune,quartier,prix,caracteristiques,meubles,chambre,telephone,zone_geographique',\n  headers: {\n    'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk',\n    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk'\n  }\n});\n\nif (!response || (Array.isArray(response) && response.length === 0)) {\n  return 'Aucun bien disponible actuellement.';\n}\n\nconst biens = Array.isArray(response) ? response : [response];\n\nfunction formatPrix(prix) {\n  if (!prix) return '?';\n  const s = String(prix).replace(/[^0-9]/g, '');\n  if (!s) return String(prix);\n  return s.replace(/\\B(?=(\\d{3})+(?!\\d))/g, ' ');\n}\n\nreturn biens.map((b, i) => `Bien ${i+1} [Réf: ${b.ref_bien || '?'}]: ${b.type_de_bien || '?'} | ${b.type_offre || 'Location'} | Commune: ${b.commune || '?'} | Quartier: ${b.quartier || '?'} | Prix: ${formatPrix(b.prix)} | Meublé: ${b.meubles || 'Non'} | Chambres: ${b.chambre || '?'} | ${b.caracteristiques || '-'} | Zone: ${b.zone_geographique || '-'} | Contact: ${b.telephone || '-'}`).join('\\n');"}, "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.1, "position": [-4672, 748], "id": "aaff9d2c-67c3-48d6-af34-bc5e9d2e2b5e", "name": "Outil Recherche Locaux"}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4.1-mini", "mode": "list", "cachedResultName": "GPT-4.1-MINI"}, "responses": {"values": [{"role": "system", "content": "Analyseur de conversations immobilières. Extrais en JSON : interesse, transfert_urgent, montrer_media, visite_programme, nom, date_rv, local_interesse, ref_bien. UNIQUEMENT JSON valide."}, {"content": "=Message: {{ $json.text }}\nRéponse assistant: {{ $('Agent Conversationnel1').first().json.output }}\n\n{\"interesse\":false,\"transfert_urgent\":false,\"montrer_media\":false,\"visite_programme\":false,\"nom\":\"\",\"date_rv\":\"\",\"local_interesse\":\"\",\"ref_bien\":\"\"}"}]}, "builtInTools": {}, "options": {"textFormat": {"textOptions": {"type": "json_object"}}, "temperature": 0}}, "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 2.1, "position": [-4464, 524], "id": "2f25dd86-6004-4b31-9e5e-43566e35f919", "name": "Agent Analyseur1", "credentials": {"openAiApi": {"id": "toKKNKCxt5GPmAor", "name": "API Agent Immo"}}}, {"parameters": {"jsCode": "const agentReply = $('Agent Conversationnel1').first().json.output;\nconst raw = $('Agent Analyseur1').first().json;\n\nlet analysis;\ntry {\n  let output = raw.output;\n  if (typeof output === 'string') {\n    const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n    analysis = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(output);\n  } else if (Array.isArray(output)) {\n    const text = output[0]?.content?.[0]?.text || output[0]?.text || '';\n    analysis = typeof text === 'string' ? JSON.parse(text) : text;\n  } else if (typeof output === 'object' && output !== null) {\n    analysis = output;\n  } else {\n    throw new Error('Format inattendu');\n  }\n} catch(e) {\n  analysis = { interesse: false, transfert_urgent: false, montrer_media: false, visite_programme: false, nom: '', date_rv: '', local_interesse: '', ref_bien: '' };\n}\n\nfunction toBool(val) {\n  if (typeof val === 'boolean') return val;\n  if (typeof val === 'string') return val.toLowerCase() === 'true';\n  return false;\n}\n\nreturn [{\n  json: {\n    reply: agentReply,\n    interesse: toBool(analysis.interesse),\n    transfert_urgent: toBool(analysis.transfert_urgent),\n    montrer_media: toBool(analysis.montrer_media),\n    visite_programme: toBool(analysis.visite_programme),\n    nom: String(analysis.nom || ''),\n    date_rv: String(analysis.date_rv || ''),\n    local_interesse: String(analysis.local_interesse || ''),\n    ref_bien: String(analysis.ref_bien || '')\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-4112, 524], "id": "cb04c94f-bfc8-404a-9da8-98c0081bf7cf", "name": "Parser Analyse1"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"}, {"name": "text", "value": "={{ $('Parser Analyse1').first().json.reply }}"}]}, "options": {"timeout": 10000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3888, 236], "id": "b969ed5a-ee70-46c8-a26a-8547ad4a20c8", "name": "Envoyer Reponse WhatsApp1", "onError": "continueRegularOutput"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "a0e3d7c4", "leftValue": "={{ $('Parser Analyse1').first().json.visite_programme }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-3888, 620], "id": "7df3021b-4a0f-48f8-94b1-f491de82f216", "name": "Visite Programmee?1"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-3664, 716], "id": "f9b1ab42-6c3a-4813-9b57-17effbc78cbe", "name": "Pas de visite - Ignorer1"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee?numero=eq.{{ encodeURIComponent($('Normaliser Webhook').first().json.cleanedSenderPn) }}&local_interesse=eq.{{ encodeURIComponent($('Parser Analyse1').first().json.local_interesse) }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-3664, 524], "id": "3421049b-7b42-4449-9a6b-6fbab94c5600", "name": "Verifier Visite Existante", "alwaysOutputData": true, "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const items = $input.all();\nlet count = 0;\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data)) { count = data.length; break; }\n  if (data && typeof data === 'object' && Object.keys(data).length > 0) {\n    if (data.id || data.numero || data.nom_prenom || data.local_interesse) count++;\n  }\n}\nreturn [{ json: { visite_existe_deja: count > 0 } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-3440, 524], "id": "60723e3e-401e-4d2a-8d55-33b7443281fc", "name": "Evaluer Resultat Visite"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-vide", "leftValue": "={{ $json.visite_existe_deja }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-3216, 524], "id": "f1aee9a5-da7b-4eaf-978a-a3bafd7d2a4f", "name": "Pas encore programmee?"}, {"parameters": {"method": "POST", "url": "https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=minimal"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"nom_prenom\": {{ JSON.stringify($('Parser Analyse1').first().json.nom) }},\n  \"numero\": {{ JSON.stringify($('Normaliser Webhook').first().json.cleanedSenderPn) }},\n  \"date_rv\": {{ JSON.stringify($('Parser Analyse1').first().json.date_rv) }},\n  \"local_interesse\": {{ JSON.stringify($('Parser Analyse1').first().json.local_interesse) }},\n  \"ref_bien\": {{ JSON.stringify($('Parser Analyse1').first().json.ref_bien) }},\n  \"visite_prog\": \"Oui\"\n}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2992, 428], "id": "3570a9b0-d540-473b-bfa0-419e6263624b", "name": "Enregistrer Visite Programmee"}, {"parameters": {"url": "=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2768, 428], "id": "3868dcb1-ac20-481b-945b-15e84c6263eb", "name": "Chercher Local"}, {"parameters": {"jsCode": "const localInteresse = $('Parser Analyse1').first().json.local_interesse || '';\nconst refBien = $('Parser Analyse1').first().json.ref_bien || '';\n\nif (!localInteresse || localInteresse.trim() === '') {\n  return [{ json: { telephone: '', ref_bien: refBien, search_error: 'local_interesse vide' } }];\n}\n\nfunction normalize(str) {\n  if (!str) return '';\n  return String(str).toLowerCase().trim()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[\\s\\-.,;:\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst searchTerms = normalize(localInteresse).split(' ').filter(w => w.length > 2);\nif (searchTerms.length === 0) return [{ json: { telephone: '', ref_bien: refBien } }];\n\nlet allLocaux = [];\ntry {\n  const items = $('Chercher Local').all();\n  for (const item of items) {\n    const d = item.json;\n    if (Array.isArray(d)) allLocaux = allLocaux.concat(d);\n    else if (d && d.id) allLocaux.push(d);\n  }\n} catch(e) {\n  return [{ json: { telephone: '', ref_bien: refBien } }];\n}\n\nif (allLocaux.length === 0) return [{ json: { telephone: '', ref_bien: refBien } }];\n\nif (refBien) {\n  const byRef = allLocaux.find(r => r.ref_bien === refBien);\n  if (byRef) return [{ json: { ...byRef, _match_score: 100 } }];\n}\n\nlet bestMatch = null, bestScore = 0;\nfor (const row of allLocaux) {\n  if (!row || !row.type_de_bien) continue;\n  const rowText = normalize((row.type_de_bien||'') + ' ' + (row.zone_geographique||'') + ' ' + (row.commune||'') + ' ' + (row.quartier||'') + ' ' + (row.prix||'') + ' ' + (row.caracteristiques||''));\n  let score = 0;\n  for (const term of searchTerms) { if (rowText.includes(term)) score++; }\n  const pct = (score / searchTerms.length) * 100;\n  if (pct > bestScore && pct >= 40) { bestScore = pct; bestMatch = row; }\n}\n\nreturn bestMatch ? [{ json: { ...bestMatch, _match_score: bestScore } }] : [{ json: { telephone: '', ref_bien: refBien } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-2544, 428], "id": "546eadce-b84e-47d0-bf73-5a8ab134736c", "name": "Recherche Intelligente Local"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3}, "conditions": [{"id": "check-tel", "leftValue": "={{ $json.telephone }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.3, "position": [-2320, 428], "id": "d39fef38-03c6-4738-8b22-4303a6f0acc7", "name": "Telephone Proprietaire Trouve?"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "2250544872051"}, {"name": "text", "value": "=🏠 DEMANDE DE VISITE\n\n📋 Réf : {{ $('Recherche Intelligente Local').first().json.ref_bien || $('Parser Analyse1').first().json.ref_bien || '?' }}\n👤 {{ $('Parser Analyse1').first().json.nom }}\n📱 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n🏡 {{ $('Parser Analyse1').first().json.local_interesse }}\n📅 {{ $('Parser Analyse1').first().json.date_rv }}\n\nMerci de contacter rapidement."}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2096, 332], "id": "8d355865-01b2-402d-9cfe-3a831f4b5207", "name": "Notifier Proprietaire"}, {"parameters": {"method": "POST", "url": "https://www.wasenderapi.com/api/send-message", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]}, "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "to", "value": "2250778311541"}, {"name": "text", "value": "=⚠️ VISITE À TRAITER\n\n📋 Réf : {{ $('Parser Analyse1').first().json.ref_bien || '?' }}\n👤 {{ $('Parser Analyse1').first().json.nom }}\n📱 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n🏡 {{ $('Parser Analyse1').first().json.local_interesse }}\n📅 {{ $('Parser Analyse1').first().json.date_rv }}\n\n❌ Tél propriétaire non trouvé."}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-2096, 524], "id": "0b853c9d-8a4e-48ea-a90f-910ff5277f08", "name": "Notifier Agence (Fallback)"}, {"parameters": {}, "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [-2992, 620], "id": "8aa7b935-f4d6-4653-8716-d8969f51597e", "name": "Deja programmee - Ignorer"}], "connections": {"Webhook Wassender": {"main": [[{"node": "Normaliser Webhook", "type": "main", "index": 0}]]}, "Normaliser Webhook": {"main": [[{"node": "Est un Groupe?", "type": "main", "index": 0}]]}, "Est un Groupe?": {"main": [[{"node": "Recuperer Nom Groupe", "type": "main", "index": 0}], [{"node": "Message Sortant?1", "type": "main", "index": 0}]]}, "Recuperer Nom Groupe": {"main": [[{"node": "Extraire Nom Groupe", "type": "main", "index": 0}]]}, "Extraire Nom Groupe": {"main": [[{"node": "Message Sortant?", "type": "main", "index": 0}]]}, "Message Sortant?": {"main": [[{"node": "Ignorer sortant", "type": "main", "index": 0}], [{"node": "Extraction Commune", "type": "main", "index": 0}]]}, "Extraction Commune": {"main": [[{"node": "Contenu Exploitable?", "type": "main", "index": 0}]]}, "Contenu Exploitable?": {"main": [[{"node": "Audio dans Groupe?", "type": "main", "index": 0}], [{"node": "Ignorer Sticker", "type": "main", "index": 0}]]}, "Audio dans Groupe?": {"main": [[{"node": "Decrypter Audio Groupe", "type": "main", "index": 0}], [{"node": "Chercher Publication Existante", "type": "main", "index": 0}]]}, "Decrypter Audio Groupe": {"main": [[{"node": "Telecharger Audio Groupe", "type": "main", "index": 0}]]}, "Telecharger Audio Groupe": {"main": [[{"node": "Transcrire Audio Groupe", "type": "main", "index": 0}]]}, "Transcrire Audio Groupe": {"main": [[{"node": "Injecter Transcription", "type": "main", "index": 0}]]}, "Injecter Transcription": {"main": [[{"node": "Chercher Publication Existante", "type": "main", "index": 0}]]}, "Chercher Publication Existante": {"main": [[{"node": "Generer Publication ID", "type": "main", "index": 0}]]}, "Generer Publication ID": {"main": [[{"node": "A une Image?", "type": "main", "index": 0}]]}, "A une Image?": {"main": [[{"node": "Decrypter Image", "type": "main", "index": 0}], [{"node": "Preparer Pub Texte", "type": "main", "index": 0}]]}, "Decrypter Image": {"main": [[{"node": "Verifier Decryptage", "type": "main", "index": 0}]]}, "Verifier Decryptage": {"main": [[{"node": "Decryptage OK?", "type": "main", "index": 0}]]}, "Decryptage OK?": {"main": [[{"node": "Upload ImgBB", "type": "main", "index": 0}], [{"node": "Fallback Image", "type": "main", "index": 0}]]}, "Upload ImgBB": {"main": [[{"node": "Construire Donnees Image", "type": "main", "index": 0}]]}, "Construire Donnees Image": {"main": [[{"node": "Supabase IMAGES", "type": "main", "index": 0}]]}, "Fallback Image": {"main": [[{"node": "Supabase IMAGES", "type": "main", "index": 0}]]}, "Supabase IMAGES": {"main": [[{"node": "A aussi du texte?", "type": "main", "index": 0}]]}, "A aussi du texte?": {"main": [[{"node": "Preparer Pub Image Texte", "type": "main", "index": 0}], [{"node": "Preparer Image Seule", "type": "main", "index": 0}]]}, "Preparer Image Seule": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Preparer Pub Image Texte": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Preparer Pub Texte": {"main": [[{"node": "Nouvelle Publication?", "type": "main", "index": 0}]]}, "Nouvelle Publication?": {"main": [[{"node": "Supabase PUBLICATION", "type": "main", "index": 0}], [{"node": "Image rattachee - Ignorer IA", "type": "main", "index": 0}]]}, "Supabase PUBLICATION": {"main": [[{"node": "Extraire Donnees Publication", "type": "main", "index": 0}]]}, "Extraire Donnees Publication": {"main": [[{"node": "Analyse IA Immobilier", "type": "main", "index": 0}]]}, "Analyse IA Immobilier": {"main": [[{"node": "Normaliser Prix", "type": "main", "index": 0}]]}, "Normaliser Prix": {"main": [[{"node": "Lecture Locaux", "type": "main", "index": 0}]]}, "Lecture Locaux": {"main": [[{"node": "Detecteur Doublons Locaux", "type": "main", "index": 0}]]}, "Detecteur Doublons Locaux": {"main": [[{"node": "Doublon detecte?", "type": "main", "index": 0}]]}, "Doublon detecte?": {"main": [[{"node": "Doublon - Ignorer", "type": "main", "index": 0}], [{"node": "Donnees valides?", "type": "main", "index": 0}]]}, "Donnees valides?": {"main": [[{"node": "Sauvegarder Local", "type": "main", "index": 0}], [{"node": "Donnees vides - Ignorer", "type": "main", "index": 0}]]}, "Message Sortant?1": {"main": [[{"node": "Ignorer (sortant)1", "type": "main", "index": 0}], [{"node": "Audio ou Texte?1", "type": "main", "index": 0}]]}, "Audio ou Texte?1": {"main": [[{"node": "Decrypter L'audio1", "type": "main", "index": 0}], [{"node": "Recuperer le message texte1", "type": "main", "index": 0}]]}, "Decrypter L'audio1": {"main": [[{"node": "Telecharger Audio1", "type": "main", "index": 0}]]}, "Telecharger Audio1": {"main": [[{"node": "Transcribe a recording1", "type": "main", "index": 0}]]}, "Transcribe a recording1": {"main": [[{"node": "Recuperer l'audio en text1", "type": "main", "index": 0}]]}, "Recuperer l'audio en text1": {"main": [[{"node": "Agent Conversationnel1", "type": "main", "index": 0}]]}, "Recuperer le message texte1": {"main": [[{"node": "Agent Conversationnel1", "type": "main", "index": 0}]]}, "Agent Conversationnel1": {"main": [[{"node": "Agent Analyseur1", "type": "main", "index": 0}]]}, "OpenAI Chat Model1": {"ai_languageModel": [[{"node": "Agent Conversationnel1", "type": "ai_languageModel", "index": 0}]]}, "Simple Memory1": {"ai_memory": [[{"node": "Agent Conversationnel1", "type": "ai_memory", "index": 0}]]}, "Outil Recherche Locaux": {"ai_tool": [[{"node": "Agent Conversationnel1", "type": "ai_tool", "index": 0}]]}, "Agent Analyseur1": {"main": [[{"node": "Parser Analyse1", "type": "main", "index": 0}]]}, "Parser Analyse1": {"main": [[{"node": "Envoyer Reponse WhatsApp1", "type": "main", "index": 0}, {"node": "Visite Programmee?1", "type": "main", "index": 0}]]}, "Visite Programmee?1": {"main": [[{"node": "Verifier Visite Existante", "type": "main", "index": 0}], [{"node": "Pas de visite - Ignorer1", "type": "main", "index": 0}]]}, "Verifier Visite Existante": {"main": [[{"node": "Evaluer Resultat Visite", "type": "main", "index": 0}]]}, "Evaluer Resultat Visite": {"main": [[{"node": "Pas encore programmee?", "type": "main", "index": 0}]]}, "Pas encore programmee?": {"main": [[{"node": "Enregistrer Visite Programmee", "type": "main", "index": 0}], [{"node": "Deja programmee - Ignorer", "type": "main", "index": 0}]]}, "Enregistrer Visite Programmee": {"main": [[{"node": "Chercher Local", "type": "main", "index": 0}]]}, "Chercher Local": {"main": [[{"node": "Recherche Intelligente Local", "type": "main", "index": 0}]]}, "Recherche Intelligente Local": {"main": [[{"node": "Telephone Proprietaire Trouve?", "type": "main", "index": 0}]]}, "Telephone Proprietaire Trouve?": {"main": [[{"node": "Notifier Proprietaire", "type": "main", "index": 0}], [{"node": "Notifier Agence (Fallback)", "type": "main", "index": 0}]]}}}