workflows/Imm supabase.json
{"updatedAt":"2026-02-27T16:51:03.600Z","createdAt":"2026-02-16T00:11:06.087Z","id":"LTZJrc7tYwv6Qm6a5wtZ0","name":"Imm supabase","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wassender-immobilier","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20048,-944],"id":"d1b8d7ba-2a8d-4156-8684-497cc42c638e","name":"Webhook Wassender","webhookId":"wassender-immobilier-webhook"},{"parameters":{"jsCode":"// Validation Webhook - pass-through si pas de signature (Wasender standard)\n// Bloque uniquement si signature présente mais invalide\ntry {\n  const WASENDER_SECRET = '1762ea865bd12948e715bbd6f9e03ef7';\n  const json = $input.first().json;\n  const headers = json.headers || {};\n\n  const rawBody = json.rawBody\n    || (typeof json.body === 'string' ? json.body : null)\n    || JSON.stringify(json.body)\n    || '';\n\n  const receivedSig = (\n    headers['x-webhook-signature'] ||\n    headers['x-wasender-signature'] ||\n    headers['x-hub-signature-256'] ||\n    ''\n  ).replace('sha256=', '').toLowerCase();\n\n  // Pas de signature → Wasender ne signe pas → laisser passer\n  if (!receivedSig) {\n    console.log('Pas de signature - pass-through');\n    return $input.all();\n  }\n\n  // Signature présente → valider HMAC\n  const crypto = require('crypto');\n  const expected = crypto\n    .createHmac('sha256', WASENDER_SECRET)\n    .update(rawBody)\n    .digest('hex')\n    .toLowerCase();\n\n  if (expected !== receivedSig) {\n    console.log('Signature invalide - rejet');\n    return [{ json: { error: true, message: 'Signature invalide', status: 401 } }];\n  }\n\n  return $input.all();\n} catch (e) {\n  console.log('Erreur validateur:', e.message, '- pass-through');\n  return $input.all();\n}"},"id":"cd3f2aa2-3e67-42e0-81f9-0d3f570757da","name":"Valider Token Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[-19824,-944]},{"parameters":{"jsCode":"// Sanitiser les inputs pour eviter injection\n// IMPORTANT: On préserve la structure COMPLÈTE du webhook ici\n// Le Normaliser Webhook va ensuite extraire les données de la bonne structure\ntry {\n  const data = $input.first().json;\n\n  const sanitize = (str) => {\n    if (!str || typeof str !== 'string') return str;\n    return str.replace(/[\\x00-\\x1f]/g, '').substring(0, 2000).trim();\n  };\n\n  // Sanitiser les champs texte dans body.data.messages si présent\n  const body = data.body || data;\n  const msgData = body.data || {};\n  const messages = msgData.messages || {};\n  const message = messages.message || {};\n  \n  // Sanitiser les champs texte accessibles à ce stade\n  if (messages.messageBody) messages.messageBody = sanitize(messages.messageBody);\n  if (messages.pushName) messages.pushName = sanitize(messages.pushName);\n  if (message.conversation) message.conversation = sanitize(message.conversation);\n  if (message.extendedTextMessage && message.extendedTextMessage.text) {\n    message.extendedTextMessage.text = sanitize(message.extendedTextMessage.text);\n  }\n  \n  // Retourner la structure ORIGINALE intacte (avec les modifications sanitisées)\n  return [{ json: data }];\n} catch (e) {\n  // Ne jamais bloquer - retourner l'input original\n  return $input.all();\n}"},"id":"0b745117-3195-45b5-ae49-3252056aac3d","name":"Sanitiser Input Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[-19600,-944]},{"parameters":{"jsCode":"// ===== NORMALISER LA STRUCTURE DU WEBHOOK =====\n// Gestion robuste des LIDs WhatsApp (Linked IDs vs vrais numéros)\ntry {\n  const body = $input.first().json.body || $input.first().json;\n  const event = body.event || '';\n  const data = body.data || body;\n\n  if (event && !event.includes('message')) return [];\n\n  let msg = null;\n  if (Array.isArray(data.messages)) msg = data.messages[0];\n  else if (data.messages && typeof data.messages === 'object') msg = data.messages;\n  else if (data.message) msg = data.message;\n  else msg = data;\n\n  if (!msg) return [];\n\n  const key = msg.key || {};\n  const message = msg.message || {};\n  const remoteJid = key.remoteJid || msg.remoteJid || '';\n  const fromMe = key.fromMe === true || key.fromMe === 'true';\n  const pushName = msg.pushName || msg.senderName || '';\n  const messageTimestamp = msg.messageTimestamp || msg.timestamp || Math.floor(Date.now() / 1000);\n  const messageId = key.id || msg.id || '';\n  const participant = key.participant || msg.participant || '';\n\n  if (!remoteJid) return [];\n  if (remoteJid === 'status@broadcast') return [];\n  if (message.reactionMessage || message.protocolMessage || message.senderKeyDistributionMessage) return [];\n\n  let messageBody = msg.messageBody || msg.body || '';\n  if (!messageBody) messageBody = message.conversation || '';\n  if (!messageBody) messageBody = (message.extendedTextMessage && message.extendedTextMessage.text) || '';\n  if (!messageBody) messageBody = (message.imageMessage && message.imageMessage.caption) || '';\n  if (!messageBody) messageBody = (message.videoMessage && message.videoMessage.caption) || '';\n\n  const isGroup = remoteJid.includes('@g.us');\n\n  let groupName = '';\n  if (isGroup) {\n    groupName = msg.groupName || msg.groupSubject || '';\n    if (!groupName) groupName = data.groupName || data.groupSubject || '';\n    if (!groupName) groupName = body.groupName || body.groupSubject || '';\n    if (!groupName && msg.groupMetadata) groupName = msg.groupMetadata.subject || msg.groupMetadata.name || '';\n    if (!groupName && data.groupMetadata) groupName = data.groupMetadata.subject || data.groupMetadata.name || '';\n    if (!groupName && message.extendedTextMessage && message.extendedTextMessage.contextInfo) {\n      groupName = message.extendedTextMessage.contextInfo.groupSubject || '';\n    }\n    if (!groupName) {\n      const search = (obj, depth) => {\n        depth = depth || 0;\n        if (!obj || typeof obj !== 'object' || depth > 4) return '';\n        for (const k of ['groupName', 'groupSubject', 'subject']) { if (obj[k] && typeof obj[k] === 'string') return obj[k]; }\n        for (const k of Object.keys(obj)) { if (typeof obj[k] === 'object') { const f = search(obj[k], depth + 1); if (f) return f; } }\n        return '';\n      };\n      groupName = search(body);\n    }\n    if (!groupName) groupName = remoteJid.replace('@g.us', '');\n  }\n\n  function isValidPhoneNumber(num) {\n    if (!num) return false;\n    const cleaned = num.replace(/[^0-9]/g, '');\n    if (cleaned.length < 10 || cleaned.length > 13) return false;\n    return true;\n  }\n\n  function extractCleanNumber(str) {\n    if (!str) return '';\n    return str.replace(/@s\\.whatsapp\\.net/g, '').replace(/@lid/g, '').replace(/@g\\.us/g, '').replace(/@[a-z.]+/g, '').trim();\n  }\n\n  let cleanedSenderPn = '';\n  const numberSources = [];\n\n  if (isGroup) {\n    numberSources.push(key.participantPn, key.cleanedParticipantPn, msg.participantPn, msg.cleanedParticipantPn, participant);\n  } else {\n    numberSources.push(remoteJid);\n  }\n\n  numberSources.push(key.cleanedSenderPn, msg.cleanedSenderPn, key.senderPn, msg.senderPn, msg.from, data.from, body.from);\n\n  function findPhoneInObj(obj, depth) {\n    depth = depth || 0;\n    if (!obj || typeof obj !== 'object' || depth > 3) return '';\n    for (const k of ['senderPn', 'cleanedSenderPn', 'participantPn', 'cleanedParticipantPn', 'from', 'sender']) {\n      if (obj[k] && typeof obj[k] === 'string') {\n        const cleaned = extractCleanNumber(obj[k]);\n        if (isValidPhoneNumber(cleaned)) return cleaned;\n      }\n    }\n    for (const k of Object.keys(obj)) {\n      if (typeof obj[k] === 'object') { const found = findPhoneInObj(obj[k], depth + 1); if (found) return found; }\n    }\n    return '';\n  }\n\n  for (const src of numberSources) {\n    if (src) {\n      const cleaned = extractCleanNumber(String(src));\n      if (isValidPhoneNumber(cleaned)) { cleanedSenderPn = cleaned; break; }\n    }\n  }\n\n  if (!cleanedSenderPn) {\n    cleanedSenderPn = findPhoneInObj(msg) || findPhoneInObj(data) || findPhoneInObj(body);\n  }\n\n  const isLid = !isValidPhoneNumber(cleanedSenderPn);\n\n  const hasAudio = !!message.audioMessage;\n  const hasImage = !!message.imageMessage;\n  const hasText = messageBody.trim().length > 0;\n  if (!hasAudio && !hasText && !hasImage) return [];\n\n  if (!isGroup && isLid && !cleanedSenderPn) {\n    console.log('LID détecté, message ignoré:', remoteJid);\n    return [];\n  }\n\n  return [{ json: { remoteJid, fromMe, pushName, messageTimestamp, messageBody, messageId, participant, cleanedSenderPn, isGroup, groupName, isLid, key, message, rawMsg: msg, hasAudio, hasImage, hasText } }];\n} catch(e) {\n  console.log('Normaliser Webhook erreur:', e.message);\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-19376,-944],"id":"17c9548b-8d2b-430a-871e-f1ac78b26e8f","name":"Normaliser Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-group","leftValue":"={{ $json.isGroup }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-19152,-944],"id":"ec02ba4d-a2d3-4596-bff9-68adc5e66f40","name":"Est un Groupe?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18928,-1136],"id":"7678a74f-23cc-42d4-8ac1-49664617d831","name":"Message Sortant? (Groupe)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18928,-624],"id":"891cdeaf-19a7-4e17-b49d-006894465254","name":"Message Sortant? (Prospect)"},{"parameters":{"jsCode":"const normalized = $('Normaliser Webhook').first().json;\nconst message = normalized.message || {};\nconst hasImage = normalized.hasImage || !!message.imageMessage;\nconst hasAudio = normalized.hasAudio || !!message.audioMessage;\nconst messageBody = (normalized.messageBody || '').trim();\nconst hasMessageBody = messageBody.length > 0;\nif (!hasImage && !hasMessageBody) return [];\nif (hasAudio && !hasMessageBody && !hasImage) return [];\nlet horodatage = '';\ntry { const tsNum = typeof normalized.messageTimestamp === 'string' ? parseInt(normalized.messageTimestamp) : (normalized.messageTimestamp || 0); horodatage = new Date(tsNum * 1000).toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); } catch { horodatage = new Date().toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); }\nconst texte = message.imageMessage?.caption || (hasMessageBody ? messageBody : '') || message.conversation || message.extendedTextMessage?.text || '';\nconst type = hasImage ? (texte.length > 0 ? 'image+texte' : 'image') : 'texte';\nlet imageInfo = null;\nif (hasImage && message.imageMessage) { const im = message.imageMessage; imageInfo = { url: im.url || '', mimetype: im.mimetype || 'image/jpeg', mediaKey: im.mediaKey || '', directPath: im.directPath || '', fileEncSha256: im.fileEncSha256 || '', fileSha256: im.fileSha256 || '', fileLength: im.fileLength || '' }; }\nconst groupeNom = normalized.isGroup ? (normalized.groupName || normalized.remoteJid.replace('@g.us', '')) : '';\nconst groupeJid = normalized.isGroup ? normalized.remoteJid : '';\nreturn [{ json: { Horodatage: horodatage, Groupe_Nom: groupeNom, Groupe_JID: groupeJid, Expediteur: normalized.pushName || '', Telephone: normalized.cleanedSenderPn || '', Message_ID: normalized.messageId || '', Type: type, Message: texte, has_image: hasImage, has_text: texte.length > 0, imageInfo: imageInfo, Timestamp: normalized.messageTimestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18704,-1136],"id":"22cea6f2-021b-4d27-befc-23fa0f671ef2","name":"Preparer Publication Groupe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-image","leftValue":"={{ $json.has_image }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18480,-1136],"id":"555362eb-0a4c-4f6a-94ea-51216ff2ecfe","name":"Contient une Image?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"data\": { \"messages\": { \"key\": { \"id\": $json.Message_ID }, \"message\": { \"imageMessage\": { \"url\": $json.imageInfo ? $json.imageInfo.url : '', \"mimetype\": $json.imageInfo ? $json.imageInfo.mimetype : 'image/jpeg', \"mediaKey\": $json.imageInfo ? $json.imageInfo.mediaKey : '', \"directPath\": $json.imageInfo ? $json.imageInfo.directPath : '', \"fileEncSha256\": $json.imageInfo ? $json.imageInfo.fileEncSha256 : '', \"fileSha256\": $json.imageInfo ? $json.imageInfo.fileSha256 : '', \"fileLength\": $json.imageInfo ? $json.imageInfo.fileLength : '' } } } } }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18256,-1232],"id":"95c679bd-a421-4528-86b6-cee04c7d51ce","name":"Decrypter Image","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const result = $input.first().json;\nlet publicUrl = result.publicUrl || result.data?.publicUrl || result.url || result.data?.url || '';\nconst ok = publicUrl.startsWith('http');\nreturn [{ json: { publicUrl: ok ? publicUrl : '', decrypt_ok: ok } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18032,-1232],"id":"70f56c5b-ccc7-40ac-bc92-fe9ffedb8a02","name":"Verifier Decryptage Image"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-decrypt-ok","leftValue":"={{ $json.decrypt_ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-17808,-1232],"id":"700c3749-fda4-4512-a9b6-2b21f978a6d5","name":"Decryptage OK?"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"key","value":"=9f8a1a2b1ec266006878b8e5e20f713e"},{"name":"image","value":"={{ $('Verifier Decryptage Image').first().json.publicUrl }}"},{"name":"expiration","value":"15552000"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-17584,-1328],"id":"06fca694-ac5f-481e-942c-247abb1bbd66","name":"Upload Image ImgBB","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const imgResult = $input.first().json;\nconst extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = imgResult?.data?.url || imgResult?.data?.display_url || $('Verifier Decryptage Image').first().json?.publicUrl || '[Upload échoué]';\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, has_text: extracted.has_text, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17248,-1328],"id":"1572b373-774b-44a3-bb07-d86b4f443a45","name":"Construire Donnees Avec Image"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: '[Décryptage échoué]', has_text: extracted.has_text, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17248,-1120],"id":"7ca4e2f7-29a0-4df6-9218-156802eb3d8f","name":"Fallback Image Echouee"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/images","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"horodatage\": $json.Horodatage || '', \"groupe\": $json.Groupe_Nom || '', \"groupe_jid\": $json.Groupe_JID || '', \"telephone\": $json.Telephone || '', \"expediteur\": $json.Expediteur || '', \"type\": $json.Type || '', \"lien_image\": $json.Lien_Image || '', \"message_id\": $json.Message_ID || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16832,-1232],"id":"9a5de472-29bc-45c6-a84a-993a3e04d270","name":"Sauvegarder Image Supabase","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-caption","leftValue":"={{ $('Preparer Publication Groupe').first().json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-16544,-1232],"id":"ff243d47-782a-44a1-91a7-31737c1d13b3","name":"Image avec Texte?"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Avec Image').first().json?.Lien_Image || ''; } catch(e) {}\nif (!lienImage) { try { lienImage = $('Fallback Image Echouee').first().json?.Lien_Image || ''; } catch(e) {} }\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-1136],"id":"15199d39-788c-481e-b2e7-5b396ba5529e","name":"Preparer Publication Image+Texte"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: '', Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-944],"id":"0a7f3b83-bd14-4ee8-b45e-d3ab1303fed9","name":"Preparer Publication Texte Seul"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Avec Image').first().json?.Lien_Image || ''; } catch(e) {}\nif (!lienImage) { try { lienImage = $('Fallback Image Echouee').first().json?.Lien_Image || ''; } catch(e) {} }\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: 'image', Message: '[Image sans texte]', Lien_Image: lienImage, Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-1328],"id":"6084e1dc-17a2-4fc1-a417-e61841ece79b","name":"Preparer Publication Image Seule"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"horodatage\": $json.Horodatage || '', \"groupe\": $json.Groupe_Nom || '', \"groupe_jid\": $json.Groupe_JID || '', \"expediteur\": $json.Expediteur || '', \"telephone\": $json.Telephone || '', \"type\": $json.Type || '', \"message\": $json.Message || '', \"lien_image\": $json.Lien_Image || '', \"message_id\": $json.Message_ID || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16096,-1136],"id":"f5fd3f07-5662-4682-ba84-28642c0cd691","name":"Enregistrer Publication Supabase","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const rawResponse = $input.first().json;\nlet pubData = {};\nif (Array.isArray(rawResponse)) { pubData = rawResponse[0] || {}; } else if (rawResponse && typeof rawResponse === 'object') { pubData = rawResponse; }\nconst sourceFromPrep = (() => { try { return $('Preparer Publication Image+Texte').first().json; } catch(e) {} try { return $('Preparer Publication Texte Seul').first().json; } catch(e) {} try { return $('Preparer Publication Image Seule').first().json; } catch(e) {} return {}; })();\nreturn [{ json: { publication_id: pubData.id || '', groupe: pubData.groupe || sourceFromPrep.Groupe_Nom || '', groupe_jid: pubData.groupe_jid || sourceFromPrep.Groupe_JID || '', expediteur: pubData.expediteur || sourceFromPrep.Expediteur || '', telephone: pubData.telephone || sourceFromPrep.Telephone || '', message: pubData.message || sourceFromPrep.Message || '', lien_image: pubData.lien_image || sourceFromPrep.Lien_Image || '', horodatage: pubData.horodatage || sourceFromPrep.Horodatage || '', message_id: pubData.message_id || sourceFromPrep.Message_ID || '' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15872,-1136],"id":"22d6b77e-761f-474f-b8e8-a203d2838f5f","name":"Extraire Donnees Publication"},{"parameters":{"jsCode":"// Pré-filtrer: Est-ce vraiment une annonce immobilière?\n// Évite les appels OpenAI coûteux sur du spam/messages hors-sujet\ntry {\n  const input = $input.first().json;\n  const msg = input.message || input.messageBody || input.text || '';\n\n  if (!msg || msg.length < 10) {\n    console.log('Message trop court, ignoré');\n    return [];\n  }\n\n  const realEstateKeywords = [\n    'appartement', 'studio', 'chambre', 'maison', 'villa', 'duplex', 'triplex',\n    'terrain', 'bureau', 'magasin', 'boutique', 'entrepot', 'local', 'residence',\n    'parking', 'garage', 'immeuble',\n    'cocody', 'yopougon', 'marcory', 'koumassi', 'treichville', 'plateau', 'adjame',\n    'abobo', 'attecoube', 'port-bouet', 'bingerville', 'songon', 'anyama', 'bassam',\n    'assinie', 'abidjan', 'riviera', 'angre', 'calavi', 'bapro',\n    'meuble', 'climatise', 'neuf', 'renove', 'securise', 'piscine',\n    'jardin', 'balcon', 'terrasse', 'cuisine', 'salle',\n    'prix', 'fcfa', 'louer', 'vendre', 'location', 'vente', 'bail', 'disponible',\n    'annonce', 'offre', 'demande'\n  ];\n\n  const msgLower = msg.toLowerCase();\n  const keywordCount = realEstateKeywords.filter(kw => msgLower.includes(kw)).length;\n  const isRealEstate = keywordCount >= 2;\n\n  if (!isRealEstate) {\n    console.log('Pas une annonce immobilière (score ' + keywordCount + ' keywords)');\n    return [];\n  }\n\n  console.log('Annonce immobilière détectée (' + keywordCount + ' keywords)');\n  return [{ json: input }];\n} catch(e) {\n  console.log('Pré-filtrer erreur:', e.message);\n  return [];\n}"},"id":"3aaecd46-0592-4b18-90d7-88a90dd37f0e","name":"Pré-filtrer Annonce Immobilière","type":"n8n-nodes-base.code","typeVersion":2,"position":[-15648,-1136]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Tu es un expert en extraction de données immobilières pour la Côte d'Ivoire.\nExtrais les informations structurées à partir de publications WhatsApp de groupes immobiliers.\n\n# COMMUNES D'ABIDJAN\nCocody, Yopougon, Marcory, Koumassi, Treichville, Plateau, Adjamé, Abobo, Attécoubé, Port-Bouët, Bingerville, Songon, Anyama.\n\n# RÈGLES STRICTES\n- Ne JAMAIS inventer de données. Champ vide \"\" si information absente.\n- disponible : \"Oui\" par défaut, \"Non\" seulement si explicitement indiqué.\n- Déduis le type_offre depuis le contexte (louer = Location, vendre/acheter = Vente).\n- Réponds UNIQUEMENT avec le JSON, sans texte avant ni après.\n\n# FORMAT JSON ATTENDU\n{\n  \"type_de_bien\": \"\",\n  \"type_offre\": \"Location|Vente\",\n  \"zone_geographique\": \"\",\n  \"commune\": \"\",\n  \"quartier\": \"\",\n  \"prix\": \"\",\n  \"telephone\": \"\",\n  \"caracteristiques\": \"\",\n  \"publie_par\": \"\",\n  \"meubles\": \"Oui|Non\",\n  \"chambre\": \"\",\n  \"disponible\": \"Oui|Non\"\n}"},{"content":"=Publication de {{ $json.expediteur }} dans le groupe {{ $json.groupe }}\n\nContact publieur : {{ $json.telephone }}\n\nMessage : {{ $json.message }}"}]},"builtInTools":{},"options":{"maxTokens":400,"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-15424,-1136],"id":"26efb4a9-802c-41ba-8d39-b404c8789481","name":"IA Extraction Annonce","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}},"onError":"continueRegularOutput","notes":"SÉCURITÉ: Message de groupe peut être malveillant. Pré-filtre réduit le risque. Prompt à jour avec instructions strictes."},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&commune=eq.{{ encodeURIComponent($('Normaliser Webhook').first().json.groupName) }}&select=id,ref_bien,type_de_bien,commune,quartier,prix,caracteristiques,telephone_bien&order=date_publication.desc&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15072,-1232],"id":"352eefaa-d1d7-4062-b472-3b6e22ae9c9d","name":"Charger Annonces Recentes","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Parser output IA Extraction + generer ref_bien + dedup\ntry {\n  // L'IA retourne: {output: [{content: [{text: ...}]}]}\n  const raw = $input.first().json;\n  let extracted = {};\n  try {\n    const textVal = raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text;\n    if (textVal && typeof textVal === 'object') extracted = textVal;\n    else if (textVal && typeof textVal === 'string') extracted = JSON.parse(textVal);\n    else extracted = raw;\n  } catch(e) {\n    extracted = raw;\n  }\n\n  // Generer ref_bien\n  const typeMapping = {\n    'appartement': 'APT', 'studio': 'STU', 'chambre': 'CHB', 'maison': 'MAS', 'villa': 'VIL',\n    'duplex': 'DPX', 'terrain': 'TER', 'bureau': 'BUR', 'magasin': 'MAG', 'local': 'LOC'\n  };\n  const typeLow = (extracted.type_de_bien || '').toLowerCase();\n  const typeKey = Object.keys(typeMapping).find(k => typeLow.includes(k));\n  const typeCode = typeKey ? typeMapping[typeKey] : (typeLow.substring(0, 3).toUpperCase() || 'BIE');\n  const communeStr = (extracted.commune || '').substring(0, 3).toUpperCase() || 'ABJ';\n  const shortUuid = 'xxxxxxxx'.replace(/[x]/g, function() { return Math.floor(Math.random()*16).toString(16).toUpperCase(); });\n  const ref_bien = typeCode + '-' + communeStr + '-' + shortUuid;\n\n  // Hash djb2 pure JS\n  function djb2Hash(str) {\n    let h = 5381;\n    for (let i = 0; i < str.length; i++) h = ((h << 5) + h + str.charCodeAt(i)) & 0xFFFFFFFF;\n    return (h >>> 0).toString(16).padStart(8, '0');\n  }\n  const contentHash = djb2Hash(JSON.stringify({\n    type: typeLow,\n    prix: String(extracted.prix || ''),\n    commune: (extracted.commune || '').toLowerCase(),\n    quartier: (extracted.quartier || '').toLowerCase(),\n    caract: (extracted.caracteristiques || '').substring(0, 100).toLowerCase()\n  }));\n\n  // Verifier doublons\n  let annonces = [];\n  try { annonces = $('Charger Annonces Recentes').all().map(i => i.json); } catch(e) { annonces = []; }\n  const isDuplicate = annonces.some(a => a.content_hash === contentHash);\n  if (isDuplicate) {\n    console.log('Doublon detecte: ' + contentHash);\n    return [];\n  }\n\n  // Recuperer les donnees source depuis Extraire Donnees Publication\n  let sourcePub = {};\n  try { sourcePub = $('Extraire Donnees Publication').first().json; } catch(e) {}\n\n  // Mapper vers schema Supabase locaux + enrichir avec donnees source\n  const annonce = {\n    ref_bien,\n    content_hash: contentHash,\n    type_de_bien: extracted.type_de_bien || '',\n    type_offre: extracted.type_offre || '',\n    zone_geographique: extracted.zone_geographique || '',\n    commune: extracted.commune || '',\n    quartier: extracted.quartier || '',\n    prix: extracted.prix || '',\n    telephone_bien: extracted.telephone || '',\n    caracteristiques: extracted.caracteristiques || '',\n    publie_par: extracted.publie_par || '',\n    meubles: extracted.meubles === 'Oui' ? true : false,\n    chambre: extracted.chambre || '',\n    disponible: true,\n    status: 'active',\n    // Donnees source pour Sauvegarder Nouvelle Annonce\n    _source_telephone: sourcePub.telephone || '',\n    _source_expediteur: sourcePub.expediteur || '',\n    _source_groupe_nom: sourcePub.groupe || '',\n    _source_groupe_jid: sourcePub.groupe_jid || '',\n    _source_lien_image: sourcePub.lien_image || '',\n    _source_message: sourcePub.message || '',\n    _source_publication_id: sourcePub.publication_id || ''\n  };\n\n  console.log('Annonce: ' + ref_bien + ' | ' + annonce.type_de_bien + ' | ' + annonce.commune);\n  return [{ json: annonce }];\n} catch(e) {\n  console.log('Detecteur Doublons erreur:', e.message);\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15072,-816],"id":"420f174a-10ea-4008-86f4-8ee0e48b82c3","name":"Detecteur Doublons"},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"check-doublon","leftValue":"={{ $json.ref_bien }}","operator":{"operation":"notEmpty","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1}},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-14848,-816],"id":"c37056f5-7faa-47b4-be74-c6c1ab551a1d","name":"Est un Doublon?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"ref_bien\": $json.ref_bien || '', \"type_de_bien\": $json.type_de_bien || '', \"type_offre\": $json.type_offre || '', \"zone_geographique\": $json.zone_geographique || '', \"commune\": $json.commune || '', \"quartier\": $json.quartier || '', \"prix\": $json.prix || '', \"telephone\": $json.telephone || '', \"telephone_bien\": $json.telephone || '', \"telephone_expediteur\": $json._source_telephone || '', \"expediteur\": $json._source_expediteur || '', \"caracteristiques\": $json.caracteristiques || '', \"publie_par\": $json.publie_par || '', \"meubles\": $json.meubles || 'Non', \"chambre\": $json.chambre || '', \"disponible\": $json.disponible || 'Oui', \"status\": \"active\", \"groupe_whatsapp_origine\": $json._source_groupe_nom || '', \"groupe_whatsapp_jid\": $json._source_groupe_jid || '', \"date_publication\": new Date().toISOString(), \"lien_image\": $json._source_lien_image || '', \"message_initial\": $json._source_message || '', \"publication_id\": $json._source_publication_id || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14624,-816],"id":"c9542866-d9ba-49d3-b796-fc150388f017","name":"Sauvegarder Nouvelle Annonce","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-audio","leftValue":"={{ $json.hasAudio }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18480,-624],"id":"1fc4eafe-ab8c-4129-a59f-7f129b7a2001","name":"Audio ou Texte?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"data\": { \"messages\": { \"key\": { \"id\": $('Normaliser Webhook').first().json.messageId }, \"message\": { \"audioMessage\": $('Normaliser Webhook').first().json.message.audioMessage || {} } } } }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18256,-752],"id":"47723933-87e2-4b14-ac1c-8a2dd1bb711e","name":"Decrypter Audio","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.publicUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18032,-752],"id":"5266708d-86b7-43cb-b782-fc538eea2c0a","name":"Telecharger Audio","onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"fr"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-17808,-752],"id":"499202b8-3e3f-4b8d-ae5d-8367df6d5ffb","name":"Transcription Audio","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const source = $input.first().json;\nconst text = source.text || source.messageBody || '';\nif (!text || !text.trim()) return [];\nreturn [{ json: { text: text.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17584,-752],"id":"42b735ec-2755-4936-a041-bc0796fbcdf6","name":"Unifier Texte vers Agent"},{"parameters":{"jsCode":"const normalized = $('Normaliser Webhook').first().json;\nlet messageBody = normalized.messageBody || '';\nif (!messageBody) messageBody = normalized.message?.conversation || '';\nif (!messageBody) messageBody = normalized.message?.extendedTextMessage?.text || '';\nif (!messageBody.trim()) { return [{ json: { text: '[Message vide reçu]', _debug_no_text: true, _raw_keys: Object.keys(normalized) } }]; }\nreturn [{ json: { text: messageBody.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17584,-528],"id":"ab99da62-85b4-4ea6-b54c-8fbcc2586d13","name":"Recuperer Message Texte"},{"parameters":{"options":{"systemMessage":"# IDENTITÉ\nTu es Immo Plus, l'assistant immobilier WhatsApp de Côte d'Ivoire. Tu aides à trouver des biens immobiliers (location/vente) à Abidjan et en CI.\n\n# RÈGLE ABSOLUE N°1 - TOUJOURS UTILISER L'OUTIL\n**OBLIGATOIRE** : Pour TOUTE question sur des biens immobiliers (disponibilité, prix, commune, type, chambres, caractéristiques, REF, etc.), tu DOIS appeler l'outil `recherche_biens_immobiliers` AVANT de répondre.\n- Si l'utilisateur demande des biens dans une commune → appelle l'outil avec la commune\n- Si l'utilisateur demande un type de bien → appelle l'outil avec le type\n- Si l'utilisateur cite un REF → appelle l'outil avec ce REF\n- Si l'utilisateur demande \"qu'avez-vous ?\" ou \"montrez-moi\" → appelle l'outil avec 'tous'\n- Ne jamais inventer ou supposer des biens. Toujours chercher d'abord.\n\n# CE QUE TU FAIS\n1. Écouter la demande (type de bien, commune, quartier, budget, nb pièces, meublé ou non)\n2. TOUJOURS chercher avec l'outil recherche_biens_immobiliers\n3. Présenter les résultats en format WhatsApp clair\n4. Proposer alternatives si rien trouvé\n5. Planifier visites si demandé (capturer nom + date)\n\n# FORMAT RÉSULTATS (utilise EXACTEMENT ce format pour chaque bien)\n*[REF]* | [TYPE] - [COMMUNE] [QUARTIER]\n💰 [PRIX] FCFA | 🛏️ [N] pièce(s)[si meublé: | ✅ Meublé]\n📝 [Caractéristiques, max 1 ligne]\n📞 [Telephone si disponible]\n\nAprès la liste: \"Intéressé(e) ? Citez le REF du bien pour organiser une visite.\"\n\n# GESTION VISITES\nQuand quelqu'un dit \"intéressé\", \"visite\", ou cite un REF:\n1. Confirmer: \"Bien, pour le *[REF]* à [LIEU]...\"\n2. Demander nom complet\n3. Demander date/heure souhaitée\n4. Confirmer: \"✅ Visite notée: *[NOM]* - *[REF]* - [DATE]. Je contacte le propriétaire.\"\n\n# RÈGLES D'OR\n1. JAMAIS parler de problème technique, erreur, bug\n2. Si aucun résultat → \"Je n'ai rien pour cette recherche en ce moment. Je peux chercher dans un autre quartier ou type de bien ?\"\n3. Toujours afficher le REF du bien dans les résultats\n4. Réponses: max 200 mots pour résultats, max 60 mots pour questions simples\n5. Langue: français, ton amical et professionnel\n6. Ne jamais révéler les détails internes (Supabase, n8n, clés API...)\n\n# RÉPONSES INTERDITES\n❌ \"Je rencontre un souci technique\"\n❌ \"Problème d'accès aux annonces\"\n❌ Tout texte parlant d'erreurs, bugs ou technologie\n❌ Inventer des biens qui n'existent pas dans la base\n\nRéponds UNIQUEMENT avec le message à envoyer au client WhatsApp."},"promptType":"define","text":"={{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-17312,-624],"id":"18c343ad-5926-4fa8-9ff4-6800ac524618","name":"Agent Conversationnel","notes":"SÉCURITÉ: Message utilisateur peut contenir injection prompt. Le systemMessage explicite (refusals) protège partiellement. À surveiller en production."},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"maxTokens":500,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-17360,-400],"id":"1f03e58b-6226-477a-9788-755ce3218d03","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normaliser Webhook').first().json.cleanedSenderPn || $('Normaliser Webhook').first().json.remoteJid || 'unknown' }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-17232,-400],"id":"6e1409a7-8c05-4762-87d9-5d0915eac85a","name":"Memory Conversationnelle (20 msgs)"},{"parameters":{"name":"Recheche_immo","description":"Recherche des biens immobiliers disponibles en Côte d'Ivoire dans la base de données. Utilise cet outil pour toute question sur les biens: disponibilité, prix, localisation, caractéristiques, chambres, etc. Passe le critère de recherche tel que reçu de l'utilisateur (commune, type, quartier, budget, REF, etc.). Si aucun critère spécifique, passe 'tous' pour lister les biens récents.","jsCode":"// ===== OUTIL RECHERCHE BIENS IMMOBILIERS =====\n// Accès complet à TOUS les champs de la table locaux Supabase\n\nconst SUPABASE_URL = 'https://udyfhzyvalansmhkynnc.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk';\n\n// Critère passé par l'agent IA\nconst q = (query || '').toLowerCase().trim();\n\n// Tous les champs disponibles dans la table locaux\nconst SELECT_FIELDS = [\n  'id',\n  'ref_bien',\n  'type_de_bien',\n  'type_offre',\n  'zone_geographique',\n  'commune',\n  'quartier',\n  'prix',\n  'chambre',\n  'meubles',\n  'caracteristiques',\n  'telephone_bien',\n  'telephone_expediteur',\n  'expediteur',\n  'publie_par',\n  'disponible',\n  'status',\n  'groupe_whatsapp_origine',\n  'lien_image',\n  'message_initial',\n  'date_publication',\n  'date_expiration',\n  'publication_id'\n].join(',');\n\n// Construction des filtres URL\nconst filters = [];\n\n// Filtre disponible (toujours actif sauf si recherche explicite de non-disponibles)\nif (!q.includes('non disponible') && !q.includes('vendu') && !q.includes('loué')) {\n  filters.push('disponible=eq.Oui');\n}\n\n// Filtre commune\nconst communes = [\n  { variants: ['cocody'], value: 'Cocody' },\n  { variants: ['yopougon', 'yopo'], value: 'Yopougon' },\n  { variants: ['marcory'], value: 'Marcory' },\n  { variants: ['koumassi'], value: 'Koumassi' },\n  { variants: ['treichville', 'treiche'], value: 'Treichville' },\n  { variants: ['plateau'], value: 'Plateau' },\n  { variants: ['adjamé', 'adjame'], value: 'Adjamé' },\n  { variants: ['abobo'], value: 'Abobo' },\n  { variants: ['attécoubé', 'attecoube'], value: 'Attécoubé' },\n  { variants: ['port-bouët', 'port-bouet', 'portbouet'], value: 'Port-Bouët' },\n  { variants: ['bingerville'], value: 'Bingerville' },\n  { variants: ['songon'], value: 'Songon' },\n  { variants: ['anyama'], value: 'Anyama' },\n  { variants: ['grand-bassam', 'bassam'], value: 'Grand-Bassam' },\n  { variants: ['assinie'], value: 'Assinie' }\n];\nconst communeTrouvee = communes.find(c => c.variants.some(v => q.includes(v)));\nif (communeTrouvee) {\n  filters.push('commune=ilike.*' + encodeURIComponent(communeTrouvee.value) + '*');\n}\n\n// Filtre type de bien\nconst typesBien = ['villa', 'appartement', 'studio', 'duplex', 'triplex', 'maison', 'terrain', 'bureau', 'magasin', 'boutique', 'local', 'garage', 'immeuble', 'chambre'];\nconst typeTrouve = typesBien.find(t => q.includes(t));\nif (typeTrouve) {\n  filters.push('type_de_bien=ilike.*' + encodeURIComponent(typeTrouve) + '*');\n}\n\n// Filtre type d'offre (location ou vente)\nif (q.includes('vente') || q.includes('vendre') || q.includes('achat') || q.includes('acheter') || q.includes('céder')) {\n  filters.push('type_offre=eq.Vente');\n} else if (q.includes('location') || q.includes('louer') || q.includes('locat') || q.includes('bail') || q.includes('mensuel')) {\n  filters.push('type_offre=eq.Location');\n}\n\n// Filtre meuble\nif (q.includes('meublé') || q.includes('meuble')) {\n  filters.push('meubles=eq.true');\n}\n\n// Filtre REF bien direct (APT-MAR-XXXXXXXX ou format similaire)\nconst refMatch = q.match(/([a-z]{2,3}[-_][a-z]{2,3}[-_][a-zA-Z0-9]{4,10})/i);\nif (refMatch) {\n  filters.push('ref_bien=ilike.*' + encodeURIComponent(refMatch[1].toUpperCase()) + '*');\n}\n\n// Filtre quartier (mots après commune si présent)\nconst quartiersConnus = ['angré', 'angre', '2 plateaux', 'deux plateaux', 'riviera', 'bonoumin', 'attoban', 'm’badon', 'mbadon', 'niangon', 'orly', 'campement', 'zone 4', 'zone4', 'solibra', 'remblai', 'iti', 'biabou', 'port-bouët 1', 'cite', 'sicogi', 'epse', 'comoe'];\nconst quartierTrouve = quartiersConnus.find(qt => q.includes(qt));\nif (quartierTrouve) {\n  filters.push('quartier=ilike.*' + encodeURIComponent(quartierTrouve) + '*');\n}\n\n// Filtre nombre de chambres\nconst chambreMatch = q.match(/(\\d+)\\s*(?:pièces?|chambres?|ch\\b)/);\nif (chambreMatch) {\n  filters.push('chambre=eq.' + chambreMatch[1]);\n}\n\n// Construire URL finale\nconst baseUrl = SUPABASE_URL + '/rest/v1/locaux';\nconst queryParts = [...filters, 'select=' + SELECT_FIELDS, 'order=date_publication.desc', 'limit=15'];\nconst url = baseUrl + '?' + queryParts.join('&');\n\n// Exécuter la requête\nconst response = await fetch(url, {\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json'\n  }\n});\n\nif (!response.ok) {\n  const errText = await response.text();\n  return 'Erreur lors de la recherche: ' + errText;\n}\n\nconst biens = await response.json();\n\nif (!biens || biens.length === 0) {\n  return 'Aucun bien immobilier disponible ne correspond à votre recherche en ce moment. Essayez avec des critères différents (autre commune, autre type de bien...).';\n}\n\n// Formater les résultats avec TOUTES les informations\nconst resultats = biens.map(b => {\n  const meuble = b.meubles ? ' | ✅ Meublé' : ' | ❌ Non meublé';\n  const chambres = b.chambre ? b.chambre + ' pièce(s)' : 'N/A';\n  const image = b.lien_image ? '🖼️ Image: ' + b.lien_image : '';\n  const datePubli = b.date_publication ? new Date(b.date_publication).toLocaleDateString('fr-FR') : '';\n  const groupe = b.groupe_whatsapp_origine ? 'Groupe: ' + b.groupe_whatsapp_origine : '';\n  \n  return [\n    '---',\n    '🏠 *' + (b.ref_bien || 'N/A') + '* | ' + (b.type_offre || '') + ' | ' + (b.type_de_bien || ''),\n    '📍 ' + [b.commune, b.quartier, b.zone_geographique].filter(Boolean).join(', '),\n    '💰 Prix: ' + (b.prix || 'Non communiqué'),\n    '🛏️ Pièces: ' + chambres + meuble,\n    '📝 Caractéristiques: ' + (b.caracteristiques || 'Non précisé'),\n    '📞 Contact: ' + (b.telephone_bien || b.telephone_expediteur || 'Non disponible'),\n    '👤 Publié par: ' + (b.publie_par || b.expediteur || 'Inconnu'),\n    datePubli ? '📅 Date: ' + datePubli : '',\n    groupe,\n    image\n  ].filter(Boolean).join('\\n');\n}).join('\\n\\n');\n\nreturn 'Résultats (' + biens.length + ' bien(s) trouvé(s)):\\n\\n' + resultats + '\\n\\n[Pour une visite, citez le REF du bien]';\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-17104,-400],"id":"3f5beaee-9718-4037-bd61-7155cc86215b","name":"Outil Recherche Annonces"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Tu es un extracteur de métadonnées pour un CRM immobilier.\nAnalyse la conversation et extrais les informations en JSON strict.\n\nRègles :\n- interesse : true si le client montre un intérêt concret pour un bien précis\n- transfert_urgent : true si le client demande explicitement à parler à un humain\n- montrer_media : true si le client demande des photos ou vidéos\n- visite_programme : true UNIQUEMENT si l'assistant confirme une visite avec nom ET date\n- nom : nom du client\n- date_rv : date/heure du RDV mentionné\n- local_interesse : description courte du bien\n- ref_bien : référence du bien mentionné (format BG-XXXXXX, ex: BG-A1B2C3) si présente dans la conversation\n\nRéponds UNIQUEMENT avec le JSON."},{"content":"=Message utilisateur : {{ $json.text }}\n\nRéponse assistant : {{ $('Agent Conversationnel').first().json.output }}\n\nJSON attendu :\n{\n  \"interesse\": false,\n  \"transfert_urgent\": false,\n  \"montrer_media\": false,\n  \"visite_programme\": false,\n  \"nom\": \"\",\n  \"date_rv\": \"\",\n  \"local_interesse\": \"\",\n  \"ref_bien\": \"\"\n}"}]},"builtInTools":{},"options":{"maxTokens":200,"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-16896,-624],"id":"f8305459-b85e-45ec-9fdc-e7fd021b5091","name":"Extracteur Metadonnees","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"jsCode":"let agentReply = '';\ntry { agentReply = $('Agent Conversationnel').first().json.output || ''; } catch(e) { agentReply = 'Bonjour ! Je suis disponible pour vous aider dans votre recherche immobilière. Que recherchez-vous ?'; }\nlet analysis = {};\ntry { const raw = $('Extracteur Metadonnees').first().json; let output = raw.output; if (typeof output === 'string') { const match = output.match(/\\{[\\s\\S]*\\}/); analysis = match ? JSON.parse(match[0]) : JSON.parse(output); } else if (Array.isArray(output)) { const text = output[0]?.content?.[0]?.text || output[0]?.text || '{}'; analysis = typeof text === 'string' ? JSON.parse(text) : text; } else if (output && typeof output === 'object') { analysis = output; } } catch(e) { analysis = {}; }\nconst toBool = (v) => v === true || v === 'true';\nconst toStr = (v) => String(v || '').trim();\n\n// Extraire ref_bien depuis réponse agent si absent de l'analyse OpenAI\nconst refBienFromAgent = analysis.ref_bien || (() => {\n  const m = agentReply.match(/\\bBG-[A-Z0-9]{4,10}\\b/i);\n  return m ? m[0].toUpperCase() : '';\n})();\nreturn [{ json: { reply: agentReply, interesse: toBool(analysis.interesse), transfert_urgent: toBool(analysis.transfert_urgent), montrer_media: toBool(analysis.montrer_media), visite_programme: toBool(analysis.visite_programme), nom: toStr(analysis.nom), date_rv: toStr(analysis.date_rv), local_interesse: toStr(analysis.local_interesse), ref_bien: toStr(refBienFromAgent) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16544,-624],"id":"fec360a2-54d8-4092-a35e-c02cc184d627","name":"Parser Analyse"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"to\": $('Normaliser Webhook').first().json.remoteJid.replace('@s.whatsapp.net', '').replace('@lid', ''), \"text\": $('Parser Analyse').first().json.reply }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16320,-720],"id":"ded7146d-6720-47eb-a41e-d93c1471e713","name":"Envoyer Reponse WhatsApp","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"a0e3d7c4","leftValue":"={{ $('Parser Analyse').first().json.visite_programme }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-16320,-528],"id":"dbae96b9-8083-4a95-8e15-e08a5ee5f488","name":"Visite Programmee?"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee?numero=eq.{{ $json.cleanedSenderPn }}&local_interesse=eq.{{ $json.ref_bien }}&select=id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16096,-528],"id":"e48dc53e-b15a-40c1-90bb-8993202034f5","name":"Verifier Visite Existante","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nlet visites = [];\nfor (const item of items) { const data = item.json; if (Array.isArray(data)) { visites = visites.concat(data); } else if (data && typeof data === 'object' && data.id) { visites.push(data); } }\nconst isNew = visites.length === 0;\nreturn [{ json: { is_new_visite: isNew, existing_count: visites.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15872,-528],"id":"7827e7ed-7feb-49c3-bcf0-f26a076f1647","name":"Verifier Si Nouvelle Visite"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"check-new","leftValue":"={{ $json.is_new_visite }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-15648,-528],"id":"111e7a74-5dd9-459b-b7db-e907177302ea","name":"Premiere Visite?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"nom_prenom\": $('Parser Analyse').first().json.nom, \"numero\": $('Normaliser Webhook').first().json.cleanedSenderPn, \"date_rv\": $('Parser Analyse').first().json.date_rv, \"local_interesse\": $('Parser Analyse').first().json.local_interesse, \"ref_bien\": $('Parser Analyse').first().json.ref_bien, \"visite_prog\": \"Oui\", \"created_at\": new Date().toISOString() }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15360,-528],"id":"9b5a2991-2276-468c-bde7-b605b983c13f","name":"Enregistrer Visite","onError":"continueRegularOutput"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&ref_bien=ilike.*{{ $json.ref_bien }}*&select=id,ref_bien,telephone_bien,commune,quartier,prix&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15072,-528],"id":"1a5ca8d9-cfe7-4510-9eed-86977822461e","name":"Chercher Bien","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Recherche intelligente du propriétaire d'un bien\ntry {\n  const localInteresse = $('Parser Analyse').first().json.local_interesse || '';\n  const refBien = $('Parser Analyse').first().json.ref_bien || '';\n\n  if (!localInteresse.trim() && !refBien.trim()) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'local_interesse et ref_bien vides' } }];\n  }\n\n  function normalize(str) {\n    if (!str) return '';\n    return String(str).toLowerCase().trim()\n      .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n      .replace(/[\\s\\-_.,;\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n\n  let allBiens = [];\n  try {\n    const allItems = $('Chercher Bien').all();\n    allBiens = allItems.map(item => item.json);\n    if (allBiens.length === 1 && Array.isArray(allBiens[0])) { allBiens = allBiens[0]; }\n  } catch(e) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Erreur lecture: ' + e.message } }];\n  }\n\n  // Recherche par REF d'abord\n  if (refBien.trim()) {\n    const refNorm = refBien.trim().toUpperCase();\n    const exactMatch = allBiens.find(row => row.ref_bien && row.ref_bien.toUpperCase() === refNorm);\n    if (exactMatch) {\n      const tel = exactMatch.telephone_bien || exactMatch.telephone || exactMatch.telephone_expediteur || '';\n      return [{ json: Object.assign({}, exactMatch, { telephone: tel, _match_score: 100, _match_method: 'ref_bien' }) }];\n    }\n  }\n\n  // Recherche par mots-clés\n  const searchTerms = normalize(localInteresse).split(' ').filter(w => w.length > 2);\n  if (searchTerms.length === 0) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Termes insuffisants' } }];\n  }\n\n  let bestMatch = null;\n  let bestScore = 0;\n  for (const row of allBiens) {\n    if (!row || !row.type_de_bien) continue;\n    const rowText = normalize([row.type_de_bien, row.zone_geographique, row.commune, row.quartier, row.prix, row.caracteristiques].filter(Boolean).join(' '));\n    let score = 0;\n    for (const term of searchTerms) { if (rowText.includes(term)) score++; }\n    const matchPercent = (score / searchTerms.length) * 100;\n    if (matchPercent >= 40 && matchPercent > bestScore) { bestScore = matchPercent; bestMatch = row; }\n  }\n\n  if (bestMatch) {\n    const tel = bestMatch.telephone_bien || bestMatch.telephone || bestMatch.telephone_expediteur || '';\n    return [{ json: Object.assign({}, bestMatch, { telephone: tel, _match_score: bestScore, _match_method: 'keywords' }) }];\n  } else {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Aucun bien trouvé pour: ' + localInteresse } }];\n  }\n} catch(e) {\n  console.log('Recherche Proprietaire erreur:', e.message);\n  return [{ json: { telephone: '', ref_bien: '', _search_error: e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-14848,-528],"id":"a3b9d4e6-674a-44e2-a0dd-5c514e5bc1b9","name":"Recherche Intelligente Proprietaire"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"check-tel","leftValue":"={{ $json.telephone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-14400,-528],"id":"f3963d3f-1a13-4f8a-947b-c1a86f9ef4ad","name":"Proprietaire Trouve?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $(\"Recherche Intelligente Proprietaire\").first().json.telephone || $(\"⚙️ Config Numéros\").first().json.numero_proprietaire, \"text\": \"\\uD83C\\uDFE0 *Nouvelle demande de visite*\\n\\n\\uD83D\\uDCCB *R\\u00e9f:* \" + ($(\"Recherche Intelligente Proprietaire\").first().json.ref_bien || \"N/A\") + \"\\n\\uD83C\\uDFD8\\uFE0F *Bien:* \" + ($(\"Recherche Intelligente Proprietaire\").first().json.type_de_bien || $(\"Parser Analyse\").first().json.local_interesse || \"N/A\") + \"\\n\\uD83D\\uDCCD *Localisation:* \" + [($(\"Recherche Intelligente Proprietaire\").first().json.commune || \"\"), ($(\"Recherche Intelligente Proprietaire\").first().json.quartier || \"\")].filter(Boolean).join(\" \") + \"\\n\\uD83D\\uDC64 *Prospect:* \" + ($(\"Parser Analyse\").first().json.nom || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDCF1 *Num\\u00e9ro:* \" + $(\"Normaliser Webhook\").first().json.cleanedSenderPn + \"\\n\\uD83D\\uDCC5 *Date souhait\\u00e9e:* \" + ($(\"Parser Analyse\").first().json.date_rv || \"\\u00c0 convenir\") + \"\\n\\nMerci de contacter le prospect rapidement. \\uD83D\\uDE4F\"}) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14176,-624],"id":"48aa78e4-6941-4fd9-aa54-a2ddd47a6f88","name":"Notifier Proprietaire","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $(\"⚙️ Config Numéros\").first().json.numero_agence || \"2250789263373\", \"text\": \"\\u26A0\\uFE0F *VISITE \\u00c0 TRAITER MANUELLEMENT*\\n\\n\\uD83D\\uDCCB *R\\u00e9f:* \" + ($(\"Parser Analyse\").first().json.ref_bien || \"N/A\") + \"\\n\\uD83C\\uDFD8\\uFE0F *Bien:* \" + ($(\"Parser Analyse\").first().json.local_interesse || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDC64 *Prospect:* \" + ($(\"Parser Analyse\").first().json.nom || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDCF1 *Num\\u00e9ro:* \" + $(\"Normaliser Webhook\").first().json.cleanedSenderPn + \"\\n\\uD83D\\uDCC5 *Date:* \" + ($(\"Parser Analyse\").first().json.date_rv || \"\\u00c0 convenir\") + \"\\n\\n\\u274C Propri\\u00e9taire introuvable. Action manuelle requise.\"}) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14176,-432],"id":"fd775530-356a-4a45-a03d-1e6ef8f07a77","name":"Alerter Agence (Fallback)","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Anti-boucle: filtre messages du bot + déduplication TTL 5min\n\nconst input = $input.first().json;\n\n// 1. Ignorer messages envoyés par le bot\nif (input.fromMe === true) return [];\n\n// 2. Vérifier messageId\nconst msgId = String(input.messageId || '').trim();\nif (!msgId) return [];\n\n// 3. Cache TTL via static data\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.seenMessages) staticData.seenMessages = {};\n\nconst now = Date.now();\nconst TTL = 5 * 60 * 1000; // 5 minutes\n\n// Purger les anciens\nfor (const id of Object.keys(staticData.seenMessages)) {\n  if (now - staticData.seenMessages[id] > TTL) {\n    delete staticData.seenMessages[id];\n  }\n}\n\n// Si déjà traité dans les 5 dernières minutes, ignorer\nif (staticData.seenMessages[msgId]) return [];\n\n// Marquer comme traité\nstaticData.seenMessages[msgId] = now;\n\nreturn [input];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18704,-624],"id":"e023e7a4-3004-4cd7-a683-85d8782543a3","name":"Anti-Boucle Prospect"},{"parameters":{"method":"PATCH","url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"date_expiration\": \"{{ $now.plus({days: 30}).toISO() }}\", \"status\": \"active\", \"relance_count\": {{ ($json.relance_count || 0) + 1 }}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-14848,-1232],"id":"fb0a7f74-f422-42c3-8e46-ec77659671ad","name":"Mettre à jour Date Expiration","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-20048,-208],"id":"b998b67f-a143-40b4-a9f0-f11e03af3ee3","name":"Schedule Relance 24h"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?select=id,ref_bien,date_expiration,expediteur,telephone_expediteur,disponible,relance_count&disponible=eq.Oui&or=(status.eq.active,status.is.null)&order=date_expiration.asc&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-19824,-208],"id":"746e0296-a501-4e66-b3a3-8b1f7c7f9342","name":"Charger Locaux pour Relance","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-19600,-208],"id":"2ce62c24-e835-4d0f-bec8-b196683b9c0b","name":"Boucler Locaux Relance"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $json.telephone_expediteur, \"text\": \"Bonjour \" + ($json.expediteur || \"cher propri\\u00e9taire\") + \",\\n\\n\\u2705 *Confirmation de disponibilit\\u00e9*\\n\\nVotre annonce *\" + $json.ref_bien + \"* est toujours active sur ImmoDash.\\n\\nSouhaitez-vous la renouveler pour 30 jours suppl\\u00e9mentaires ?\\nR\\u00e9pondez *OUI* pour confirmer ou *NON* pour archiver.\\n\\n_ImmoDash CRM_ \\uD83C\\uDFE0\"}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-19376,-208],"id":"a5eefca3-9c7c-4a57-b32b-0f3abee42fda","name":"Envoyer Message Satisfaction 24h","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// ============================================================\n// ⚙️  CONFIG NUMÉROS - Éditez les valeurs ci-dessous\n// ============================================================\n\nconst NUMERO_AGENCE       = \"2250142694380\"; // ← Numéro de l'agence\nconst NUMERO_PROPRIETAIRE = \"2250789263373\"; // ← Numéro propriétaire (fallback)\n\n// ============================================================\n// Ne pas modifier en-dessous de cette ligne\n// ============================================================\n\n// Passer les données de l'entrée + les configs\nconst inputData = $input.all();\nreturn inputData.map(function(item) {\n  return {\n    json: Object.assign({}, item.json, {\n      numero_agence: NUMERO_AGENCE,\n      numero_proprietaire: NUMERO_PROPRIETAIRE\n    })\n  };\n});"},"id":"config-numeros-agence-001","name":"⚙️ Config Numéros","type":"n8n-nodes-base.code","typeVersion":2,"position":[-14624,-528],"notesInFlow":true,"notes":"Editez ce noeud pour changer les numeros.\nnumero_agence = 2250142694380\nnumero_proprietaire = 2250789263373"}],"connections":{"Webhook Wassender":{"main":[[{"node":"Valider Token Webhook","type":"main","index":0}]]},"Normaliser Webhook":{"main":[[{"node":"Est un Groupe?","type":"main","index":0}]]},"Est un Groupe?":{"main":[[{"node":"Message Sortant? (Groupe)","type":"main","index":0}],[{"node":"Message Sortant? (Prospect)","type":"main","index":0}]]},"Message Sortant? (Groupe)":{"main":[[],[{"node":"Preparer Publication Groupe","type":"main","index":0}]]},"Message Sortant? (Prospect)":{"main":[[],[{"node":"Anti-Boucle Prospect","type":"main","index":0}]]},"Preparer Publication Groupe":{"main":[[{"node":"Contient une Image?","type":"main","index":0}]]},"Contient une Image?":{"main":[[{"node":"Decrypter Image","type":"main","index":0}],[{"node":"Preparer Publication Texte Seul","type":"main","index":0}]]},"Decrypter Image":{"main":[[{"node":"Verifier Decryptage Image","type":"main","index":0}]]},"Verifier Decryptage Image":{"main":[[{"node":"Decryptage OK?","type":"main","index":0}]]},"Decryptage OK?":{"main":[[{"node":"Upload Image ImgBB","type":"main","index":0}],[{"node":"Fallback Image Echouee","type":"main","index":0}]]},"Upload Image ImgBB":{"main":[[{"node":"Construire Donnees Avec Image","type":"main","index":0}]]},"Construire Donnees Avec Image":{"main":[[{"node":"Sauvegarder Image Supabase","type":"main","index":0}]]},"Fallback Image Echouee":{"main":[[{"node":"Sauvegarder Image Supabase","type":"main","index":0}]]},"Sauvegarder Image Supabase":{"main":[[{"node":"Image avec Texte?","type":"main","index":0}]]},"Image avec Texte?":{"main":[[{"node":"Preparer Publication Image+Texte","type":"main","index":0}],[{"node":"Preparer Publication Image Seule","type":"main","index":0}]]},"Preparer Publication Image+Texte":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Preparer Publication Texte Seul":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Preparer Publication Image Seule":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Enregistrer Publication Supabase":{"main":[[{"node":"Extraire Donnees Publication","type":"main","index":0}]]},"Extraire Donnees Publication":{"main":[[{"node":"Pré-filtrer Annonce Immobilière","type":"main","index":0}]]},"IA Extraction Annonce":{"main":[[{"node":"Charger Annonces Recentes","type":"main","index":0},{"node":"Detecteur Doublons","type":"main","index":0}]]},"Detecteur Doublons":{"main":[[{"node":"Est un Doublon?","type":"main","index":0}]]},"Est un Doublon?":{"main":[[],[{"node":"Sauvegarder Nouvelle Annonce","type":"main","index":0}]]},"Audio ou Texte?":{"main":[[{"node":"Decrypter Audio","type":"main","index":0}],[{"node":"Recuperer Message Texte","type":"main","index":0}]]},"Decrypter Audio":{"main":[[{"node":"Telecharger Audio","type":"main","index":0}]]},"Telecharger Audio":{"main":[[{"node":"Transcription Audio","type":"main","index":0}]]},"Transcription Audio":{"main":[[{"node":"Unifier Texte vers Agent","type":"main","index":0}]]},"Unifier Texte vers Agent":{"main":[[{"node":"Agent Conversationnel","type":"main","index":0}]]},"Recuperer Message Texte":{"main":[[{"node":"Agent Conversationnel","type":"main","index":0}]]},"Agent Conversationnel":{"main":[[{"node":"Extracteur Metadonnees","type":"main","index":0}]]},"Extracteur Metadonnees":{"main":[[{"node":"Parser Analyse","type":"main","index":0}]]},"Parser Analyse":{"main":[[{"node":"Envoyer Reponse WhatsApp","type":"main","index":0},{"node":"Visite Programmee?","type":"main","index":0}]]},"Visite Programmee?":{"main":[[{"node":"Verifier Visite Existante","type":"main","index":0}]]},"Verifier Visite Existante":{"main":[[{"node":"Verifier Si Nouvelle Visite","type":"main","index":0}]]},"Verifier Si Nouvelle Visite":{"main":[[{"node":"Premiere Visite?","type":"main","index":0}]]},"Premiere Visite?":{"main":[[{"node":"Enregistrer Visite","type":"main","index":0}]]},"Enregistrer Visite":{"main":[[{"node":"Chercher Bien","type":"main","index":0}]]},"Chercher Bien":{"main":[[{"node":"Recherche Intelligente Proprietaire","type":"main","index":0}]]},"Recherche Intelligente Proprietaire":{"main":[[{"node":"⚙️ Config Numéros","type":"main","index":0}]]},"Proprietaire Trouve?":{"main":[[{"node":"Notifier Proprietaire","type":"main","index":0}],[{"node":"Alerter Agence (Fallback)","type":"main","index":0}]]},"Anti-Boucle Prospect":{"main":[[{"node":"Audio ou Texte?","type":"main","index":0}]]},"Charger Locaux pour Relance":{"main":[[{"node":"Boucler Locaux Relance","type":"main","index":0}]]},"Boucler Locaux Relance":{"main":[[{"node":"Envoyer Message Satisfaction 24h","type":"main","index":0}]]},"Schedule Relance 24h":{"main":[[{"node":"Charger Locaux pour Relance","type":"main","index":0}]]},"Valider Token Webhook":{"main":[[{"node":"Sanitiser Input Webhook","type":"main","index":0}]]},"Pré-filtrer Annonce Immobilière":{"main":[[{"node":"IA Extraction Annonce","type":"main","index":0}]]},"Sanitiser Input Webhook":{"main":[[{"node":"Normaliser Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agent Conversationnel","type":"ai_languageModel","index":0}]]},"Memory Conversationnelle (20 msgs)":{"ai_memory":[[{"node":"Agent Conversationnel","type":"ai_memory","index":0}]]},"Outil Recherche Annonces":{"ai_tool":[[{"node":"Agent Conversationnel","type":"ai_tool","index":0}]]},"Charger Annonces Recentes":{"main":[[{"node":"Mettre à jour Date Expiration","type":"main","index":0}]]},"⚙️ Config Numéros":{"main":[[{"node":"Proprietaire Trouve?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bea1ce9c-6838-4b09-9d00-594a60c61cfe","activeVersionId":"bea1ce9c-6838-4b09-9d00-594a60c61cfe","versionCounter":710,"triggerCount":2,"shared":[{"updatedAt":"2026-02-16T00:11:06.087Z","createdAt":"2026-02-16T00:11:06.087Z","role":"workflow:owner","workflowId":"LTZJrc7tYwv6Qm6a5wtZ0","projectId":"affi5c3upHP3xp9W","project":{"updatedAt":"2025-12-30T20:40:33.646Z","createdAt":"2025-12-30T20:37:47.803Z","id":"affi5c3upHP3xp9W","name":"Kassio Wifried <kassio.wifried@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"066721f7-b010-42ae-8bda-f811f483e2c0","projectRelations":[{"updatedAt":"2025-12-30T20:37:47.803Z","createdAt":"2025-12-30T20:37:47.803Z","userId":"066721f7-b010-42ae-8bda-f811f483e2c0","projectId":"affi5c3upHP3xp9W","user":{"updatedAt":"2026-02-26T23:10:33.734Z","createdAt":"2025-12-30T20:37:01.205Z","id":"066721f7-b010-42ae-8bda-f811f483e2c0","email":"kassio.wifried@gmail.com","firstName":"Kassio","lastName":"Wifried","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-30T20:41:07.599Z","personalization_survey_n8n_version":"2.1.4","companyType":"personal","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RlfiTymZT_dcQgeFTifHd","userActivatedAt":1770828414661,"npsSurvey":{"responded":true,"lastShownAt":1771864199242}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-27T16:51:03.741Z","createdAt":"2026-02-27T16:51:03.741Z","versionId":"bea1ce9c-6838-4b09-9d00-594a60c61cfe","workflowId":"LTZJrc7tYwv6Qm6a5wtZ0","nodes":[{"parameters":{"httpMethod":"POST","path":"wassender-immobilier","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20048,-944],"id":"d1b8d7ba-2a8d-4156-8684-497cc42c638e","name":"Webhook Wassender","webhookId":"wassender-immobilier-webhook"},{"parameters":{"jsCode":"// Validation Webhook - pass-through si pas de signature (Wasender standard)\n// Bloque uniquement si signature présente mais invalide\ntry {\n  const WASENDER_SECRET = '1762ea865bd12948e715bbd6f9e03ef7';\n  const json = $input.first().json;\n  const headers = json.headers || {};\n\n  const rawBody = json.rawBody\n    || (typeof json.body === 'string' ? json.body : null)\n    || JSON.stringify(json.body)\n    || '';\n\n  const receivedSig = (\n    headers['x-webhook-signature'] ||\n    headers['x-wasender-signature'] ||\n    headers['x-hub-signature-256'] ||\n    ''\n  ).replace('sha256=', '').toLowerCase();\n\n  // Pas de signature → Wasender ne signe pas → laisser passer\n  if (!receivedSig) {\n    console.log('Pas de signature - pass-through');\n    return $input.all();\n  }\n\n  // Signature présente → valider HMAC\n  const crypto = require('crypto');\n  const expected = crypto\n    .createHmac('sha256', WASENDER_SECRET)\n    .update(rawBody)\n    .digest('hex')\n    .toLowerCase();\n\n  if (expected !== receivedSig) {\n    console.log('Signature invalide - rejet');\n    return [{ json: { error: true, message: 'Signature invalide', status: 401 } }];\n  }\n\n  return $input.all();\n} catch (e) {\n  console.log('Erreur validateur:', e.message, '- pass-through');\n  return $input.all();\n}"},"id":"cd3f2aa2-3e67-42e0-81f9-0d3f570757da","name":"Valider Token Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[-19824,-944]},{"parameters":{"jsCode":"// Sanitiser les inputs pour eviter injection\n// IMPORTANT: On préserve la structure COMPLÈTE du webhook ici\n// Le Normaliser Webhook va ensuite extraire les données de la bonne structure\ntry {\n  const data = $input.first().json;\n\n  const sanitize = (str) => {\n    if (!str || typeof str !== 'string') return str;\n    return str.replace(/[\\x00-\\x1f]/g, '').substring(0, 2000).trim();\n  };\n\n  // Sanitiser les champs texte dans body.data.messages si présent\n  const body = data.body || data;\n  const msgData = body.data || {};\n  const messages = msgData.messages || {};\n  const message = messages.message || {};\n  \n  // Sanitiser les champs texte accessibles à ce stade\n  if (messages.messageBody) messages.messageBody = sanitize(messages.messageBody);\n  if (messages.pushName) messages.pushName = sanitize(messages.pushName);\n  if (message.conversation) message.conversation = sanitize(message.conversation);\n  if (message.extendedTextMessage && message.extendedTextMessage.text) {\n    message.extendedTextMessage.text = sanitize(message.extendedTextMessage.text);\n  }\n  \n  // Retourner la structure ORIGINALE intacte (avec les modifications sanitisées)\n  return [{ json: data }];\n} catch (e) {\n  // Ne jamais bloquer - retourner l'input original\n  return $input.all();\n}"},"id":"0b745117-3195-45b5-ae49-3252056aac3d","name":"Sanitiser Input Webhook","type":"n8n-nodes-base.code","typeVersion":2,"position":[-19600,-944]},{"parameters":{"jsCode":"// ===== NORMALISER LA STRUCTURE DU WEBHOOK =====\n// Gestion robuste des LIDs WhatsApp (Linked IDs vs vrais numéros)\ntry {\n  const body = $input.first().json.body || $input.first().json;\n  const event = body.event || '';\n  const data = body.data || body;\n\n  if (event && !event.includes('message')) return [];\n\n  let msg = null;\n  if (Array.isArray(data.messages)) msg = data.messages[0];\n  else if (data.messages && typeof data.messages === 'object') msg = data.messages;\n  else if (data.message) msg = data.message;\n  else msg = data;\n\n  if (!msg) return [];\n\n  const key = msg.key || {};\n  const message = msg.message || {};\n  const remoteJid = key.remoteJid || msg.remoteJid || '';\n  const fromMe = key.fromMe === true || key.fromMe === 'true';\n  const pushName = msg.pushName || msg.senderName || '';\n  const messageTimestamp = msg.messageTimestamp || msg.timestamp || Math.floor(Date.now() / 1000);\n  const messageId = key.id || msg.id || '';\n  const participant = key.participant || msg.participant || '';\n\n  if (!remoteJid) return [];\n  if (remoteJid === 'status@broadcast') return [];\n  if (message.reactionMessage || message.protocolMessage || message.senderKeyDistributionMessage) return [];\n\n  let messageBody = msg.messageBody || msg.body || '';\n  if (!messageBody) messageBody = message.conversation || '';\n  if (!messageBody) messageBody = (message.extendedTextMessage && message.extendedTextMessage.text) || '';\n  if (!messageBody) messageBody = (message.imageMessage && message.imageMessage.caption) || '';\n  if (!messageBody) messageBody = (message.videoMessage && message.videoMessage.caption) || '';\n\n  const isGroup = remoteJid.includes('@g.us');\n\n  let groupName = '';\n  if (isGroup) {\n    groupName = msg.groupName || msg.groupSubject || '';\n    if (!groupName) groupName = data.groupName || data.groupSubject || '';\n    if (!groupName) groupName = body.groupName || body.groupSubject || '';\n    if (!groupName && msg.groupMetadata) groupName = msg.groupMetadata.subject || msg.groupMetadata.name || '';\n    if (!groupName && data.groupMetadata) groupName = data.groupMetadata.subject || data.groupMetadata.name || '';\n    if (!groupName && message.extendedTextMessage && message.extendedTextMessage.contextInfo) {\n      groupName = message.extendedTextMessage.contextInfo.groupSubject || '';\n    }\n    if (!groupName) {\n      const search = (obj, depth) => {\n        depth = depth || 0;\n        if (!obj || typeof obj !== 'object' || depth > 4) return '';\n        for (const k of ['groupName', 'groupSubject', 'subject']) { if (obj[k] && typeof obj[k] === 'string') return obj[k]; }\n        for (const k of Object.keys(obj)) { if (typeof obj[k] === 'object') { const f = search(obj[k], depth + 1); if (f) return f; } }\n        return '';\n      };\n      groupName = search(body);\n    }\n    if (!groupName) groupName = remoteJid.replace('@g.us', '');\n  }\n\n  function isValidPhoneNumber(num) {\n    if (!num) return false;\n    const cleaned = num.replace(/[^0-9]/g, '');\n    if (cleaned.length < 10 || cleaned.length > 13) return false;\n    return true;\n  }\n\n  function extractCleanNumber(str) {\n    if (!str) return '';\n    return str.replace(/@s\\.whatsapp\\.net/g, '').replace(/@lid/g, '').replace(/@g\\.us/g, '').replace(/@[a-z.]+/g, '').trim();\n  }\n\n  let cleanedSenderPn = '';\n  const numberSources = [];\n\n  if (isGroup) {\n    numberSources.push(key.participantPn, key.cleanedParticipantPn, msg.participantPn, msg.cleanedParticipantPn, participant);\n  } else {\n    numberSources.push(remoteJid);\n  }\n\n  numberSources.push(key.cleanedSenderPn, msg.cleanedSenderPn, key.senderPn, msg.senderPn, msg.from, data.from, body.from);\n\n  function findPhoneInObj(obj, depth) {\n    depth = depth || 0;\n    if (!obj || typeof obj !== 'object' || depth > 3) return '';\n    for (const k of ['senderPn', 'cleanedSenderPn', 'participantPn', 'cleanedParticipantPn', 'from', 'sender']) {\n      if (obj[k] && typeof obj[k] === 'string') {\n        const cleaned = extractCleanNumber(obj[k]);\n        if (isValidPhoneNumber(cleaned)) return cleaned;\n      }\n    }\n    for (const k of Object.keys(obj)) {\n      if (typeof obj[k] === 'object') { const found = findPhoneInObj(obj[k], depth + 1); if (found) return found; }\n    }\n    return '';\n  }\n\n  for (const src of numberSources) {\n    if (src) {\n      const cleaned = extractCleanNumber(String(src));\n      if (isValidPhoneNumber(cleaned)) { cleanedSenderPn = cleaned; break; }\n    }\n  }\n\n  if (!cleanedSenderPn) {\n    cleanedSenderPn = findPhoneInObj(msg) || findPhoneInObj(data) || findPhoneInObj(body);\n  }\n\n  const isLid = !isValidPhoneNumber(cleanedSenderPn);\n\n  const hasAudio = !!message.audioMessage;\n  const hasImage = !!message.imageMessage;\n  const hasText = messageBody.trim().length > 0;\n  if (!hasAudio && !hasText && !hasImage) return [];\n\n  if (!isGroup && isLid && !cleanedSenderPn) {\n    console.log('LID détecté, message ignoré:', remoteJid);\n    return [];\n  }\n\n  return [{ json: { remoteJid, fromMe, pushName, messageTimestamp, messageBody, messageId, participant, cleanedSenderPn, isGroup, groupName, isLid, key, message, rawMsg: msg, hasAudio, hasImage, hasText } }];\n} catch(e) {\n  console.log('Normaliser Webhook erreur:', e.message);\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-19376,-944],"id":"17c9548b-8d2b-430a-871e-f1ac78b26e8f","name":"Normaliser Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-group","leftValue":"={{ $json.isGroup }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-19152,-944],"id":"ec02ba4d-a2d3-4596-bff9-68adc5e66f40","name":"Est un Groupe?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18928,-1136],"id":"7678a74f-23cc-42d4-8ac1-49664617d831","name":"Message Sortant? (Groupe)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18928,-624],"id":"891cdeaf-19a7-4e17-b49d-006894465254","name":"Message Sortant? (Prospect)"},{"parameters":{"jsCode":"const normalized = $('Normaliser Webhook').first().json;\nconst message = normalized.message || {};\nconst hasImage = normalized.hasImage || !!message.imageMessage;\nconst hasAudio = normalized.hasAudio || !!message.audioMessage;\nconst messageBody = (normalized.messageBody || '').trim();\nconst hasMessageBody = messageBody.length > 0;\nif (!hasImage && !hasMessageBody) return [];\nif (hasAudio && !hasMessageBody && !hasImage) return [];\nlet horodatage = '';\ntry { const tsNum = typeof normalized.messageTimestamp === 'string' ? parseInt(normalized.messageTimestamp) : (normalized.messageTimestamp || 0); horodatage = new Date(tsNum * 1000).toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); } catch { horodatage = new Date().toLocaleString('fr-FR', { timeZone: 'Africa/Abidjan' }); }\nconst texte = message.imageMessage?.caption || (hasMessageBody ? messageBody : '') || message.conversation || message.extendedTextMessage?.text || '';\nconst type = hasImage ? (texte.length > 0 ? 'image+texte' : 'image') : 'texte';\nlet imageInfo = null;\nif (hasImage && message.imageMessage) { const im = message.imageMessage; imageInfo = { url: im.url || '', mimetype: im.mimetype || 'image/jpeg', mediaKey: im.mediaKey || '', directPath: im.directPath || '', fileEncSha256: im.fileEncSha256 || '', fileSha256: im.fileSha256 || '', fileLength: im.fileLength || '' }; }\nconst groupeNom = normalized.isGroup ? (normalized.groupName || normalized.remoteJid.replace('@g.us', '')) : '';\nconst groupeJid = normalized.isGroup ? normalized.remoteJid : '';\nreturn [{ json: { Horodatage: horodatage, Groupe_Nom: groupeNom, Groupe_JID: groupeJid, Expediteur: normalized.pushName || '', Telephone: normalized.cleanedSenderPn || '', Message_ID: normalized.messageId || '', Type: type, Message: texte, has_image: hasImage, has_text: texte.length > 0, imageInfo: imageInfo, Timestamp: normalized.messageTimestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18704,-1136],"id":"22cea6f2-021b-4d27-befc-23fa0f671ef2","name":"Preparer Publication Groupe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-image","leftValue":"={{ $json.has_image }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18480,-1136],"id":"555362eb-0a4c-4f6a-94ea-51216ff2ecfe","name":"Contient une Image?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"data\": { \"messages\": { \"key\": { \"id\": $json.Message_ID }, \"message\": { \"imageMessage\": { \"url\": $json.imageInfo ? $json.imageInfo.url : '', \"mimetype\": $json.imageInfo ? $json.imageInfo.mimetype : 'image/jpeg', \"mediaKey\": $json.imageInfo ? $json.imageInfo.mediaKey : '', \"directPath\": $json.imageInfo ? $json.imageInfo.directPath : '', \"fileEncSha256\": $json.imageInfo ? $json.imageInfo.fileEncSha256 : '', \"fileSha256\": $json.imageInfo ? $json.imageInfo.fileSha256 : '', \"fileLength\": $json.imageInfo ? $json.imageInfo.fileLength : '' } } } } }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18256,-1232],"id":"95c679bd-a421-4528-86b6-cee04c7d51ce","name":"Decrypter Image","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const result = $input.first().json;\nlet publicUrl = result.publicUrl || result.data?.publicUrl || result.url || result.data?.url || '';\nconst ok = publicUrl.startsWith('http');\nreturn [{ json: { publicUrl: ok ? publicUrl : '', decrypt_ok: ok } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18032,-1232],"id":"70f56c5b-ccc7-40ac-bc92-fe9ffedb8a02","name":"Verifier Decryptage Image"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-decrypt-ok","leftValue":"={{ $json.decrypt_ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-17808,-1232],"id":"700c3749-fda4-4512-a9b6-2b21f978a6d5","name":"Decryptage OK?"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"key","value":"=9f8a1a2b1ec266006878b8e5e20f713e"},{"name":"image","value":"={{ $('Verifier Decryptage Image').first().json.publicUrl }}"},{"name":"expiration","value":"15552000"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-17584,-1328],"id":"06fca694-ac5f-481e-942c-247abb1bbd66","name":"Upload Image ImgBB","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const imgResult = $input.first().json;\nconst extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = imgResult?.data?.url || imgResult?.data?.display_url || $('Verifier Decryptage Image').first().json?.publicUrl || '[Upload échoué]';\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, has_text: extracted.has_text, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17248,-1328],"id":"1572b373-774b-44a3-bb07-d86b4f443a45","name":"Construire Donnees Avec Image"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Message_ID: extracted.Message_ID, Type: extracted.Type, Message: extracted.Message, Lien_Image: '[Décryptage échoué]', has_text: extracted.has_text, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17248,-1120],"id":"7ca4e2f7-29a0-4df6-9218-156802eb3d8f","name":"Fallback Image Echouee"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/images","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"horodatage\": $json.Horodatage || '', \"groupe\": $json.Groupe_Nom || '', \"groupe_jid\": $json.Groupe_JID || '', \"telephone\": $json.Telephone || '', \"expediteur\": $json.Expediteur || '', \"type\": $json.Type || '', \"lien_image\": $json.Lien_Image || '', \"message_id\": $json.Message_ID || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16832,-1232],"id":"9a5de472-29bc-45c6-a84a-993a3e04d270","name":"Sauvegarder Image Supabase","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-caption","leftValue":"={{ $('Preparer Publication Groupe').first().json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-16544,-1232],"id":"ff243d47-782a-44a1-91a7-31737c1d13b3","name":"Image avec Texte?"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Avec Image').first().json?.Lien_Image || ''; } catch(e) {}\nif (!lienImage) { try { lienImage = $('Fallback Image Echouee').first().json?.Lien_Image || ''; } catch(e) {} }\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: lienImage, Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-1136],"id":"15199d39-788c-481e-b2e7-5b396ba5529e","name":"Preparer Publication Image+Texte"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: extracted.Type, Message: extracted.Message, Lien_Image: '', Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-944],"id":"0a7f3b83-bd14-4ee8-b45e-d3ab1303fed9","name":"Preparer Publication Texte Seul"},{"parameters":{"jsCode":"const extracted = $('Preparer Publication Groupe').first().json;\nlet lienImage = '';\ntry { lienImage = $('Construire Donnees Avec Image').first().json?.Lien_Image || ''; } catch(e) {}\nif (!lienImage) { try { lienImage = $('Fallback Image Echouee').first().json?.Lien_Image || ''; } catch(e) {} }\nreturn [{ json: { Horodatage: extracted.Horodatage, Groupe_Nom: extracted.Groupe_Nom, Groupe_JID: extracted.Groupe_JID, Expediteur: extracted.Expediteur, Telephone: extracted.Telephone, Type: 'image', Message: '[Image sans texte]', Lien_Image: lienImage, Message_ID: extracted.Message_ID, Timestamp: extracted.Timestamp } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16320,-1328],"id":"6084e1dc-17a2-4fc1-a417-e61841ece79b","name":"Preparer Publication Image Seule"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"horodatage\": $json.Horodatage || '', \"groupe\": $json.Groupe_Nom || '', \"groupe_jid\": $json.Groupe_JID || '', \"expediteur\": $json.Expediteur || '', \"telephone\": $json.Telephone || '', \"type\": $json.Type || '', \"message\": $json.Message || '', \"lien_image\": $json.Lien_Image || '', \"message_id\": $json.Message_ID || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16096,-1136],"id":"f5fd3f07-5662-4682-ba84-28642c0cd691","name":"Enregistrer Publication Supabase","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const rawResponse = $input.first().json;\nlet pubData = {};\nif (Array.isArray(rawResponse)) { pubData = rawResponse[0] || {}; } else if (rawResponse && typeof rawResponse === 'object') { pubData = rawResponse; }\nconst sourceFromPrep = (() => { try { return $('Preparer Publication Image+Texte').first().json; } catch(e) {} try { return $('Preparer Publication Texte Seul').first().json; } catch(e) {} try { return $('Preparer Publication Image Seule').first().json; } catch(e) {} return {}; })();\nreturn [{ json: { publication_id: pubData.id || '', groupe: pubData.groupe || sourceFromPrep.Groupe_Nom || '', groupe_jid: pubData.groupe_jid || sourceFromPrep.Groupe_JID || '', expediteur: pubData.expediteur || sourceFromPrep.Expediteur || '', telephone: pubData.telephone || sourceFromPrep.Telephone || '', message: pubData.message || sourceFromPrep.Message || '', lien_image: pubData.lien_image || sourceFromPrep.Lien_Image || '', horodatage: pubData.horodatage || sourceFromPrep.Horodatage || '', message_id: pubData.message_id || sourceFromPrep.Message_ID || '' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15872,-1136],"id":"22d6b77e-761f-474f-b8e8-a203d2838f5f","name":"Extraire Donnees Publication"},{"parameters":{"jsCode":"// Pré-filtrer: Est-ce vraiment une annonce immobilière?\n// Évite les appels OpenAI coûteux sur du spam/messages hors-sujet\ntry {\n  const input = $input.first().json;\n  const msg = input.message || input.messageBody || input.text || '';\n\n  if (!msg || msg.length < 10) {\n    console.log('Message trop court, ignoré');\n    return [];\n  }\n\n  const realEstateKeywords = [\n    'appartement', 'studio', 'chambre', 'maison', 'villa', 'duplex', 'triplex',\n    'terrain', 'bureau', 'magasin', 'boutique', 'entrepot', 'local', 'residence',\n    'parking', 'garage', 'immeuble',\n    'cocody', 'yopougon', 'marcory', 'koumassi', 'treichville', 'plateau', 'adjame',\n    'abobo', 'attecoube', 'port-bouet', 'bingerville', 'songon', 'anyama', 'bassam',\n    'assinie', 'abidjan', 'riviera', 'angre', 'calavi', 'bapro',\n    'meuble', 'climatise', 'neuf', 'renove', 'securise', 'piscine',\n    'jardin', 'balcon', 'terrasse', 'cuisine', 'salle',\n    'prix', 'fcfa', 'louer', 'vendre', 'location', 'vente', 'bail', 'disponible',\n    'annonce', 'offre', 'demande'\n  ];\n\n  const msgLower = msg.toLowerCase();\n  const keywordCount = realEstateKeywords.filter(kw => msgLower.includes(kw)).length;\n  const isRealEstate = keywordCount >= 2;\n\n  if (!isRealEstate) {\n    console.log('Pas une annonce immobilière (score ' + keywordCount + ' keywords)');\n    return [];\n  }\n\n  console.log('Annonce immobilière détectée (' + keywordCount + ' keywords)');\n  return [{ json: input }];\n} catch(e) {\n  console.log('Pré-filtrer erreur:', e.message);\n  return [];\n}"},"id":"3aaecd46-0592-4b18-90d7-88a90dd37f0e","name":"Pré-filtrer Annonce Immobilière","type":"n8n-nodes-base.code","typeVersion":2,"position":[-15648,-1136]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Tu es un expert en extraction de données immobilières pour la Côte d'Ivoire.\nExtrais les informations structurées à partir de publications WhatsApp de groupes immobiliers.\n\n# COMMUNES D'ABIDJAN\nCocody, Yopougon, Marcory, Koumassi, Treichville, Plateau, Adjamé, Abobo, Attécoubé, Port-Bouët, Bingerville, Songon, Anyama.\n\n# RÈGLES STRICTES\n- Ne JAMAIS inventer de données. Champ vide \"\" si information absente.\n- disponible : \"Oui\" par défaut, \"Non\" seulement si explicitement indiqué.\n- Déduis le type_offre depuis le contexte (louer = Location, vendre/acheter = Vente).\n- Réponds UNIQUEMENT avec le JSON, sans texte avant ni après.\n\n# FORMAT JSON ATTENDU\n{\n  \"type_de_bien\": \"\",\n  \"type_offre\": \"Location|Vente\",\n  \"zone_geographique\": \"\",\n  \"commune\": \"\",\n  \"quartier\": \"\",\n  \"prix\": \"\",\n  \"telephone\": \"\",\n  \"caracteristiques\": \"\",\n  \"publie_par\": \"\",\n  \"meubles\": \"Oui|Non\",\n  \"chambre\": \"\",\n  \"disponible\": \"Oui|Non\"\n}"},{"content":"=Publication de {{ $json.expediteur }} dans le groupe {{ $json.groupe }}\n\nContact publieur : {{ $json.telephone }}\n\nMessage : {{ $json.message }}"}]},"builtInTools":{},"options":{"maxTokens":400,"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-15424,-1136],"id":"26efb4a9-802c-41ba-8d39-b404c8789481","name":"IA Extraction Annonce","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}},"onError":"continueRegularOutput","notes":"SÉCURITÉ: Message de groupe peut être malveillant. Pré-filtre réduit le risque. Prompt à jour avec instructions strictes."},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&commune=eq.{{ encodeURIComponent($('Normaliser Webhook').first().json.groupName) }}&select=id,ref_bien,type_de_bien,commune,quartier,prix,caracteristiques,telephone_bien&order=date_publication.desc&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15072,-1232],"id":"352eefaa-d1d7-4062-b472-3b6e22ae9c9d","name":"Charger Annonces Recentes","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Parser output IA Extraction + generer ref_bien + dedup\ntry {\n  // L'IA retourne: {output: [{content: [{text: ...}]}]}\n  const raw = $input.first().json;\n  let extracted = {};\n  try {\n    const textVal = raw.output && raw.output[0] && raw.output[0].content && raw.output[0].content[0] && raw.output[0].content[0].text;\n    if (textVal && typeof textVal === 'object') extracted = textVal;\n    else if (textVal && typeof textVal === 'string') extracted = JSON.parse(textVal);\n    else extracted = raw;\n  } catch(e) {\n    extracted = raw;\n  }\n\n  // Generer ref_bien\n  const typeMapping = {\n    'appartement': 'APT', 'studio': 'STU', 'chambre': 'CHB', 'maison': 'MAS', 'villa': 'VIL',\n    'duplex': 'DPX', 'terrain': 'TER', 'bureau': 'BUR', 'magasin': 'MAG', 'local': 'LOC'\n  };\n  const typeLow = (extracted.type_de_bien || '').toLowerCase();\n  const typeKey = Object.keys(typeMapping).find(k => typeLow.includes(k));\n  const typeCode = typeKey ? typeMapping[typeKey] : (typeLow.substring(0, 3).toUpperCase() || 'BIE');\n  const communeStr = (extracted.commune || '').substring(0, 3).toUpperCase() || 'ABJ';\n  const shortUuid = 'xxxxxxxx'.replace(/[x]/g, function() { return Math.floor(Math.random()*16).toString(16).toUpperCase(); });\n  const ref_bien = typeCode + '-' + communeStr + '-' + shortUuid;\n\n  // Hash djb2 pure JS\n  function djb2Hash(str) {\n    let h = 5381;\n    for (let i = 0; i < str.length; i++) h = ((h << 5) + h + str.charCodeAt(i)) & 0xFFFFFFFF;\n    return (h >>> 0).toString(16).padStart(8, '0');\n  }\n  const contentHash = djb2Hash(JSON.stringify({\n    type: typeLow,\n    prix: String(extracted.prix || ''),\n    commune: (extracted.commune || '').toLowerCase(),\n    quartier: (extracted.quartier || '').toLowerCase(),\n    caract: (extracted.caracteristiques || '').substring(0, 100).toLowerCase()\n  }));\n\n  // Verifier doublons\n  let annonces = [];\n  try { annonces = $('Charger Annonces Recentes').all().map(i => i.json); } catch(e) { annonces = []; }\n  const isDuplicate = annonces.some(a => a.content_hash === contentHash);\n  if (isDuplicate) {\n    console.log('Doublon detecte: ' + contentHash);\n    return [];\n  }\n\n  // Recuperer les donnees source depuis Extraire Donnees Publication\n  let sourcePub = {};\n  try { sourcePub = $('Extraire Donnees Publication').first().json; } catch(e) {}\n\n  // Mapper vers schema Supabase locaux + enrichir avec donnees source\n  const annonce = {\n    ref_bien,\n    content_hash: contentHash,\n    type_de_bien: extracted.type_de_bien || '',\n    type_offre: extracted.type_offre || '',\n    zone_geographique: extracted.zone_geographique || '',\n    commune: extracted.commune || '',\n    quartier: extracted.quartier || '',\n    prix: extracted.prix || '',\n    telephone_bien: extracted.telephone || '',\n    caracteristiques: extracted.caracteristiques || '',\n    publie_par: extracted.publie_par || '',\n    meubles: extracted.meubles === 'Oui' ? true : false,\n    chambre: extracted.chambre || '',\n    disponible: true,\n    status: 'active',\n    // Donnees source pour Sauvegarder Nouvelle Annonce\n    _source_telephone: sourcePub.telephone || '',\n    _source_expediteur: sourcePub.expediteur || '',\n    _source_groupe_nom: sourcePub.groupe || '',\n    _source_groupe_jid: sourcePub.groupe_jid || '',\n    _source_lien_image: sourcePub.lien_image || '',\n    _source_message: sourcePub.message || '',\n    _source_publication_id: sourcePub.publication_id || ''\n  };\n\n  console.log('Annonce: ' + ref_bien + ' | ' + annonce.type_de_bien + ' | ' + annonce.commune);\n  return [{ json: annonce }];\n} catch(e) {\n  console.log('Detecteur Doublons erreur:', e.message);\n  return [];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15072,-816],"id":"420f174a-10ea-4008-86f4-8ee0e48b82c3","name":"Detecteur Doublons"},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"check-doublon","leftValue":"={{ $json.ref_bien }}","operator":{"operation":"notEmpty","type":"string"},"rightValue":""}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1}},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-14848,-816],"id":"c37056f5-7faa-47b4-be74-c6c1ab551a1d","name":"Est un Doublon?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"ref_bien\": $json.ref_bien || '', \"type_de_bien\": $json.type_de_bien || '', \"type_offre\": $json.type_offre || '', \"zone_geographique\": $json.zone_geographique || '', \"commune\": $json.commune || '', \"quartier\": $json.quartier || '', \"prix\": $json.prix || '', \"telephone\": $json.telephone || '', \"telephone_bien\": $json.telephone || '', \"telephone_expediteur\": $json._source_telephone || '', \"expediteur\": $json._source_expediteur || '', \"caracteristiques\": $json.caracteristiques || '', \"publie_par\": $json.publie_par || '', \"meubles\": $json.meubles || 'Non', \"chambre\": $json.chambre || '', \"disponible\": $json.disponible || 'Oui', \"status\": \"active\", \"groupe_whatsapp_origine\": $json._source_groupe_nom || '', \"groupe_whatsapp_jid\": $json._source_groupe_jid || '', \"date_publication\": new Date().toISOString(), \"lien_image\": $json._source_lien_image || '', \"message_initial\": $json._source_message || '', \"publication_id\": $json._source_publication_id || '' }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14624,-816],"id":"c9542866-d9ba-49d3-b796-fc150388f017","name":"Sauvegarder Nouvelle Annonce","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-audio","leftValue":"={{ $json.hasAudio }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-18480,-624],"id":"1fc4eafe-ab8c-4129-a59f-7f129b7a2001","name":"Audio ou Texte?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"data\": { \"messages\": { \"key\": { \"id\": $('Normaliser Webhook').first().json.messageId }, \"message\": { \"audioMessage\": $('Normaliser Webhook').first().json.message.audioMessage || {} } } } }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18256,-752],"id":"47723933-87e2-4b14-ac1c-8a2dd1bb711e","name":"Decrypter Audio","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.publicUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-18032,-752],"id":"5266708d-86b7-43cb-b782-fc538eea2c0a","name":"Telecharger Audio","onError":"continueRegularOutput"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"fr"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-17808,-752],"id":"499202b8-3e3f-4b8d-ae5d-8367df6d5ffb","name":"Transcription Audio","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const source = $input.first().json;\nconst text = source.text || source.messageBody || '';\nif (!text || !text.trim()) return [];\nreturn [{ json: { text: text.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17584,-752],"id":"42b735ec-2755-4936-a041-bc0796fbcdf6","name":"Unifier Texte vers Agent"},{"parameters":{"jsCode":"const normalized = $('Normaliser Webhook').first().json;\nlet messageBody = normalized.messageBody || '';\nif (!messageBody) messageBody = normalized.message?.conversation || '';\nif (!messageBody) messageBody = normalized.message?.extendedTextMessage?.text || '';\nif (!messageBody.trim()) { return [{ json: { text: '[Message vide reçu]', _debug_no_text: true, _raw_keys: Object.keys(normalized) } }]; }\nreturn [{ json: { text: messageBody.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-17584,-528],"id":"ab99da62-85b4-4ea6-b54c-8fbcc2586d13","name":"Recuperer Message Texte"},{"parameters":{"options":{"systemMessage":"# IDENTITÉ\nTu es Immo Plus, l'assistant immobilier WhatsApp de Côte d'Ivoire. Tu aides à trouver des biens immobiliers (location/vente) à Abidjan et en CI.\n\n# RÈGLE ABSOLUE N°1 - TOUJOURS UTILISER L'OUTIL\n**OBLIGATOIRE** : Pour TOUTE question sur des biens immobiliers (disponibilité, prix, commune, type, chambres, caractéristiques, REF, etc.), tu DOIS appeler l'outil `recherche_biens_immobiliers` AVANT de répondre.\n- Si l'utilisateur demande des biens dans une commune → appelle l'outil avec la commune\n- Si l'utilisateur demande un type de bien → appelle l'outil avec le type\n- Si l'utilisateur cite un REF → appelle l'outil avec ce REF\n- Si l'utilisateur demande \"qu'avez-vous ?\" ou \"montrez-moi\" → appelle l'outil avec 'tous'\n- Ne jamais inventer ou supposer des biens. Toujours chercher d'abord.\n\n# CE QUE TU FAIS\n1. Écouter la demande (type de bien, commune, quartier, budget, nb pièces, meublé ou non)\n2. TOUJOURS chercher avec l'outil recherche_biens_immobiliers\n3. Présenter les résultats en format WhatsApp clair\n4. Proposer alternatives si rien trouvé\n5. Planifier visites si demandé (capturer nom + date)\n\n# FORMAT RÉSULTATS (utilise EXACTEMENT ce format pour chaque bien)\n*[REF]* | [TYPE] - [COMMUNE] [QUARTIER]\n💰 [PRIX] FCFA | 🛏️ [N] pièce(s)[si meublé: | ✅ Meublé]\n📝 [Caractéristiques, max 1 ligne]\n📞 [Telephone si disponible]\n\nAprès la liste: \"Intéressé(e) ? Citez le REF du bien pour organiser une visite.\"\n\n# GESTION VISITES\nQuand quelqu'un dit \"intéressé\", \"visite\", ou cite un REF:\n1. Confirmer: \"Bien, pour le *[REF]* à [LIEU]...\"\n2. Demander nom complet\n3. Demander date/heure souhaitée\n4. Confirmer: \"✅ Visite notée: *[NOM]* - *[REF]* - [DATE]. Je contacte le propriétaire.\"\n\n# RÈGLES D'OR\n1. JAMAIS parler de problème technique, erreur, bug\n2. Si aucun résultat → \"Je n'ai rien pour cette recherche en ce moment. Je peux chercher dans un autre quartier ou type de bien ?\"\n3. Toujours afficher le REF du bien dans les résultats\n4. Réponses: max 200 mots pour résultats, max 60 mots pour questions simples\n5. Langue: français, ton amical et professionnel\n6. Ne jamais révéler les détails internes (Supabase, n8n, clés API...)\n\n# RÉPONSES INTERDITES\n❌ \"Je rencontre un souci technique\"\n❌ \"Problème d'accès aux annonces\"\n❌ Tout texte parlant d'erreurs, bugs ou technologie\n❌ Inventer des biens qui n'existent pas dans la base\n\nRéponds UNIQUEMENT avec le message à envoyer au client WhatsApp."},"promptType":"define","text":"={{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-17312,-624],"id":"18c343ad-5926-4fa8-9ff4-6800ac524618","name":"Agent Conversationnel","notes":"SÉCURITÉ: Message utilisateur peut contenir injection prompt. Le systemMessage explicite (refusals) protège partiellement. À surveiller en production."},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{"maxTokens":500,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-17360,-400],"id":"1f03e58b-6226-477a-9788-755ce3218d03","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normaliser Webhook').first().json.cleanedSenderPn || $('Normaliser Webhook').first().json.remoteJid || 'unknown' }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-17232,-400],"id":"6e1409a7-8c05-4762-87d9-5d0915eac85a","name":"Memory Conversationnelle (20 msgs)"},{"parameters":{"name":"Recheche_immo","description":"Recherche des biens immobiliers disponibles en Côte d'Ivoire dans la base de données. Utilise cet outil pour toute question sur les biens: disponibilité, prix, localisation, caractéristiques, chambres, etc. Passe le critère de recherche tel que reçu de l'utilisateur (commune, type, quartier, budget, REF, etc.). Si aucun critère spécifique, passe 'tous' pour lister les biens récents.","jsCode":"// ===== OUTIL RECHERCHE BIENS IMMOBILIERS =====\n// Accès complet à TOUS les champs de la table locaux Supabase\n\nconst SUPABASE_URL = 'https://udyfhzyvalansmhkynnc.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk';\n\n// Critère passé par l'agent IA\nconst q = (query || '').toLowerCase().trim();\n\n// Tous les champs disponibles dans la table locaux\nconst SELECT_FIELDS = [\n  'id',\n  'ref_bien',\n  'type_de_bien',\n  'type_offre',\n  'zone_geographique',\n  'commune',\n  'quartier',\n  'prix',\n  'chambre',\n  'meubles',\n  'caracteristiques',\n  'telephone_bien',\n  'telephone_expediteur',\n  'expediteur',\n  'publie_par',\n  'disponible',\n  'status',\n  'groupe_whatsapp_origine',\n  'lien_image',\n  'message_initial',\n  'date_publication',\n  'date_expiration',\n  'publication_id'\n].join(',');\n\n// Construction des filtres URL\nconst filters = [];\n\n// Filtre disponible (toujours actif sauf si recherche explicite de non-disponibles)\nif (!q.includes('non disponible') && !q.includes('vendu') && !q.includes('loué')) {\n  filters.push('disponible=eq.Oui');\n}\n\n// Filtre commune\nconst communes = [\n  { variants: ['cocody'], value: 'Cocody' },\n  { variants: ['yopougon', 'yopo'], value: 'Yopougon' },\n  { variants: ['marcory'], value: 'Marcory' },\n  { variants: ['koumassi'], value: 'Koumassi' },\n  { variants: ['treichville', 'treiche'], value: 'Treichville' },\n  { variants: ['plateau'], value: 'Plateau' },\n  { variants: ['adjamé', 'adjame'], value: 'Adjamé' },\n  { variants: ['abobo'], value: 'Abobo' },\n  { variants: ['attécoubé', 'attecoube'], value: 'Attécoubé' },\n  { variants: ['port-bouët', 'port-bouet', 'portbouet'], value: 'Port-Bouët' },\n  { variants: ['bingerville'], value: 'Bingerville' },\n  { variants: ['songon'], value: 'Songon' },\n  { variants: ['anyama'], value: 'Anyama' },\n  { variants: ['grand-bassam', 'bassam'], value: 'Grand-Bassam' },\n  { variants: ['assinie'], value: 'Assinie' }\n];\nconst communeTrouvee = communes.find(c => c.variants.some(v => q.includes(v)));\nif (communeTrouvee) {\n  filters.push('commune=ilike.*' + encodeURIComponent(communeTrouvee.value) + '*');\n}\n\n// Filtre type de bien\nconst typesBien = ['villa', 'appartement', 'studio', 'duplex', 'triplex', 'maison', 'terrain', 'bureau', 'magasin', 'boutique', 'local', 'garage', 'immeuble', 'chambre'];\nconst typeTrouve = typesBien.find(t => q.includes(t));\nif (typeTrouve) {\n  filters.push('type_de_bien=ilike.*' + encodeURIComponent(typeTrouve) + '*');\n}\n\n// Filtre type d'offre (location ou vente)\nif (q.includes('vente') || q.includes('vendre') || q.includes('achat') || q.includes('acheter') || q.includes('céder')) {\n  filters.push('type_offre=eq.Vente');\n} else if (q.includes('location') || q.includes('louer') || q.includes('locat') || q.includes('bail') || q.includes('mensuel')) {\n  filters.push('type_offre=eq.Location');\n}\n\n// Filtre meuble\nif (q.includes('meublé') || q.includes('meuble')) {\n  filters.push('meubles=eq.true');\n}\n\n// Filtre REF bien direct (APT-MAR-XXXXXXXX ou format similaire)\nconst refMatch = q.match(/([a-z]{2,3}[-_][a-z]{2,3}[-_][a-zA-Z0-9]{4,10})/i);\nif (refMatch) {\n  filters.push('ref_bien=ilike.*' + encodeURIComponent(refMatch[1].toUpperCase()) + '*');\n}\n\n// Filtre quartier (mots après commune si présent)\nconst quartiersConnus = ['angré', 'angre', '2 plateaux', 'deux plateaux', 'riviera', 'bonoumin', 'attoban', 'm’badon', 'mbadon', 'niangon', 'orly', 'campement', 'zone 4', 'zone4', 'solibra', 'remblai', 'iti', 'biabou', 'port-bouët 1', 'cite', 'sicogi', 'epse', 'comoe'];\nconst quartierTrouve = quartiersConnus.find(qt => q.includes(qt));\nif (quartierTrouve) {\n  filters.push('quartier=ilike.*' + encodeURIComponent(quartierTrouve) + '*');\n}\n\n// Filtre nombre de chambres\nconst chambreMatch = q.match(/(\\d+)\\s*(?:pièces?|chambres?|ch\\b)/);\nif (chambreMatch) {\n  filters.push('chambre=eq.' + chambreMatch[1]);\n}\n\n// Construire URL finale\nconst baseUrl = SUPABASE_URL + '/rest/v1/locaux';\nconst queryParts = [...filters, 'select=' + SELECT_FIELDS, 'order=date_publication.desc', 'limit=15'];\nconst url = baseUrl + '?' + queryParts.join('&');\n\n// Exécuter la requête\nconst response = await fetch(url, {\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json'\n  }\n});\n\nif (!response.ok) {\n  const errText = await response.text();\n  return 'Erreur lors de la recherche: ' + errText;\n}\n\nconst biens = await response.json();\n\nif (!biens || biens.length === 0) {\n  return 'Aucun bien immobilier disponible ne correspond à votre recherche en ce moment. Essayez avec des critères différents (autre commune, autre type de bien...).';\n}\n\n// Formater les résultats avec TOUTES les informations\nconst resultats = biens.map(b => {\n  const meuble = b.meubles ? ' | ✅ Meublé' : ' | ❌ Non meublé';\n  const chambres = b.chambre ? b.chambre + ' pièce(s)' : 'N/A';\n  const image = b.lien_image ? '🖼️ Image: ' + b.lien_image : '';\n  const datePubli = b.date_publication ? new Date(b.date_publication).toLocaleDateString('fr-FR') : '';\n  const groupe = b.groupe_whatsapp_origine ? 'Groupe: ' + b.groupe_whatsapp_origine : '';\n  \n  return [\n    '---',\n    '🏠 *' + (b.ref_bien || 'N/A') + '* | ' + (b.type_offre || '') + ' | ' + (b.type_de_bien || ''),\n    '📍 ' + [b.commune, b.quartier, b.zone_geographique].filter(Boolean).join(', '),\n    '💰 Prix: ' + (b.prix || 'Non communiqué'),\n    '🛏️ Pièces: ' + chambres + meuble,\n    '📝 Caractéristiques: ' + (b.caracteristiques || 'Non précisé'),\n    '📞 Contact: ' + (b.telephone_bien || b.telephone_expediteur || 'Non disponible'),\n    '👤 Publié par: ' + (b.publie_par || b.expediteur || 'Inconnu'),\n    datePubli ? '📅 Date: ' + datePubli : '',\n    groupe,\n    image\n  ].filter(Boolean).join('\\n');\n}).join('\\n\\n');\n\nreturn 'Résultats (' + biens.length + ' bien(s) trouvé(s)):\\n\\n' + resultats + '\\n\\n[Pour une visite, citez le REF du bien]';\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-17104,-400],"id":"3f5beaee-9718-4037-bd61-7155cc86215b","name":"Outil Recherche Annonces"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Tu es un extracteur de métadonnées pour un CRM immobilier.\nAnalyse la conversation et extrais les informations en JSON strict.\n\nRègles :\n- interesse : true si le client montre un intérêt concret pour un bien précis\n- transfert_urgent : true si le client demande explicitement à parler à un humain\n- montrer_media : true si le client demande des photos ou vidéos\n- visite_programme : true UNIQUEMENT si l'assistant confirme une visite avec nom ET date\n- nom : nom du client\n- date_rv : date/heure du RDV mentionné\n- local_interesse : description courte du bien\n- ref_bien : référence du bien mentionné (format BG-XXXXXX, ex: BG-A1B2C3) si présente dans la conversation\n\nRéponds UNIQUEMENT avec le JSON."},{"content":"=Message utilisateur : {{ $json.text }}\n\nRéponse assistant : {{ $('Agent Conversationnel').first().json.output }}\n\nJSON attendu :\n{\n  \"interesse\": false,\n  \"transfert_urgent\": false,\n  \"montrer_media\": false,\n  \"visite_programme\": false,\n  \"nom\": \"\",\n  \"date_rv\": \"\",\n  \"local_interesse\": \"\",\n  \"ref_bien\": \"\"\n}"}]},"builtInTools":{},"options":{"maxTokens":200,"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-16896,-624],"id":"f8305459-b85e-45ec-9fdc-e7fd021b5091","name":"Extracteur Metadonnees","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"jsCode":"let agentReply = '';\ntry { agentReply = $('Agent Conversationnel').first().json.output || ''; } catch(e) { agentReply = 'Bonjour ! Je suis disponible pour vous aider dans votre recherche immobilière. Que recherchez-vous ?'; }\nlet analysis = {};\ntry { const raw = $('Extracteur Metadonnees').first().json; let output = raw.output; if (typeof output === 'string') { const match = output.match(/\\{[\\s\\S]*\\}/); analysis = match ? JSON.parse(match[0]) : JSON.parse(output); } else if (Array.isArray(output)) { const text = output[0]?.content?.[0]?.text || output[0]?.text || '{}'; analysis = typeof text === 'string' ? JSON.parse(text) : text; } else if (output && typeof output === 'object') { analysis = output; } } catch(e) { analysis = {}; }\nconst toBool = (v) => v === true || v === 'true';\nconst toStr = (v) => String(v || '').trim();\n\n// Extraire ref_bien depuis réponse agent si absent de l'analyse OpenAI\nconst refBienFromAgent = analysis.ref_bien || (() => {\n  const m = agentReply.match(/\\bBG-[A-Z0-9]{4,10}\\b/i);\n  return m ? m[0].toUpperCase() : '';\n})();\nreturn [{ json: { reply: agentReply, interesse: toBool(analysis.interesse), transfert_urgent: toBool(analysis.transfert_urgent), montrer_media: toBool(analysis.montrer_media), visite_programme: toBool(analysis.visite_programme), nom: toStr(analysis.nom), date_rv: toStr(analysis.date_rv), local_interesse: toStr(analysis.local_interesse), ref_bien: toStr(refBienFromAgent) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16544,-624],"id":"fec360a2-54d8-4092-a35e-c02cc184d627","name":"Parser Analyse"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"to\": $('Normaliser Webhook').first().json.remoteJid.replace('@s.whatsapp.net', '').replace('@lid', ''), \"text\": $('Parser Analyse').first().json.reply }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16320,-720],"id":"ded7146d-6720-47eb-a41e-d93c1471e713","name":"Envoyer Reponse WhatsApp","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"a0e3d7c4","leftValue":"={{ $('Parser Analyse').first().json.visite_programme }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-16320,-528],"id":"dbae96b9-8083-4a95-8e15-e08a5ee5f488","name":"Visite Programmee?"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee?numero=eq.{{ $json.cleanedSenderPn }}&local_interesse=eq.{{ $json.ref_bien }}&select=id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16096,-528],"id":"e48dc53e-b15a-40c1-90bb-8993202034f5","name":"Verifier Visite Existante","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nlet visites = [];\nfor (const item of items) { const data = item.json; if (Array.isArray(data)) { visites = visites.concat(data); } else if (data && typeof data === 'object' && data.id) { visites.push(data); } }\nconst isNew = visites.length === 0;\nreturn [{ json: { is_new_visite: isNew, existing_count: visites.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-15872,-528],"id":"7827e7ed-7feb-49c3-bcf0-f26a076f1647","name":"Verifier Si Nouvelle Visite"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"check-new","leftValue":"={{ $json.is_new_visite }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-15648,-528],"id":"111e7a74-5dd9-459b-b7db-e907177302ea","name":"Premiere Visite?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"nom_prenom\": $('Parser Analyse').first().json.nom, \"numero\": $('Normaliser Webhook').first().json.cleanedSenderPn, \"date_rv\": $('Parser Analyse').first().json.date_rv, \"local_interesse\": $('Parser Analyse').first().json.local_interesse, \"ref_bien\": $('Parser Analyse').first().json.ref_bien, \"visite_prog\": \"Oui\", \"created_at\": new Date().toISOString() }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15360,-528],"id":"9b5a2991-2276-468c-bde7-b605b983c13f","name":"Enregistrer Visite","onError":"continueRegularOutput"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&ref_bien=ilike.*{{ $json.ref_bien }}*&select=id,ref_bien,telephone_bien,commune,quartier,prix&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-15072,-528],"id":"1a5ca8d9-cfe7-4510-9eed-86977822461e","name":"Chercher Bien","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Recherche intelligente du propriétaire d'un bien\ntry {\n  const localInteresse = $('Parser Analyse').first().json.local_interesse || '';\n  const refBien = $('Parser Analyse').first().json.ref_bien || '';\n\n  if (!localInteresse.trim() && !refBien.trim()) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'local_interesse et ref_bien vides' } }];\n  }\n\n  function normalize(str) {\n    if (!str) return '';\n    return String(str).toLowerCase().trim()\n      .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n      .replace(/[\\s\\-_.,;\\/\\\\]+/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n\n  let allBiens = [];\n  try {\n    const allItems = $('Chercher Bien').all();\n    allBiens = allItems.map(item => item.json);\n    if (allBiens.length === 1 && Array.isArray(allBiens[0])) { allBiens = allBiens[0]; }\n  } catch(e) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Erreur lecture: ' + e.message } }];\n  }\n\n  // Recherche par REF d'abord\n  if (refBien.trim()) {\n    const refNorm = refBien.trim().toUpperCase();\n    const exactMatch = allBiens.find(row => row.ref_bien && row.ref_bien.toUpperCase() === refNorm);\n    if (exactMatch) {\n      const tel = exactMatch.telephone_bien || exactMatch.telephone || exactMatch.telephone_expediteur || '';\n      return [{ json: Object.assign({}, exactMatch, { telephone: tel, _match_score: 100, _match_method: 'ref_bien' }) }];\n    }\n  }\n\n  // Recherche par mots-clés\n  const searchTerms = normalize(localInteresse).split(' ').filter(w => w.length > 2);\n  if (searchTerms.length === 0) {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Termes insuffisants' } }];\n  }\n\n  let bestMatch = null;\n  let bestScore = 0;\n  for (const row of allBiens) {\n    if (!row || !row.type_de_bien) continue;\n    const rowText = normalize([row.type_de_bien, row.zone_geographique, row.commune, row.quartier, row.prix, row.caracteristiques].filter(Boolean).join(' '));\n    let score = 0;\n    for (const term of searchTerms) { if (rowText.includes(term)) score++; }\n    const matchPercent = (score / searchTerms.length) * 100;\n    if (matchPercent >= 40 && matchPercent > bestScore) { bestScore = matchPercent; bestMatch = row; }\n  }\n\n  if (bestMatch) {\n    const tel = bestMatch.telephone_bien || bestMatch.telephone || bestMatch.telephone_expediteur || '';\n    return [{ json: Object.assign({}, bestMatch, { telephone: tel, _match_score: bestScore, _match_method: 'keywords' }) }];\n  } else {\n    return [{ json: { telephone: '', ref_bien: '', _search_error: 'Aucun bien trouvé pour: ' + localInteresse } }];\n  }\n} catch(e) {\n  console.log('Recherche Proprietaire erreur:', e.message);\n  return [{ json: { telephone: '', ref_bien: '', _search_error: e.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-14848,-528],"id":"a3b9d4e6-674a-44e2-a0dd-5c514e5bc1b9","name":"Recherche Intelligente Proprietaire"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"check-tel","leftValue":"={{ $json.telephone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-14400,-528],"id":"f3963d3f-1a13-4f8a-947b-c1a86f9ef4ad","name":"Proprietaire Trouve?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $(\"Recherche Intelligente Proprietaire\").first().json.telephone || $(\"⚙️ Config Numéros\").first().json.numero_proprietaire, \"text\": \"\\uD83C\\uDFE0 *Nouvelle demande de visite*\\n\\n\\uD83D\\uDCCB *R\\u00e9f:* \" + ($(\"Recherche Intelligente Proprietaire\").first().json.ref_bien || \"N/A\") + \"\\n\\uD83C\\uDFD8\\uFE0F *Bien:* \" + ($(\"Recherche Intelligente Proprietaire\").first().json.type_de_bien || $(\"Parser Analyse\").first().json.local_interesse || \"N/A\") + \"\\n\\uD83D\\uDCCD *Localisation:* \" + [($(\"Recherche Intelligente Proprietaire\").first().json.commune || \"\"), ($(\"Recherche Intelligente Proprietaire\").first().json.quartier || \"\")].filter(Boolean).join(\" \") + \"\\n\\uD83D\\uDC64 *Prospect:* \" + ($(\"Parser Analyse\").first().json.nom || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDCF1 *Num\\u00e9ro:* \" + $(\"Normaliser Webhook\").first().json.cleanedSenderPn + \"\\n\\uD83D\\uDCC5 *Date souhait\\u00e9e:* \" + ($(\"Parser Analyse\").first().json.date_rv || \"\\u00c0 convenir\") + \"\\n\\nMerci de contacter le prospect rapidement. \\uD83D\\uDE4F\"}) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14176,-624],"id":"48aa78e4-6941-4fd9-aa54-a2ddd47a6f88","name":"Notifier Proprietaire","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $(\"⚙️ Config Numéros\").first().json.numero_agence || \"2250789263373\", \"text\": \"\\u26A0\\uFE0F *VISITE \\u00c0 TRAITER MANUELLEMENT*\\n\\n\\uD83D\\uDCCB *R\\u00e9f:* \" + ($(\"Parser Analyse\").first().json.ref_bien || \"N/A\") + \"\\n\\uD83C\\uDFD8\\uFE0F *Bien:* \" + ($(\"Parser Analyse\").first().json.local_interesse || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDC64 *Prospect:* \" + ($(\"Parser Analyse\").first().json.nom || \"Non pr\\u00e9cis\\u00e9\") + \"\\n\\uD83D\\uDCF1 *Num\\u00e9ro:* \" + $(\"Normaliser Webhook\").first().json.cleanedSenderPn + \"\\n\\uD83D\\uDCC5 *Date:* \" + ($(\"Parser Analyse\").first().json.date_rv || \"\\u00c0 convenir\") + \"\\n\\n\\u274C Propri\\u00e9taire introuvable. Action manuelle requise.\"}) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-14176,-432],"id":"fd775530-356a-4a45-a03d-1e6ef8f07a77","name":"Alerter Agence (Fallback)","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Anti-boucle: filtre messages du bot + déduplication TTL 5min\n\nconst input = $input.first().json;\n\n// 1. Ignorer messages envoyés par le bot\nif (input.fromMe === true) return [];\n\n// 2. Vérifier messageId\nconst msgId = String(input.messageId || '').trim();\nif (!msgId) return [];\n\n// 3. Cache TTL via static data\nconst staticData = $getWorkflowStaticData('node');\nif (!staticData.seenMessages) staticData.seenMessages = {};\n\nconst now = Date.now();\nconst TTL = 5 * 60 * 1000; // 5 minutes\n\n// Purger les anciens\nfor (const id of Object.keys(staticData.seenMessages)) {\n  if (now - staticData.seenMessages[id] > TTL) {\n    delete staticData.seenMessages[id];\n  }\n}\n\n// Si déjà traité dans les 5 dernières minutes, ignorer\nif (staticData.seenMessages[msgId]) return [];\n\n// Marquer comme traité\nstaticData.seenMessages[msgId] = now;\n\nreturn [input];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-18704,-624],"id":"e023e7a4-3004-4cd7-a683-85d8782543a3","name":"Anti-Boucle Prospect"},{"parameters":{"method":"PATCH","url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?id=eq.{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"date_expiration\": \"{{ $now.plus({days: 30}).toISO() }}\", \"status\": \"active\", \"relance_count\": {{ ($json.relance_count || 0) + 1 }}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-14848,-1232],"id":"fb0a7f74-f422-42c3-8e46-ec77659671ad","name":"Mettre à jour Date Expiration","onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-20048,-208],"id":"b998b67f-a143-40b4-a9f0-f11e03af3ee3","name":"Schedule Relance 24h"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?select=id,ref_bien,date_expiration,expediteur,telephone_expediteur,disponible,relance_count&disponible=eq.Oui&or=(status.eq.active,status.is.null)&order=date_expiration.asc&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-19824,-208],"id":"746e0296-a501-4e66-b3a3-8b1f7c7f9342","name":"Charger Locaux pour Relance","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-19600,-208],"id":"2ce62c24-e835-4d0f-bec8-b196683b9c0b","name":"Boucler Locaux Relance"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"to\": $json.telephone_expediteur, \"text\": \"Bonjour \" + ($json.expediteur || \"cher propri\\u00e9taire\") + \",\\n\\n\\u2705 *Confirmation de disponibilit\\u00e9*\\n\\nVotre annonce *\" + $json.ref_bien + \"* est toujours active sur ImmoDash.\\n\\nSouhaitez-vous la renouveler pour 30 jours suppl\\u00e9mentaires ?\\nR\\u00e9pondez *OUI* pour confirmer ou *NON* pour archiver.\\n\\n_ImmoDash CRM_ \\uD83C\\uDFE0\"}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-19376,-208],"id":"a5eefca3-9c7c-4a57-b32b-0f3abee42fda","name":"Envoyer Message Satisfaction 24h","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// ============================================================\n// ⚙️  CONFIG NUMÉROS - Éditez les valeurs ci-dessous\n// ============================================================\n\nconst NUMERO_AGENCE       = \"2250142694380\"; // ← Numéro de l'agence\nconst NUMERO_PROPRIETAIRE = \"2250789263373\"; // ← Numéro propriétaire (fallback)\n\n// ============================================================\n// Ne pas modifier en-dessous de cette ligne\n// ============================================================\n\n// Passer les données de l'entrée + les configs\nconst inputData = $input.all();\nreturn inputData.map(function(item) {\n  return {\n    json: Object.assign({}, item.json, {\n      numero_agence: NUMERO_AGENCE,\n      numero_proprietaire: NUMERO_PROPRIETAIRE\n    })\n  };\n});"},"id":"config-numeros-agence-001","name":"⚙️ Config Numéros","type":"n8n-nodes-base.code","typeVersion":2,"position":[-14624,-528],"notesInFlow":true,"notes":"Editez ce noeud pour changer les numeros.\nnumero_agence = 2250142694380\nnumero_proprietaire = 2250789263373"}],"connections":{"Webhook Wassender":{"main":[[{"node":"Valider Token Webhook","type":"main","index":0}]]},"Normaliser Webhook":{"main":[[{"node":"Est un Groupe?","type":"main","index":0}]]},"Est un Groupe?":{"main":[[{"node":"Message Sortant? (Groupe)","type":"main","index":0}],[{"node":"Message Sortant? (Prospect)","type":"main","index":0}]]},"Message Sortant? (Groupe)":{"main":[[],[{"node":"Preparer Publication Groupe","type":"main","index":0}]]},"Message Sortant? (Prospect)":{"main":[[],[{"node":"Anti-Boucle Prospect","type":"main","index":0}]]},"Preparer Publication Groupe":{"main":[[{"node":"Contient une Image?","type":"main","index":0}]]},"Contient une Image?":{"main":[[{"node":"Decrypter Image","type":"main","index":0}],[{"node":"Preparer Publication Texte Seul","type":"main","index":0}]]},"Decrypter Image":{"main":[[{"node":"Verifier Decryptage Image","type":"main","index":0}]]},"Verifier Decryptage Image":{"main":[[{"node":"Decryptage OK?","type":"main","index":0}]]},"Decryptage OK?":{"main":[[{"node":"Upload Image ImgBB","type":"main","index":0}],[{"node":"Fallback Image Echouee","type":"main","index":0}]]},"Upload Image ImgBB":{"main":[[{"node":"Construire Donnees Avec Image","type":"main","index":0}]]},"Construire Donnees Avec Image":{"main":[[{"node":"Sauvegarder Image Supabase","type":"main","index":0}]]},"Fallback Image Echouee":{"main":[[{"node":"Sauvegarder Image Supabase","type":"main","index":0}]]},"Sauvegarder Image Supabase":{"main":[[{"node":"Image avec Texte?","type":"main","index":0}]]},"Image avec Texte?":{"main":[[{"node":"Preparer Publication Image+Texte","type":"main","index":0}],[{"node":"Preparer Publication Image Seule","type":"main","index":0}]]},"Preparer Publication Image+Texte":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Preparer Publication Texte Seul":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Preparer Publication Image Seule":{"main":[[{"node":"Enregistrer Publication Supabase","type":"main","index":0}]]},"Enregistrer Publication Supabase":{"main":[[{"node":"Extraire Donnees Publication","type":"main","index":0}]]},"Extraire Donnees Publication":{"main":[[{"node":"Pré-filtrer Annonce Immobilière","type":"main","index":0}]]},"IA Extraction Annonce":{"main":[[{"node":"Charger Annonces Recentes","type":"main","index":0},{"node":"Detecteur Doublons","type":"main","index":0}]]},"Detecteur Doublons":{"main":[[{"node":"Est un Doublon?","type":"main","index":0}]]},"Est un Doublon?":{"main":[[],[{"node":"Sauvegarder Nouvelle Annonce","type":"main","index":0}]]},"Audio ou Texte?":{"main":[[{"node":"Decrypter Audio","type":"main","index":0}],[{"node":"Recuperer Message Texte","type":"main","index":0}]]},"Decrypter Audio":{"main":[[{"node":"Telecharger Audio","type":"main","index":0}]]},"Telecharger Audio":{"main":[[{"node":"Transcription Audio","type":"main","index":0}]]},"Transcription Audio":{"main":[[{"node":"Unifier Texte vers Agent","type":"main","index":0}]]},"Unifier Texte vers Agent":{"main":[[{"node":"Agent Conversationnel","type":"main","index":0}]]},"Recuperer Message Texte":{"main":[[{"node":"Agent Conversationnel","type":"main","index":0}]]},"Agent Conversationnel":{"main":[[{"node":"Extracteur Metadonnees","type":"main","index":0}]]},"Extracteur Metadonnees":{"main":[[{"node":"Parser Analyse","type":"main","index":0}]]},"Parser Analyse":{"main":[[{"node":"Envoyer Reponse WhatsApp","type":"main","index":0},{"node":"Visite Programmee?","type":"main","index":0}]]},"Visite Programmee?":{"main":[[{"node":"Verifier Visite Existante","type":"main","index":0}]]},"Verifier Visite Existante":{"main":[[{"node":"Verifier Si Nouvelle Visite","type":"main","index":0}]]},"Verifier Si Nouvelle Visite":{"main":[[{"node":"Premiere Visite?","type":"main","index":0}]]},"Premiere Visite?":{"main":[[{"node":"Enregistrer Visite","type":"main","index":0}]]},"Enregistrer Visite":{"main":[[{"node":"Chercher Bien","type":"main","index":0}]]},"Chercher Bien":{"main":[[{"node":"Recherche Intelligente Proprietaire","type":"main","index":0}]]},"Recherche Intelligente Proprietaire":{"main":[[{"node":"⚙️ Config Numéros","type":"main","index":0}]]},"Proprietaire Trouve?":{"main":[[{"node":"Notifier Proprietaire","type":"main","index":0}],[{"node":"Alerter Agence (Fallback)","type":"main","index":0}]]},"Anti-Boucle Prospect":{"main":[[{"node":"Audio ou Texte?","type":"main","index":0}]]},"Charger Locaux pour Relance":{"main":[[{"node":"Boucler Locaux Relance","type":"main","index":0}]]},"Boucler Locaux Relance":{"main":[[{"node":"Envoyer Message Satisfaction 24h","type":"main","index":0}]]},"Schedule Relance 24h":{"main":[[{"node":"Charger Locaux pour Relance","type":"main","index":0}]]},"Valider Token Webhook":{"main":[[{"node":"Sanitiser Input Webhook","type":"main","index":0}]]},"Pré-filtrer Annonce Immobilière":{"main":[[{"node":"IA Extraction Annonce","type":"main","index":0}]]},"Sanitiser Input Webhook":{"main":[[{"node":"Normaliser Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agent Conversationnel","type":"ai_languageModel","index":0}]]},"Memory Conversationnelle (20 msgs)":{"ai_memory":[[{"node":"Agent Conversationnel","type":"ai_memory","index":0}]]},"Outil Recherche Annonces":{"ai_tool":[[{"node":"Agent Conversationnel","type":"ai_tool","index":0}]]},"Charger Annonces Recentes":{"main":[[{"node":"Mettre à jour Date Expiration","type":"main","index":0}]]},"⚙️ Config Numéros":{"main":[[{"node":"Proprietaire Trouve?","type":"main","index":0}]]}},"authors":"Kassio Wifried","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-27T16:51:08.088Z","id":257,"workflowId":"LTZJrc7tYwv6Qm6a5wtZ0","versionId":"bea1ce9c-6838-4b09-9d00-594a60c61cfe","event":"activated","userId":"066721f7-b010-42ae-8bda-f811f483e2c0"}]}}