workflows/skeleton_workflow.json
{"id":"LTZJrc7tYwv6Qm6a5wtZ0","name":"Imm supabase","nodes":[{"parameters":{"httpMethod":"POST","path":"wassender-immobilier","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-6944,232],"id":"1870e6a9-6b02-4de6-94e8-23210c9e7341","name":"Webhook Wassender","webhookId":"wassender-immobilier-webhook"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6720,232],"id":"7f18d7ba-eb72-4266-a5e4-f4f56f7426e8","name":"Normaliser Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-group","leftValue":"={{ $json.remoteJid }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-6496,232],"id":"7730ae8a-d24e-4784-bb61-01d7bea272ea","name":"Est un Groupe?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/getGroupMetadata","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"groupId\": \"{{ $json.remoteJid }}\"\n}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-6272,40],"id":"7d4b40bd-c354-40b5-9827-63e6a9387748","name":"Recuperer Nom Groupe"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6048,40],"id":"e35a8bb3-ab78-483f-9939-a98db0666afd","name":"Extraire Nom Groupe"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-5824,40],"id":"2d69d84d-7d16-42bb-8ecb-afbed092f91d","name":"Message Sortant?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5600,-56],"id":"df79859e-b1fc-4f03-9401-5623ee2f508c","name":"Ignorer sortant"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5600,136],"id":"e84792de-cf1c-4851-bfc8-f8e14d498682","name":"Extraction Commune"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-skip","leftValue":"={{ $json._skip }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-5376,136],"id":"d79663c6-b4a9-4641-8acd-209e30fc4ac9","name":"Contenu Exploitable?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5152,236],"id":"1d97c675-1aa6-48f1-bbfe-abb6276bcd08","name":"Ignorer Sticker"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-audio-group","leftValue":"={{ $json.has_audio }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-5152,-32],"id":"e5ff6a75-a492-44c5-a522-19893114dbc6","name":"Audio dans Groupe?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"audioMessage\": {\n          \"url\": \"{{ $json.audioInfo.url }}\",\n          \"mimetype\": \"{{ $json.audioInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.audioInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.audioInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.audioInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.audioInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.audioInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-4808,-104],"id":"9d167600-1ec5-4ecc-afa4-9987d63a478c","name":"Decrypter Audio Groupe"},{"parameters":{"url":"={{ $json.publicUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4400,-104],"id":"7045bd46-ca21-4d42-aac7-43a064261992","name":"Telecharger Audio Groupe"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-4112,-104],"id":"e0e75f09-cf42-4586-9251-78db9c63147b","name":"Transcrire Audio Groupe","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3888,-104],"id":"a165a347-85c0-4ed5-86ae-595959679fd9","name":"Injecter Transcription"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications?telephone=eq.{{ encodeURIComponent($json.Telephone) }}&groupe=eq.{{ encodeURIComponent($json.Groupe) }}&message_timestamp=gte.{{ $json.Timestamp - 120 }}&message_timestamp=lte.{{ $json.Timestamp + 120 }}&order=message_timestamp.desc&limit=1&select=publication_id,message_timestamp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3664,-32],"id":"4ac7354b-61ad-460a-86d0-b2a0f43787e5","name":"Chercher Publication Existante"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3440,-32],"id":"87fbade1-5f61-4249-bc5a-2d3fd9b4d029","name":"Generer Publication ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-image","leftValue":"={{ $json.has_image }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-3216,-32],"id":"217b2469-374b-411d-a872-0fae6df20a3e","name":"A une Image?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"messages\": {\n      \"key\": { \"id\": \"{{ $json.originalKeyId }}\" },\n      \"message\": {\n        \"imageMessage\": {\n          \"url\": \"{{ $json.imageInfo.url }}\",\n          \"mimetype\": \"{{ $json.imageInfo.mimetype }}\",\n          \"mediaKey\": \"{{ $json.imageInfo.mediaKey }}\",\n          \"directPath\": \"{{ $json.imageInfo.directPath }}\",\n          \"fileEncSha256\": \"{{ $json.imageInfo.fileEncSha256 }}\",\n          \"fileSha256\": \"{{ $json.imageInfo.fileSha256 }}\",\n          \"fileLength\": \"{{ $json.imageInfo.fileLength }}\"\n        }\n      }\n    }\n  }\n}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2992,-128],"id":"0d4858a7-eca3-4655-be3e-84119229beae","name":"Decrypter Image"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2768,-128],"id":"adf883be-846a-43b5-b3cd-3e9f8abf6ec1","name":"Verifier Decryptage"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-decrypt-ok","leftValue":"={{ $json.decrypt_ok }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-2544,-128],"id":"27ef3ccd-4fe8-40bb-85b2-f1478945c88f","name":"Decryptage OK?"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"key","value":"9f8a1a2b1ec266006878b8e5e20f713e"},{"name":"image","value":"={{ $('Verifier Decryptage').first().json.publicUrl }}"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2320,-224],"id":"3112e81a-6f93-4a37-aa8b-f6d11023ca4d","name":"Upload ImgBB"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,-224],"id":"8621613c-afa5-46c9-b703-c9f9f28f2eef","name":"Construire Donnees Image"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,20],"id":"e20ec802-311d-479f-8117-b5c4975b99fa","name":"Fallback Image"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/images?on_conflict=message_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal,resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"message_timestamp\": {{ $json.Timestamp }},\n  \"image_order\": {{ $json.Image_Order }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1872,-128],"id":"d26672d1-6c96-4cbe-9223-5ede90d149cb","name":"Supabase IMAGES"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"cond-has-caption","leftValue":"={{ $('Generer Publication ID').first().json.has_text }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-1648,-128],"id":"ccdf78e7-ca50-47d1-8825-a1911c865158","name":"A aussi du texte?"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,-32],"id":"b0ed683d-d866-4223-bc0e-7645e6a52553","name":"Preparer Image Seule"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,-224],"id":"3698b692-4f30-43cf-a186-ff8aed8c1b39","name":"Preparer Pub Image Texte"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,188],"id":"df154197-fca4-4571-9c00-51a57bb0e197","name":"Preparer Pub Texte"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-new-pub","leftValue":"={{ $json.Is_New_Publication }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1200,-32],"id":"9268cc89-a649-4f0a-b0fd-1e3cb9ac84e3","name":"Nouvelle Publication?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/publications","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"publication_id\": {{ JSON.stringify($json.Publication_ID) }},\n  \"message_id\": {{ JSON.stringify($json.Message_ID) }},\n  \"horodatage\": {{ JSON.stringify($json.Horodatage) }},\n  \"groupe\": {{ JSON.stringify($json.Groupe) }},\n  \"nom_groupe\": {{ JSON.stringify($json.Nom_Groupe) }},\n  \"expediteur\": {{ JSON.stringify($json.Expediteur) }},\n  \"telephone\": {{ JSON.stringify($json.Telephone) }},\n  \"type\": {{ JSON.stringify($json.Type) }},\n  \"message\": {{ JSON.stringify($json.Message) }},\n  \"lien_image\": {{ JSON.stringify($json.Lien_Image) }},\n  \"message_timestamp\": {{ $json.Timestamp }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,-128],"id":"11c7ef45-05e5-48a8-93fe-bff82b65f96f","name":"Supabase PUBLICATION"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-976,64],"id":"7c03e041-ef97-435c-a890-4d40c2cad26a","name":"Image rattachee - Ignorer IA"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,-128],"id":"88d45752-12c6-4d07-8cbc-3a614d9bc5ca","name":"Extraire Donnees Publication"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Tu es un assistant expert en immobilier ivoirien qui extrait des informations structurées à partir de publications postées dans des groupes WhatsApp.\n\n# RÈGLES D'EXTRACTION GÉOGRAPHIQUE\n1. Zone géographique précise : Recopie EXACTEMENT la localisation complète\n2. Commune : Extrais UNIQUEMENT le nom de la commune. Communes connues d'Abidjan : Cocody, Yopougon, Marcory, Koumassi, Treichville, Plateau, Adjamé, Abobo, Attécoubé, Port-Bouët, Bingerville, Songon, Anyama.\n3. Quartier : Extrais le quartier ou sous-quartier.\n\n# RÈGLES DE PRIX\nConvertis le prix en NOMBRE ENTIER UNIQUEMENT. Pas de FCFA, F, CFA.\nSi pas mentionné, laisse vide \"\".\n\n# OUTPUT (JSON UNIQUEMENT)\n{\n  \"type_de_bien\": \"\",\n  \"type_offre\": \"Location/Vente\",\n  \"zone_geographique\": \"\",\n  \"commune\": \"\",\n  \"quartier\": \"\",\n  \"prix\": \"\",\n  \"telephone\": \"\",\n  \"caracteristiques\": \"\",\n  \"publie_par\": \"\",\n  \"meubles\": \"Oui/Non\",\n  \"chambre\": \"\",\n  \"disponible\": \"Oui/Non\"\n}\n\n# RÈGLES STRICTES\n- Ne JAMAIS inventer de données.\n- Pour \"disponible\", mets \"Oui\" sauf si explicitement pris.\n- Si le message contient '[Image sans description]', '[Vocal inaudible]', '[Document:', '[Contact partagé:', ou '[Localisation:', retourne JSON avec champs vides sauf disponible: \"Non\".\n- Donne UNIQUEMENT le JSON en output."},{"content":"=Publication de {{ $json.expediteur }} dans le groupe {{ $json.nom_groupe || $json.groupe }}\n\nContenu du message : {{ $json.message }}\n\nContact du publieur : {{ $json.telephone }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-528,-128],"id":"efa7540f-87c4-4a90-a06f-9202cd00da2e","name":"Analyse IA Immobilier","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,-128],"id":"0a134868-f3f3-4ae0-92a2-f6e3e52b0b3a","name":"Normaliser Prix"},{"parameters":{"url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,-128],"id":"be241e15-a8e0-4976-af5b-1174fe37c7eb","name":"Lecture Locaux"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-128],"id":"a536ff46-de40-4279-9797-ad93d815c5a9","name":"Detecteur Doublons Locaux"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-doublon","leftValue":"={{ $json._is_duplicate }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[496,-128],"id":"49822806-190f-4655-bcd0-51e03f5cceab","name":"Doublon detecte?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-224],"id":"6145ff42-4a1f-4a36-9730-ac07a9313d1a","name":"Doublon - Ignorer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"check-skip","leftValue":"={{ $json._skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[720,-32],"id":"a4d13a4e-01ba-4e74-9379-85cc28662ca4","name":"Donnees valides?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ref_bien\": {{ JSON.stringify($json._ref_bien || '') }},\n  \"type_de_bien\": {{ JSON.stringify($json.type_de_bien || '') }},\n  \"type_offre\": {{ JSON.stringify($json.type_offre || '') }},\n  \"zone_geographique\": {{ JSON.stringify($json.zone_geographique || '') }},\n  \"commune\": {{ JSON.stringify($json.commune || '') }},\n  \"quartier\": {{ JSON.stringify($json.quartier || '') }},\n  \"prix\": {{ JSON.stringify($json.prix || '') }},\n  \"telephone\": {{ JSON.stringify($json.telephone || '') }},\n  \"caracteristiques\": {{ JSON.stringify($json.caracteristiques || '') }},\n  \"publie_par\": {{ JSON.stringify($json.publie_par || '') }},\n  \"meubles\": {{ JSON.stringify($json.meubles || 'Non') }},\n  \"chambre\": {{ JSON.stringify($json.chambre || '') }},\n  \"disponible\": {{ JSON.stringify($json.disponible || 'Oui') }},\n  \"groupe_whatsapp_origine\": {{ JSON.stringify($json._source_nom_groupe || $json._source_groupe || '') }},\n  \"date_publication\": {{ JSON.stringify($json._source_timestamp ? new Date(Number($json._source_timestamp) * 1000).toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) : new Date().toLocaleDateString('fr-FR')) }},\n  \"lien_image\": {{ JSON.stringify($json._source_lien_image || '') }},\n  \"message_initial\": {{ JSON.stringify($json._source_message_initial || '') }},\n  \"publication_id\": {{ JSON.stringify($json._source_publication_id || '') }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,-128],"id":"8c1a849e-1f65-41da-9880-3d7fe140e01a","name":"Sauvegarder Local"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,64],"id":"b62cf047-909c-41e0-b0b0-b5849b9ddf4c","name":"Donnees vides - Ignorer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-fromme","leftValue":"={{ $json.fromMe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-6272,428],"id":"426c13a7-038b-4c20-8f9d-342e16c0aa03","name":"Message Sortant?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6048,332],"id":"dabfaf05-5ee1-465e-8f37-ac746cc8e3a6","name":"Ignorer (sortant)1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"condition-audio","leftValue":"={{ $json.message.audioMessage }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-6048,524],"id":"b8b32b19-edac-4b7a-bf13-28f7049a50b5","name":"Audio ou Texte?1"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/decrypt-media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ data: { messages: { key: { id: $('Normaliser Webhook').first().json.messageId }, message: { audioMessage: { url: $('Normaliser Webhook').first().json.message.audioMessage.url, mimetype: $('Normaliser Webhook').first().json.message.audioMessage.mimetype, mediaKey: $('Normaliser Webhook').first().json.message.audioMessage.mediaKey } } } } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5824,428],"id":"982ee01e-7443-4c0d-8244-34f5ec0511a8","name":"Decrypter L'audio1"},{"parameters":{"url":"={{ $json.publicUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5600,428],"id":"fc4e2ffc-41a1-431a-b176-5a7a88c7d418","name":"Telecharger Audio1"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-5376,428],"id":"476795df-fa35-451d-a145-7f225a06b41f","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"assignments":{"assignments":[{"id":"f9699fa6","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5152,428],"id":"a278bca3-a9be-4cd5-999c-84621b4ca149","name":"Recuperer l'audio en text1"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5152,620],"id":"e997485f-12c1-4dd7-82d3-08c350083182","name":"Recuperer le message texte1"},{"parameters":{"promptType":"define","text":"=Message de l'utilisateur: {{ $json.text }}","options":{"systemMessage":"# IDENTITÉ\nTu es l'assistant virtuel de BOGBE'S GROUPE MULTI-SERVICES, une agence immobilière basée en Côte d'Ivoire.\nTu communiques via WhatsApp avec des prospects qui cherchent un logement.\n\n# RÈGLES ABSOLUES\n1. Ne JAMAIS révéler que tu es une IA.\n2. Ne JAMAIS inventer d'informations.\n3. Messages courts (max 80 mots), adaptés à WhatsApp.\n4. Ton professionnel et chaleureux.\n5. Maximum 2 offres par message.\n6. Ne JAMAIS proposer proactivement l'adresse.\n7. Quand le client donne son nom, utilise M. ou Mme.\n\n# FORMAT DES PRIX\nFormater avec espaces : 50000 → 50 000. Pas de devise.\n\n# COMPORTEMENT\n1. Accueil → 2. Critères → 3. Recherche → 4. Présentation (ref_bien) → 5. Nom → 6. Date visite → 7. Confirmation → 8. Transfert si demandé\n\nRéponds UNIQUEMENT avec le texte du message destiné au client."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-4872,524],"id":"6f1a6921-3245-45a8-ad9e-b6d852c30917","name":"Agent Conversationnel1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4928,748],"id":"2dadca18-6c7c-4a16-b7d9-593389284a5a","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-4800,748],"id":"84c2c3ed-1cb3-4988-9cae-4301b2f022bc","name":"Simple Memory1"},{"parameters":{"name":"recherche_biens_immobiliers","description":"Recherche tous les biens immobiliers disponibles.","jsCode":"// TODO"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-4672,748],"id":"aaff9d2c-67c3-48d6-af34-bc5e9d2e2b5e","name":"Outil Recherche Locaux"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"responses":{"values":[{"role":"system","content":"Analyseur de conversations immobilières. Extrais en JSON : interesse, transfert_urgent, montrer_media, visite_programme, nom, date_rv, local_interesse, ref_bien. UNIQUEMENT JSON valide."},{"content":"=Message: {{ $json.text }}\nRéponse assistant: {{ $('Agent Conversationnel1').first().json.output }}\n\n{\"interesse\":false,\"transfert_urgent\":false,\"montrer_media\":false,\"visite_programme\":false,\"nom\":\"\",\"date_rv\":\"\",\"local_interesse\":\"\",\"ref_bien\":\"\"}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}},"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-4464,524],"id":"2f25dd86-6004-4b31-9e5e-43566e35f919","name":"Agent Analyseur1","credentials":{"openAiApi":{"id":"toKKNKCxt5GPmAor","name":"API Agent Immo"}}},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4112,524],"id":"cb04c94f-bfc8-404a-9da8-98c0081bf7cf","name":"Parser Analyse1"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Normaliser Webhook').first().json.cleanedSenderPn }}"},{"name":"text","value":"={{ $('Parser Analyse1').first().json.reply }}"}]},"options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3888,236],"id":"b969ed5a-ee70-46c8-a26a-8547ad4a20c8","name":"Envoyer Reponse WhatsApp1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a0e3d7c4","leftValue":"={{ $('Parser Analyse1').first().json.visite_programme }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3888,620],"id":"7df3021b-4a0f-48f8-94b1-f491de82f216","name":"Visite Programmee?1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3664,716],"id":"f9b1ab42-6c3a-4813-9b57-17effbc78cbe","name":"Pas de visite - Ignorer1"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee?numero=eq.{{ encodeURIComponent($('Normaliser Webhook').first().json.cleanedSenderPn) }}&local_interesse=eq.{{ encodeURIComponent($('Parser Analyse1').first().json.local_interesse) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3664,524],"id":"3421049b-7b42-4449-9a6b-6fbab94c5600","name":"Verifier Visite Existante"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3440,524],"id":"60723e3e-401e-4d2a-8d55-33b7443281fc","name":"Evaluer Resultat Visite"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-vide","leftValue":"={{ $json.visite_existe_deja }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3216,524],"id":"f1aee9a5-da7b-4eaf-978a-a3bafd7d2a4f","name":"Pas encore programmee?"},{"parameters":{"method":"POST","url":"https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/visite_programmee","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"nom_prenom\": {{ JSON.stringify($('Parser Analyse1').first().json.nom) }},\n  \"numero\": {{ JSON.stringify($('Normaliser Webhook').first().json.cleanedSenderPn) }},\n  \"date_rv\": {{ JSON.stringify($('Parser Analyse1').first().json.date_rv) }},\n  \"local_interesse\": {{ JSON.stringify($('Parser Analyse1').first().json.local_interesse) }},\n  \"ref_bien\": {{ JSON.stringify($('Parser Analyse1').first().json.ref_bien) }},\n  \"visite_prog\": \"Oui\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2992,428],"id":"3570a9b0-d540-473b-bfa0-419e6263624b","name":"Enregistrer Visite Programmee"},{"parameters":{"url":"=https://udyfhzyvalansmhkynnc.supabase.co/rest/v1/locaux?disponible=eq.Oui&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkeWZoenl2YWxhbnNtaGt5bm5jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTE5NjM1NywiZXhwIjoyMDg2NzcyMzU3fQ.XToUDvcD-crlO0bA8HuJ5g1GjhqTl790fHG6H8bujAk"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2768,428],"id":"3868dcb1-ac20-481b-945b-15e84c6263eb","name":"Chercher Local"},{"parameters":{"jsCode":"// TODO"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2544,428],"id":"546eadce-b84e-47d0-bf73-5a8ab134736c","name":"Recherche Intelligente Local"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-tel","leftValue":"={{ $json.telephone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2320,428],"id":"d39fef38-03c6-4738-8b22-4303a6f0acc7","name":"Telephone Proprietaire Trouve?"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"to","value":"2250544872051"},{"name":"text","value":"=🏠 DEMANDE DE VISITE\n\n📋 Réf : {{ $('Recherche Intelligente Local').first().json.ref_bien || $('Parser Analyse1').first().json.ref_bien || '?' }}\n👤 {{ $('Parser Analyse1').first().json.nom }}\n📱 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n🏡 {{ $('Parser Analyse1').first().json.local_interesse }}\n📅 {{ $('Parser Analyse1').first().json.date_rv }}\n\nMerci de contacter rapidement."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2096,332],"id":"8d355865-01b2-402d-9cfe-3a831f4b5207","name":"Notifier Proprietaire"},{"parameters":{"method":"POST","url":"https://www.wasenderapi.com/api/send-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9e3e991ef6c1032622dea850799388f52e917f8e2dae3351459c1f447f5cd"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"to","value":"2250778311541"},{"name":"text","value":"=⚠️ VISITE À TRAITER\n\n📋 Réf : {{ $('Parser Analyse1').first().json.ref_bien || '?' }}\n👤 {{ $('Parser Analyse1').first().json.nom }}\n📱 {{ $('Normaliser Webhook').first().json.cleanedSenderPn }}\n🏡 {{ $('Parser Analyse1').first().json.local_interesse }}\n📅 {{ $('Parser Analyse1').first().json.date_rv }}\n\n❌ Tél propriétaire non trouvé."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2096,524],"id":"0b853c9d-8a4e-48ea-a90f-910ff5277f08","name":"Notifier Agence (Fallback)"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2992,620],"id":"8aa7b935-f4d6-4653-8716-d8969f51597e","name":"Deja programmee - Ignorer"}],"connections":{"Webhook Wassender":{"main":[[{"node":"Normaliser Webhook","type":"main","index":0}]]},"Normaliser Webhook":{"main":[[{"node":"Est un Groupe?","type":"main","index":0}]]},"Est un Groupe?":{"main":[[{"node":"Recuperer Nom Groupe","type":"main","index":0}],[{"node":"Message Sortant?1","type":"main","index":0}]]},"Recuperer Nom Groupe":{"main":[[{"node":"Extraire Nom Groupe","type":"main","index":0}]]},"Extraire Nom Groupe":{"main":[[{"node":"Message Sortant?","type":"main","index":0}]]},"Message Sortant?":{"main":[[{"node":"Ignorer sortant","type":"main","index":0}],[{"node":"Extraction Commune","type":"main","index":0}]]},"Extraction Commune":{"main":[[{"node":"Contenu Exploitable?","type":"main","index":0}]]},"Contenu Exploitable?":{"main":[[{"node":"Audio dans Groupe?","type":"main","index":0}],[{"node":"Ignorer Sticker","type":"main","index":0}]]},"Audio dans Groupe?":{"main":[[{"node":"Decrypter Audio Groupe","type":"main","index":0}],[{"node":"Chercher Publication Existante","type":"main","index":0}]]},"Decrypter Audio Groupe":{"main":[[{"node":"Telecharger Audio Groupe","type":"main","index":0}]]},"Telecharger Audio Groupe":{"main":[[{"node":"Transcrire Audio Groupe","type":"main","index":0}]]},"Transcrire Audio Groupe":{"main":[[{"node":"Injecter Transcription","type":"main","index":0}]]},"Injecter Transcription":{"main":[[{"node":"Chercher Publication Existante","type":"main","index":0}]]},"Chercher Publication Existante":{"main":[[{"node":"Generer Publication ID","type":"main","index":0}]]},"Generer Publication ID":{"main":[[{"node":"A une Image?","type":"main","index":0}]]},"A une Image?":{"main":[[{"node":"Decrypter Image","type":"main","index":0}],[{"node":"Preparer Pub Texte","type":"main","index":0}]]},"Decrypter Image":{"main":[[{"node":"Verifier Decryptage","type":"main","index":0}]]},"Verifier Decryptage":{"main":[[{"node":"Decryptage OK?","type":"main","index":0}]]},"Decryptage OK?":{"main":[[{"node":"Upload ImgBB","type":"main","index":0}],[{"node":"Fallback Image","type":"main","index":0}]]},"Upload ImgBB":{"main":[[{"node":"Construire Donnees Image","type":"main","index":0}]]},"Construire Donnees Image":{"main":[[{"node":"Supabase IMAGES","type":"main","index":0}]]},"Fallback Image":{"main":[[{"node":"Supabase IMAGES","type":"main","index":0}]]},"Supabase IMAGES":{"main":[[{"node":"A aussi du texte?","type":"main","index":0}]]},"A aussi du texte?":{"main":[[{"node":"Preparer Pub Image Texte","type":"main","index":0}],[{"node":"Preparer Image Seule","type":"main","index":0}]]},"Preparer Image Seule":{"main":[[{"node":"Nouvelle Publication?","type":"main","index":0}]]},"Preparer Pub Image Texte":{"main":[[{"node":"Nouvelle Publication?","type":"main","index":0}]]},"Preparer Pub Texte":{"main":[[{"node":"Nouvelle Publication?","type":"main","index":0}]]},"Nouvelle Publication?":{"main":[[{"node":"Supabase PUBLICATION","type":"main","index":0}],[{"node":"Image rattachee - Ignorer IA","type":"main","index":0}]]},"Supabase PUBLICATION":{"main":[[{"node":"Extraire Donnees Publication","type":"main","index":0}]]},"Extraire Donnees Publication":{"main":[[{"node":"Analyse IA Immobilier","type":"main","index":0}]]},"Analyse IA Immobilier":{"main":[[{"node":"Normaliser Prix","type":"main","index":0}]]},"Normaliser Prix":{"main":[[{"node":"Lecture Locaux","type":"main","index":0}]]},"Lecture Locaux":{"main":[[{"node":"Detecteur Doublons Locaux","type":"main","index":0}]]},"Detecteur Doublons Locaux":{"main":[[{"node":"Doublon detecte?","type":"main","index":0}]]},"Doublon detecte?":{"main":[[{"node":"Doublon - Ignorer","type":"main","index":0}],[{"node":"Donnees valides?","type":"main","index":0}]]},"Donnees valides?":{"main":[[{"node":"Sauvegarder Local","type":"main","index":0}],[{"node":"Donnees vides - Ignorer","type":"main","index":0}]]},"Message Sortant?1":{"main":[[{"node":"Ignorer (sortant)1","type":"main","index":0}],[{"node":"Audio ou Texte?1","type":"main","index":0}]]},"Audio ou Texte?1":{"main":[[{"node":"Decrypter L'audio1","type":"main","index":0}],[{"node":"Recuperer le message texte1","type":"main","index":0}]]},"Decrypter L'audio1":{"main":[[{"node":"Telecharger Audio1","type":"main","index":0}]]},"Telecharger Audio1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Recuperer l'audio en text1","type":"main","index":0}]]},"Recuperer l'audio en text1":{"main":[[{"node":"Agent Conversationnel1","type":"main","index":0}]]},"Recuperer le message texte1":{"main":[[{"node":"Agent Conversationnel1","type":"main","index":0}]]},"Agent Conversationnel1":{"main":[[{"node":"Agent Analyseur1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agent Conversationnel1","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Agent Conversationnel1","type":"ai_memory","index":0}]]},"Outil Recherche Locaux":{"ai_tool":[[{"node":"Agent Conversationnel1","type":"ai_tool","index":0}]]},"Agent Analyseur1":{"main":[[{"node":"Parser Analyse1","type":"main","index":0}]]},"Parser Analyse1":{"main":[[{"node":"Envoyer Reponse WhatsApp1","type":"main","index":0},{"node":"Visite Programmee?1","type":"main","index":0}]]},"Visite Programmee?1":{"main":[[{"node":"Verifier Visite Existante","type":"main","index":0}],[{"node":"Pas de visite - Ignorer1","type":"main","index":0}]]},"Verifier Visite Existante":{"main":[[{"node":"Evaluer Resultat Visite","type":"main","index":0}]]},"Evaluer Resultat Visite":{"main":[[{"node":"Pas encore programmee?","type":"main","index":0}]]},"Pas encore programmee?":{"main":[[{"node":"Enregistrer Visite Programmee","type":"main","index":0}],[{"node":"Deja programmee - Ignorer","type":"main","index":0}]]},"Enregistrer Visite Programmee":{"main":[[{"node":"Chercher Local","type":"main","index":0}]]},"Chercher Local":{"main":[[{"node":"Recherche Intelligente Local","type":"main","index":0}]]},"Recherche Intelligente Local":{"main":[[{"node":"Telephone Proprietaire Trouve?","type":"main","index":0}]]},"Telephone Proprietaire Trouve?":{"main":[[{"node":"Notifier Proprietaire","type":"main","index":0}],[{"node":"Notifier Agence (Fallback)","type":"main","index":0}]]}}}